[2021-11-11 18:35] Reiers commented on #48
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedxe5ip7jhtdod4n6p2hn3yohbvvufnxd6372oypulj5c5rb3xpp2

[2021-11-11 18:37] Reiers commented on #47
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebjbyx34oqmnmgry6s5vlc5fzvkyamrr6iidejlwzz7j5qqrme356

[2021-11-11 18:40] Reiers commented on #38
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceanmb6xuijt5dskwduy2orsikefxuzf2kv7zlhrbgu4rlqchn2hrm

[2021-11-11 18:44] Reiers commented on #35
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced7456q6dmkjds6adimusctfd3mhs7wpegj76cnic7d3t4wea4suc

[2021-11-12 03:08] hopsum commented on #84
It has been made clear that LDN is not open to miners,such as Guazi Dynamic.
<img width="641" alt="gal" src="https://user-images.githubusercontent.com/75601384/141402378-b6cafd39-9dde-4ca1-94cc-1f8bf4bdd5b7.png">

[2021-11-12 03:14] Fatman13 commented on #84
@hopsum "and exclusively self-deal" from your screenshot.

[2021-11-12 03:16] Fatman13 commented on #84
@hopsum https://github.com/keyko-io/filecoin-clients-onboarding/issues/102#issuecomment-799745985

[2021-11-12 03:19] Fatman13 commented on #84
@hopsum screenshot
![image](https://user-images.githubusercontent.com/1591330/141403326-c51f7991-f48b-4561-ae81-e8ae0b6f6dd9.png)

[2021-11-12 03:30] hopsum commented on #84
Yes，it's critical to miners. I've given up.

[2021-11-12 06:00] snowliang123 opened #88 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-11-12 09:31] Fatman13 commented on #84
@hopsum do you need help distributing datacap? Or do you have trouble getting more datacap? We can connect on Slack to discuss more in details.

[2021-11-13 14:59] POWPOWER2021 opened #89 "[DataCap Application] POW POWER"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Pow Power
- Website / Social Media: https://www.powpower.net/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain addres

[2021-11-14 05:38] AnthnoySmith commented on #89
Could your total public dataset be retrieved and downloaded from your website?

[2021-11-14 05:58] AnthnoySmith commented on #81
You‘d better let the institute know what you are doing and give you an authorization document.

[2021-11-15 01:22] POWPOWER2021 commented on #89
@AnthnoySmith Actually, not. Because we don't have enough storage space to do this. But we can update new data from time to time.

[2021-11-15 01:40] QingyunEducation commented on #31
@flyworker@galen-mcandrew @jennijuju @MegTei @ozhtdong Is there any other question, we will provide support.

[2021-11-15 02:58] IreneYoung commented on #86
Hi @Epengtimes, is there an offline data transfer process?

[2021-11-15 03:11] cdsmlhw commented on #48
Hope to get more support, only 5GB left.

[2021-11-15 03:13] cdsmlhw commented on #48
The last issue: https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/11

[2021-11-15 03:15] cdsmlhw commented on #48
@swatchliu
@MRJAVAZHAO
@steven004
@rayshitou
@XnMatrixSV
@DarnellWashington
@neogeweb3

[2021-11-15 03:16] IreneYoung commented on #80
@flyworker Hi Charles, is NEXRAD one of new features on Filswan platform or anything else? And probably you didn't answer properly to the question 5, "Where was the data in this dataset sourced from?". So please leave your answer here, thanks.

[2021-11-15 04:51] flyworker commented on #84
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec2edqx3slfbq4rksdtcntz3rn77rtoggo5u7ob4eloc5a3ztt3vy

[2021-11-15 04:58] flyworker commented on #80
Hi  @IreneYoung , the data source comes from [Next Generation Weather Radar ](https://www.ncei.noaa.gov/products/radar/next-generation-weather-radar ) it can also be found here https://registry.opendata.aws/noaa-nexrad

It is not a new feature of filswan, but we will use filswan platform for distributing data as usual.

[2021-11-15 09:11] jamaulhideo27 opened #90 "[DataCap Application]Five Stones Research Corporation"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Five Stones Research Corporation
- Website / Social Media: https://www.5sr-hsv.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200

[2021-11-15 10:23] AnthnoySmith commented on #84
I'm a little bit curious , Anyone can tell me the rule whether the miners are allowed to make the application~

[2021-11-15 14:32] Epengtimes commented on #86
From the very beginning, we prefer to transfer data online. When we make some tests afterwards and find several miners with good reputation and technical strength, we may store some large dataset on HDDs first and then send the HDDs to miners offline to make the storage deals.

[2021-11-16 03:02] laurarenpanda commented on #78
Hi, there.
We have already used over 90% of the first allocation. I'd like to request the 2nd wave of allocation, 250 TiB, the 100% weekly allocation rate.
You can find the whole history of our storage deals here:
https://filplus.info/allocation_record?client_address=f3wgfwtrs5p6jrkwfl2mksqa2ivgbgdjjrhjbefy3n7qzvotc3y6sazmp5gfyj7um6jlgdvlbiepzawnc6wxtq&obj=eyJvcmdfbmFtZSI6IkZpbGVEcml2ZSIsImxkbl9hZ

[2021-11-16 08:45] Alex11801 opened #91 "[DataCap Application] Define NFT Platform"
# Large Dataset Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  Define Platform
- Website / Social Media: http://www.define.one
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain address for

[2021-11-16 08:58] Fatman13 commented on #84
@AnthnoySmith why do you create a github account to just post your question here again? I think it's out of scope of this thread. You can just check other issues and see by yourself if they are SPs, or get help from #fil-plus.

[2021-11-17 00:41] andrewxhill commented on #61
Hey all! We're still trucking along. We are ready for the next allocation, 90TiB. We are about 2-3 days left on our existing datacap. I'd love you help notaries!!!

[2021-11-17 01:40] shiji605 opened #92 "[DataCap Application] Zhengyu Technology: Life Sciences - Genomic Data"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Guangzhou Zhengyu Network Technology Co., Ltd
- Website / Social Media:https://mp.weixin.qq.com/mp/profile_ ext?action=home&__ biz=Mzg3NzU2MzMyNQ==&scene=124&uin=&key=&devicetype=Windows+10+x64&version=63030532&lang=zh_ CN&a8scene=7&

[2021-11-17 02:26] tokencan-tec commented on #76
@flyworker @galen-mcandrew Is there any update?

[2021-11-17 04:10] swatchliu commented on #60
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecxfciaxrxrkmp75vhemgbvpw6l3neh3f2qpovvfspyy57ze3u7xm

[2021-11-17 06:49] laurarenpanda commented on #78
Hi, @galen-mcandrew .
I'm not sure about the process of requesting the 2nd-week allocation, so I have just left a comment here.
If there is anything need me do, please let me know.

[2021-11-18 01:57] DarnellWashington commented on #73
The video looks good.
I will support it.

[2021-11-18 03:49] Alex12345699 opened #93 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-11-18 06:45] IreneYoung commented on #80
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebkvb3ybfxajz3qpsfzpo2idqsutkv3fpgsvtvojcrgjlg54edwjo

[2021-11-18 07:17] IreneYoung commented on #29
@ejnklf2351z Hi, glad to see that you moved forward with the request progress. I support you but I just can't sign it because our notary address doesn't exist in this Multisig Notary address f01322670 above. Anyway, hope some other notaries could review and sign the request for you. Good luck.

[2021-11-18 08:29] cryptowhizzard commented on #61
@galen-mcandrew can you provide the new tranche for us to sign?

[2021-11-18 09:52] emmeliaamondo opened #94 "[DataCap Application]X-TREME VIDEO"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: X-TREME VIDEO
- Website / Social Media: https://www.x-tremevideo.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain

[2021-11-18 15:54] andrewxhill commented on #61
thanks @cryptowhizzard! i think we've got 12-18hrs left on datacap for the project

[2021-11-18 15:54] andrewxhill commented on #61
oop, actually more like 8-12hrs

[2021-11-18 19:24] Reiers commented on #80
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceay4qjcktdtekzpbyrqfrtrv6wsvpiymlxws4b65hwxat77mzbc6s

[2021-11-18 19:25] dkkapur commented on #44
## Weekly DataCap Allocation Update requested
#### Update to expected weekly DataCap usage rate

[2021-11-18 19:25] dkkapur commented on #44
## DataCap Allocation requested

#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2021-11-18 19:25] dkkapur commented on #44
@whyrusleeping thanks for flagging.. seems like the subsequent allocation bot did not trigger. @fabriziogianni7 lets investigate this one. in the meantime, manually kicking off request for next allocation.

[2021-11-18 19:31] Reiers commented on #73
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebhermbcsdkid2v2uqffm5hbj54ikuvlis2lusaxylacw2jgstkew

[2021-11-18 19:34] Reiers commented on #44
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceddc376ath4zjbm3gip2j3fovcwgpv4gscazu3lr4hwslgraagi7u

[2021-11-18 19:42] cryptowhizzard commented on #44
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced4v53yqkqmcyfddchvuakrakz7nebhayv5c2t2kyqh5fkzar3l4c

[2021-11-18 19:43] cryptowhizzard commented on #61
@dkkapur

[2021-11-18 22:19] andrewxhill commented on #61
Pausing the project...

[2021-11-18 22:25] s0nik42 commented on #61
I will sign it in 5min

[2021-11-18 22:30] s0nik42 commented on #61
Actually, I would love to sign it but I don't see on plus.fil.org

[2021-11-18 22:31] galen-mcandrew commented on #31
@flyworker and other notaries, are there further questions at this time? Let us know if the above replies have satisfied your diligence requests at this time.

[2021-11-18 22:35] andrewxhill commented on #61
maybe i needed the specific format?

[2021-11-18 22:37] s0nik42 commented on #61
No clue, some action from @galen-mcandrew to create the "DataCap Allocation requested"

[2021-11-18 22:39] andrewxhill commented on #61
## DataCap Allocation requested
#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2021-11-18 22:40] andrewxhill commented on #61
that bot message looks promising. do i show up now?

[2021-11-18 22:40] s0nik42 commented on #61
let me see

[2021-11-18 22:42] s0nik42 commented on #61
Nothing

[2021-11-18 22:43] s0nik42 commented on #61
![image](https://user-images.githubusercontent.com/30711794/142508461-f151e370-ee15-4a82-95fd-79b8a961e106.png)
![image](https://user-images.githubusercontent.com/30711794/142508482-953d2059-45b6-4f42-8775-e624e5f3c073.png)

[2021-11-19 08:12] cryptowhizzard commented on #61
Same here.

[2021-11-19 08:19] Alex12345699 opened #96 "[DataCap Application] shenzhen quantum cloud"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: shenzhen quantum cloud
- Website / Social Media:www.iweshow.com.cn
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):100T
- On-chain address

[2021-11-19 16:51] andrewxhill commented on #61
Bump here. @galen-mcandrew let me know if it's something I can fix.

[2021-11-19 19:46] andrewxhill commented on #61
captured an improvement idea here: https://github.com/filecoin-project/notary-governance/discussions/321

[2021-11-20 08:53] cryptowhizzard commented on #61
Still not visible.

[2021-11-20 17:14] Reiers commented on #61
This is very unfortunate for Textiles Competition Event.
**3 days without any response to this issue!?**
We need faster response times. cc: @dkkapur @galen-mcandrew

[2021-11-20 17:17] flyworker commented on #61
If it is for competition Can texile use other datacap e.g. we can provide our dataset datacap to help them. 50 tb

[2021-11-20 17:21] galen-mcandrew commented on #61
@fabriziogianni7 looks like the bot is adding and removing the label at the same time?

[2021-11-20 20:54] Reiers commented on #61
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedykrkbzb2mwlc3flnuzkhgboib6nra5l3dy5blxsskvkgpi23fu4

[2021-11-20 21:19] cryptowhizzard commented on #61
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceafoov5fqddhpiksngmgmnke5bzz2p3waddxx7bbclfk522bjayte

[2021-11-20 21:35] Reiers commented on #61
Now this is more like it - problem solved.
Thanks @galen-mcandrew and @fabriziogianni7 for resolving the problem with the bot.
and thanks @cryptowhizzard for stepping up with a signature 10:30pm on a Saturday (EU time)

@andrewxhill DataCap sent and you are good to go again. **Have a great weekend everybody !**

[2021-11-20 21:39] andrewxhill commented on #61
Thank you all!!!

On Sat, Nov 20, 2021 at 4:36 PM Nicklas ***@***.***> wrote:

--

*Andrew Hill, CEO*

Textile <https://www.textile.io/> | Mission
<https://textile.notion.site/Our-mission-is-to-accelerate-the-exchange-of-information-across-society-f49e389e12e14473a3475e755a8d9cd6>
 | Careers <https://boards.greenhouse.io/textileio>

[2021-11-20 21:46] Reiers commented on #78
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecvwrtqqykbdlukvsypvji3d455m44p35wvtta3hpofhq5novi674

[2021-11-22 03:20] shiji605 opened #97 "[DataCap Application]Shanghai QingSong Yu-Geospatil Data"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Shanghai QingSong Yu Enterprise Management Co., Ltd
- Website / Social Media:www.qingsongyu.cn
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100

[2021-11-22 03:24] XnMatrixSV commented on #48
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceczytyaayzfktjqi4awiiadaykllwvvyrshdmdkhdbgjgz76mu42k

[2021-11-22 06:04] liyunzhi-666 commented on #81
It's been almost a month. There's no next audit yet. @galen-mcandrew

[2021-11-22 08:13] s0nik42 commented on #61
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceapq6b3hc7zdbbmb4rxfznxcd34pvc2zxeef7m6wqygecazeksx5w

[2021-11-22 08:17] s0nik42 commented on #61
Any reason, once I signed on app.fil.org we only see 1 Approval ? even if Both @Reiers @cryptowhizzard signed it as well ?

![image](https://user-images.githubusercontent.com/30711794/142826407-f44354ae-dfc1-490b-b2ce-96618dbbb4f1.png)

[2021-11-22 09:59] EcologyLtd commented on #36
Hi there, how should we follow up on this? Can we attend and clarify on the weekly notary meeting if that's more efficient? Thanks!

[2021-11-22 22:58] galen-mcandrew commented on #61
@s0nik42 you see 1 approval because that is your approval message. Reiers and Crypto sent 2 messages (proposal and approval) and your message started the next transaction. So at this time, there is a pending transaction from you waiting for the second approval, which will clear the threshold of 2.

[2021-11-23 07:22] Berry090 opened #98 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Wave.video
- Website / Social Media: https://wave.video/about
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain address

[2021-11-23 08:33] dkkapur commented on #75
https://filfox.info/en/message/bafy2bzacedq3qmhjr7waxkck5femiokw6rg4cbrkruof2piiuhksd3kenwzza looks like this was approved

[2021-11-23 08:34] snowliang123 opened #99 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-11-23 08:43] snowliang123 opened #100 "[DataCap Application] Wuhan Lianlian Digital Technology Co., Ltd"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  Wuhan Lianlian Digital Technology Co., Ltd
- Website / Social Media:  Company official website：http://www.xdlipfs.com/
Sina Weibo：https://weibo.com/u/7605817825?is_hot=1
WeChat official account：https://mp.weixin.qq.com/mp/profile_ex

[2021-11-23 08:47] #99 closed

[2021-11-23 09:01] ClarkYin5566 opened #101 "[DataCap Application] アローズコーポレーション"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: アローズコーポレーション
- Website / Social Media: https://arrows-corp.co.jp/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):  5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 300TiB
- On-chain add

[2021-11-23 09:04] #88 closed

[2021-11-23 09:04] caveblockchain opened #102 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Grotto Blockchain
- Website / Social Media: www.grottoblockchain.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 20 TiB
- On-chain

[2021-11-23 09:19] laurarenpanda commented on #78
Hi, all.
We are all ready for the 2nd-week allocation. For now, we still need one Notary's sign.
We are most grateful for your help!

[2021-11-23 13:22] Reiers commented on #78
@MegTei Looks like it just us on this application - if you have the time, review and sign again.

[2021-11-23 16:32] flyworker commented on #31
@galen-mcandrew  I prefer a GCN notary to continue the DD process, since they know more about the local government laws and details.  How do you think?

[2021-11-23 23:41] MegTei commented on #83
HI @galen-mcandrew getting varied error msgs attempting to approve this

[2021-11-23 23:49] MegTei commented on #78
HI @Reiers Im having a crack but getting errors. I'll keep trying

[2021-11-24 00:02] MegTei commented on #78
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedtokl5ie3rzspr7di5akycelhsnscgfhqw7qtq5nzpsmvqmsooa2

[2021-11-24 01:45] MegTei commented on #81
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceabe7ld24yahgvdj6utsmwkdux73jp2qvkeziueqo3yvwn5jz6qra

[2021-11-24 02:07] MegTei commented on #73
HI @galen-mcandrew Having trouble approving, seeing this error
![image](https://user-images.githubusercontent.com/80305349/143158492-8a65c2c6-624f-4b1a-8db4-f87ea5d6ae2d.png)

[2021-11-24 02:09] laurarenpanda commented on #78
Hi, @Reiers and @MegTei .
Thanks so much for your support and help! Really appreciate it!

[2021-11-24 02:15] MRJAVAZHAO commented on #31
We will do some survey about this project.

[2021-11-24 22:52] galen-mcandrew commented on #36
Representatives from Ecology joined our Notary Governance call on 11.23 and provided some more details and context about the hurdles they have been facing with onboarding. The recording of that call will be available soon.

In the meantime, the governance team will remove the diligence label and start the next allocation. We encourage notaries to review the information shared here and ask further

[2021-11-24 23:16] galen-mcandrew commented on #93
Closing, as this appears to be a duplicate and is blank.

[2021-11-24 23:16] #93 closed

[2021-11-24 23:19] galen-mcandrew commented on #91
@Alex11801 We will need an active client address in order to move forward with next steps for the large dataset application process. Please provide the active client address for receiving the DataCap; this will be the address that you use to make deals with storage providers, as DataCap cannot be transferred between client addresses.

[2021-11-24 23:29] galen-mcandrew commented on #83
@coveyfassam I am having an issue downloading the sample data that you provided. Are you a representative of NOAA? Can you please provide some more sample data and a contact email from the official NOAA.gov domain?

[2021-11-24 23:31] galen-mcandrew commented on #83
@MegTei it appears this message went through: https://filfox.info/en/message/bafy2bzaceb2xryy2krnmuaski7nqr5kvosxy26xcgcuflt42ivepocdjgqnzy

Based on verify.glif, this client has 50 TiB of DataCap, with your approval on 11-23.

That said, I have some follow-up questions for this client based on the US government agency they are claiming to represent.

[2021-11-24 23:37] galen-mcandrew commented on #76
The notaries are responsible for performing diligence and signing the requested allocations. At this time, the notaries will need to weigh in and approve.

Flagging a concerning part of your application though, which may be causing the notaries some confusion: it appears that you are also a storage provider on the Filecoin network, and that you claim to

The large dataset process is not intended f

[2021-11-25 01:56] tokencan-tec commented on #76
@galen-mcandrew hi, this is a mistake ,my own dat centre is not for IPFS miner , it's  only for the web application and database，and provide k8s service

[2021-11-25 04:10] Alex11801 commented on #91
@galen-mcandrew thanks Galen for your kind reminder. I have updated the application and provided an available active address above, which is f1rb4fa2yoozp7ju6xlnau57uxbmhaf3blwz2njdi. Please check it again. If any problem, let me know.

[2021-11-25 07:55] Alex12345699 opened #103 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-11-25 08:28] ozhtdong commented on #36
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedfqm47nn555nwqp2gmi4jsp3zq776vsfnecnjoqlg6arbl3g2foo

[2021-11-25 08:39] AnthnoySmith commented on #81
For scientific research dataset, it is better to obtain the authorization of Chinese Government.

[2021-11-25 08:57] swatchliu commented on #59
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebbaschaltzc62tiewpiipyyajtnmuajt64y4sezcgcnuznw57b5q

[2021-11-25 09:02] liyunzhi-666 commented on #81
Why does a publicly accessible and downloadable data set require the consent of the Chinese government?

[2021-11-25 10:03] fabriziogianni7 commented on #73
@MegTei it appears this message went through:
https://filfox.info/en/message/bafy2bzacedm3lmnnb723zotdisecphw44oabe3iwy3xfovm3tlxzfikuvxvj4
Based on verify.glif, this client has 25 TiB of DataCap.

@galen-mcandrew changing labels to this issue.

[2021-11-25 10:05] fabriziogianni7 commented on #73
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedm3lmnnb723zotdisecphw44oabe3iwy3xfovm3tlxzfikuvxvj4

[2021-11-25 10:07] fabriziogianni7 commented on #83
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb2xryy2krnmuaski7nqr5kvosxy26xcgcuflt42ivepocdjgqnzy

[2021-11-25 11:32] MRJAVAZHAO commented on #31
1. Guangdong Charity Federation does have Qingyun Education Fund(青云教育公益基金).
http://www.gdcf.org.cn/pv.html?id=b5ada4b1-71ba-4271-8d01-e99d0d178f30&URLparamName=%E9%9D%92%E4%BA%91%E6%  95%99%E8%82%B2%E5%85%AC%E7%9B%8A%E5%9F%BA%E9%87%91
2. The search engine did not find more information. But some news were found through Wechat.
![image](https://user-images.githubusercontent.com/47096545/143433698-65

[2021-11-25 18:51] Reiers commented on #59
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedyydgecup6lgkqd6wa4odd6f37womsxciktfeavc75skmg2uufpi

[2021-11-26 02:19] mojoxi commented on #76
Do you have the resources/funding to start making deals as soon as you receive DataCap? What support from the community would help you onboard onto Filecoin?

yes, cooperate with local(loudi) government of Hunan province PRC
----------------------

As far as I know the Chinese government does not support and even suppress such subject/actions according to its recent polices.

Any proof you can pro

[2021-11-26 02:48] AnthnoySmith commented on #81
Scientific research dataset is sensitively and conditionally shared in China. You may  accidentally brake the law if you don't get any permission from local government.

[2021-11-26 03:24] swatchliu commented on #36
We are willing to sign for the second round if you can keep the promise that allocated for 30 miners.

[2021-11-26 06:39] liyunzhi-666 commented on #81
The astronomical data mentioned in the application comes from this website (https://nadc.china-vo.org) and the data source and usage have been clearly stated in the application. The website also clearly states that relevant astronomical data can be downloaded and used. I think you are raising unreasonable questions without understanding. I hope you can ask questions after you understand the data u

[2021-11-26 07:27] POWPOWER2021 commented on #89
@galen-mcandrew Hi, what should we do to push it forward?

[2021-11-26 10:12] Russell334 opened #104 "[DataCap Application] Simpleshow"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  Simpleshow
- Website / Social Media: https://videomaker.simpleshow.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200TiB
- On-cha

[2021-11-27 16:48] xinaxu commented on #36
Hi notaries. I came across this client while searching for filplus clients to take deals. After checking all verified deals made by this client, I found out that a significant portion of the datacap are deals made with storage provider `f01264125` and `f01466173`. `f01466173` has an internal public IP address `10.x.x.x` while `f01264125` does not even has a published IP address. Since they have al

[2021-11-29 02:56] #82 closed

[2021-11-29 03:19] jungmin6168 opened #106 "[DataCap Application] Meta Blockchain"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Meta Blockchain
- Website / Social Media: www.meta-blockchain.io
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain add

[2021-11-29 03:26] KoDong132 opened #107 "[DataCap Application] IPFS Sungnam"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: IPFS Sungnam
- Website / Social Media: https://cafe.naver.com/ipfssungnam
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 50TiB
- On-ch

[2021-11-29 05:10] ozhtdong commented on #31
The applicant needs to add more materials and explain the entrustment relationship between you and the Qingyun Education. It‘s  necessary to have more discussion before approval.

[2021-11-29 09:29] pauljyk opened #108 "[DataCap Application]OpenStreetMap"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: OpenStreetMap
- Website / Social Media: https://www.openstreetmap.org/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200TiB
- On-chain

[2021-11-29 09:45] QingyunEducation commented on #31
Hello, I am an employee of Qingyun Education Fund. What proofs do I need to provide?
Maybe you can provide a list of information.

[2021-11-29 09:45] QingyunEducation commented on #31
@ozhtdong

[2021-11-29 15:04] EcologyLtd commented on #36
Hi there, thanks for bringing this up. We’ve explained why most of the orders are sealed by 2 miners during the last Notary Governance Call (on 23 Nov). We will try to send deals to more miners for the following allocation.
For the public IP issue, we do take and send orders through the Internet. We’ve checked with the miner and their explanation is that they adopted technologies such as dynamic I

[2021-11-30 02:28] NDLabs opened #109 "[DataCap Application] ND LABS"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: ND LABS
- Website / Social Media: ND LABS (WeChat)
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 50TiB
- On-chain address for first al

[2021-11-30 05:20] GlobalUnit-A opened #110 "[DataCap Application]Global Unit-A Corp."
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: GLOBAL UNIT-A Corp.
- Website / Social Media: https://www.globalunit-a.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100Tib
- On-

[2021-11-30 06:52] jungmin6168 opened #112 "[DataCap Application] Meta Blockchain"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Meta Blockchain
- Website / Social Media: www.meta-blockchain.io
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain addre

[2021-11-30 06:56] MiniHub8899 opened #113 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-11-30 09:50] Alex11801 commented on #91
Our team has prepared ourselves to onboard our dataset to Filecoin. So, could we move forward with next steps for the large dataset application process?

[2021-12-02 02:29] QingyunEducation commented on #31
@dkkapur @galen-mcandrew @flyworker @MRJAVAZHAO @ozhtdong
What should we do?

[2021-12-02 05:14] jpo92po opened #114 "[DataCap Application] LG Whisen Dong-an Service"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: LG Whisen Dong-an Service
- Website / Social Media: http://www.xn--lg-jw7jsd091c.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 1

[2021-12-02 07:26] cea1063 opened #115 "[DataCap Application] Pharos"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Pharos Consulting
- Website / Social Media: www.pharosconsulting.co.kr
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain

[2021-12-02 08:04] changlizhi opened #116 "[DataCap Application]stariverpan"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Stariver Technology Co., Ltd(四川星河飞天科技有限公司)
- Website / Social Media: https://www.stariverpan.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1

[2021-12-02 11:06] ozhtdong commented on #81
For well-known reasons, we don't recommend using any dataset belonging to Chinese Govenment or Scientific Research, whether it is public or not in China.

[2021-12-02 23:32] seong-k opened #117 "[DataCap Application] TVCC"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: TVCC
- Website / Social Media: www.tvcc.kr / https://www.youtube.com/c/TVCC-Broadcast
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 10

[2021-12-03 02:29] Alex12345699 commented on #96
@galen-mcandrew

[2021-12-03 03:42] Fatman13 commented on #84
Hello, @galen-mcandrew, over 90% of our previous allocation has been successfully distributed, getting ready for round 2. Could you please initiate second round of notary signing? Thank you!

[2021-12-03 03:47] larson55 opened #118 "[DataCap Application]Wallpaper Flare"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Wallpaper Flare
- Website / Social Media:https://www.wallpaperflare.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-cha

[2021-12-03 05:38] kernelogic commented on #84
@Fatman13 looks like it's already automatically initialized. Just need to notaries to sign it now.

[2021-12-03 05:49] Fatman13 commented on #84
@kernelogic ahh got it. Thank you!

[2021-12-03 05:53] AICON-project opened #119 "[DataCap Application] AIDAPPS Co., Ltd."
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: AIDAPPS Co., Ltd.
- Website / Social Media: ai-dapps.com, twitter.com/AiconOfficial
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100T

[2021-12-03 09:46] ugolottiscougall commented on #87
hey can my application go ahead now? what's with the diligence thing?

[2021-12-04 17:07] flyworker commented on #116
sounds interesting,
In which geographies (countries, regions) do you plan on making storage deals?
China
Any reason China only?

[2021-12-05 07:15] changlizhi commented on #116
HI @flyworker, because our company is in china and we want stable providers in case that the providers not free for retrieve data after.If the providers are in china,we can find them for chatting,And the 5PiB datacap is so large that we maybe need to make deals offline.

[2021-12-06 01:54] Berry090 commented on #98
hey @galen-mcandrew, it's been about 2 weeks, can we proceed please?

[2021-12-06 02:31] emmeliaamondo commented on #94
Hi for how long should we expect an answer from this?

[2021-12-06 03:59] marik336514 opened #120 "[DataCap Application] MeiYa"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  Singapore Mei Ya Technology PTE.LTD.
- Website / Social Media: www.meiyauniverse.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 10

[2021-12-06 07:36] metawavee opened #121 "[DataCap Application]Genomic Data Commons for Slingshot"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  Metawave
- Website / Social Media: https://www.metawave.info/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200TiB
- On-chain address

[2021-12-06 08:18] laurarenpanda commented on #78
Hi there.
There are only 65 TiB DataCap left, and we plan to use them out within 3-4 days. And we're ready to receive the 3rd-week allocation, which would be 500 TiB.
@galen-mcandrew Please help us add rob label bot:readyToSign if the bot won't change our status automatically.
Thanks so much!

[2021-12-06 16:44] kernelogic commented on #59
Hi @dkkapur @galen-mcandrew my address suddenly not a verified client anymore. I think it should still have more than 30TiB datacap before renew.

lotus filplus check-client-datacap f3xbtxeptbmiuevsbjnnsntx6p37a7q6lbw4x7gdkdkiih2ha4qlymoayd2xwk2mpgbwdvgievlje7eivh3e3q
ERROR: client f3xbtxeptbmiuevsbjnnsntx6p37a7q6lbw4x7gdkdkiih2ha4qlymoayd2xwk2mpgbwdvgievlje7eivh3e3q is not a verified client

[2021-12-07 09:48] syncjp opened #122 "[DataCap Application]"
[DataCap Application] SYNC LIVE JAPAN INC.

# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: SYNC LIVE JAPAN INC.
- Website / Social Media: www.synclive.co.jp
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usua

[2021-12-07 10:02] #122 closed

[2021-12-07 10:05] syncjp opened #123 "[DataCap Application] SYNC LIVE JAPAN INC."
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: SYNC LIVE JAPAN INC.
- Website / Social Media: www.synclive.co.jp
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain add

[2021-12-07 15:15] galen-mcandrew commented on #59
When I check https://verify.glif.io/ right now, it says that address has 64 GiB remaining. Very odd. @kernelogic can you double-check?

We are having an issue with the Fil+ registry app, so allocations are not showing up for notaries to sign or approve.

[2021-12-09 01:59] tjzhocean opened #126 "[DataCap Application] Tianjin Zhihui Marine Technology Co., Ltd"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Tianjin Zhihui Marine Technology Co., Ltd
- Website / Social Media: www.tjzhocean.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200

[2021-12-09 08:08] multiverse2022 opened #127 "[DataCap Application]Multiverse Labs"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Multiverse Labs
- Website / Social Media: https://www.multiverse.ai/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain a

[2021-12-09 23:11] flyworker commented on #59
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedhok6zcirtdgrzisi6nkugbhobisr3komu637obphtvxnvpuyndy

[2021-12-09 23:15] flyworker commented on #44
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb4bcknn4wgp7y7zlfoa5rgumuqcpacrnehb4tfi5ztzd6lduuzve

[2021-12-09 23:20] flyworker commented on #61
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec4wmi5meskypxr2jrmfqf66miqoib2odanyommduyvci3ymwkbxc

[2021-12-10 01:55] MegTei commented on #84
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb66aqr36asoltqiw6qdd7pw6jqzutecwbuxojy4ms3sw5ff7vq44

[2021-12-10 02:12] MegTei commented on #64
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebp4weluvd4ilpvvhnngt6b44dahwdgeb34qdmjvjgxdwxfrmu2hk

[2021-12-10 02:19] MegTei commented on #50
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea3jnuxd56mxy7q7uegot5qrh6zynmt2ed6etvqydddx4zw4u3q5y

[2021-12-10 03:20] Fatman13 commented on #84
Hello @galen-mcandrew, I see status:Error labeled for my current application by the bot. Is there any issue need to be resolved?

[2021-12-10 06:55] dannyob commented on #50
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecttmo4rkbbzbc6dfp7cvll7dzbmlqhyf2r7u2i5iq6wu4vnbib4c

[2021-12-10 06:56] dannyob commented on #78
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceabzvoh6p6xxneufhe4nb72qx6y2xkpd6m2iwtji5e3n6q4mhct42

[2021-12-10 10:13] fabriziogianni7 commented on #25
updating the comment of meg with the signer address to make it readable from the bot. cc @MegTei @dkkapur @galen-mcandrew

[2021-12-10 10:15] fabriziogianni7 commented on #52
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea4i245gwngvcvgk2uiwyjhjgjjdsmtq7bxqjvl4a24ombs7q7fyy

[2021-12-10 10:16] fabriziogianni7 commented on #52
adding the comment for the second approval to make it readable from the bot. cc @MegTei @dkkapur @galen-mcandrew

[2021-12-10 10:19] fabriziogianni7 commented on #75
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedq3qmhjr7waxkck5femiokw6rg4cbrkruof2piiuhksd3kenwzza

[2021-12-10 10:20] fabriziogianni7 commented on #75
added the comment to make it readable from the bot. cc @dkkapur @galen-mcandrew @XnMatrixSV

[2021-12-10 10:36] fabriziogianni7 commented on #84
@Fatman13 checking the message seems there is no error in the transaction --> removing the label.

[2021-12-10 10:38] fabriziogianni7 commented on #64
removing the error label, looks like the transaction was ok.

[2021-12-10 18:04] kernelogic commented on #60
@MegTei @flyworker could you help me to approve this?

[2021-12-10 18:05] kernelogic commented on #59
@galen-mcandrew could you help me to remove the Granted status so it can show up for approval?

[2021-12-10 23:04] Reiers commented on #60
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecg7vzbq5la62c2veyimdsy44ucgo3ly3z5hunqych6jesvxcw5ki

[2021-12-10 23:10] galen-mcandrew commented on #85
Hello @llb890427 at this time, the large dataset process is intended for public client data. It sounds like you are hoping to upload private or encrypted data, which we are not able to validate and verify at this time.

[2021-12-10 23:11] galen-mcandrew commented on #86
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-10 23:15] galen-mcandrew commented on #87
The website provided does not appear to match the project description. Additionally, the anticipated weekly allocation seems high for "cases of services", which I'm not entirely sure what that means. Please provide some more details and explanation about the dataset you represent.

[2021-12-10 23:17] galen-mcandrew commented on #89
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-10 23:20] galen-mcandrew commented on #90
Please provide some additional details, such as official contact email with professional domain.

[2021-12-10 23:25] galen-mcandrew commented on #92
@shiji605 can you clarify here: It sounds like you represent Guangzhou Zhengyu Network Technology Co., Ltd, but the website provided fails to load. Also it sounds like the dataset you are uploading is public SARS-CoV-2 Sequence data.

Can you clarify your role? Are you a representative of the client or a storage provider?

[2021-12-10 23:28] galen-mcandrew commented on #91
@Alex11801 Are you able to use https://verify.glif.io/ to request an automated first allocation of DataCap? This will also help initialize that client address.

[2021-12-10 23:28] galen-mcandrew commented on #91
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-10 23:30] galen-mcandrew commented on #94
Hi, please provide some additional details, such as an official contact email address with the professional domain.

[2021-12-10 23:33] galen-mcandrew commented on #96
@Alex12345699  Please provide a sample of the data:

[2021-12-10 23:36] galen-mcandrew commented on #97
@shiji605 Can you please clarify your role? Are you a representative of the client (Shanghai relaxed apartment Enterprise Management Co., Ltd.) or a storage provider? Additionally, it sounds like the client is an apartment management company, but the dataset you are referring to is satellite data. I'm not sure I understand how satellite data is related to the apartment management company.

[2021-12-10 23:39] galen-mcandrew commented on #98
@Berry090 Please provide some additional contact details, such as email address with official client domain.

[2021-12-10 23:45] galen-mcandrew commented on #100
@snowliang123 Can you please clarify your role? Are you a representative of Wuhan Lianlian Digital Technology Co., Ltd? Based on the website, it appears that organization may also be a storage provider on Filecoin network; is that correct? The data you reference in your application is from a different dataset, the LADI dataset.

[2021-12-10 23:54] galen-mcandrew commented on #101
@ClarkYin5566 Can you please clarify your role? Are you a representative of the client Arrows Corp? Is that a storage provider on the Filecoin network? It sounds like the dataset you are referring to is not related to the client.

[2021-12-11 14:35] AnthnoySmith commented on #91
It sounds like you want to upload private or NFT data. These data belong to each data owner rather than your platform. We can't verify them at present.

[2021-12-11 14:47] AnthnoySmith commented on #86
At this time, the large dataset process is intended for public client data. It sounds like you are hoping to upload private or encrypted data, which we are not able to validate and verify at this time. In addition, no one can get the download channel through your private email address or your dropbox.

[2021-12-11 20:01] flyworker commented on #60
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebnxxwrty2xg7jizbgpl5szdd7adndjfypo23rewmg3oiydz27s3i

[2021-12-12 06:52] laurarenpanda commented on #78
Hi, there.
We have already used up the 2nd-week allocation, and ready for next week's DataCap, which is 500 TiB.
You can find the whole history of our previous storage deals here: https://filplus.info/allocation_summary?client_address=f3wgfwtrs5p6jrkwfl2mksqa2ivgbgdjjrhjbefy3n7qzvotc3y6sazmp5gfyj7um6jlgdvlbiepzawnc6wxtq&obj=eyJzdGFydF9lcG9jaCI6MTMxMzUyMywibmFtZSI6IkZpbGVEcml2ZSIsInRpdGxlIjoiRGF0YU

[2021-12-13 03:49] cea1063 commented on #115
Hi Galen,
Could you update current status?

[2021-12-13 10:51] cooper2313 opened #128 "[DataCap Application]Toastmasters"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Toastmasters International
- Website / Social Media: https://www.toastmasters.org/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100Ti

[2021-12-13 17:06] galen-mcandrew commented on #103
Closing, as this appears to be a duplicate and is blank.

[2021-12-13 17:06] #103 closed

[2021-12-13 17:11] galen-mcandrew commented on #104
@Russell334 can you please clarify your role with the client, simpleshow? Do you have an official email address with that domain? Additionally, it sounds like the data you are uploading may not be public. Can you provide some more details?

[2021-12-13 17:16] galen-mcandrew commented on #106
@jungmin6168 It looks like the formatting for your application may have some issues, and the bot is not correctly able to parse your replies. Can you please either edit your application comment, or submit a new one? You can see others in this repo as examples.

Additionally, please clarify the nature of the data you are sourcing. Please provide some sample data for the notaries.

[2021-12-13 17:21] galen-mcandrew commented on #107
@KoDong132 It sounds like you are a representative of a storage provider on the Filecoin network. At this time, the large dataset process is for public client datasets, and not for storage providers to self-seal deals.

Can you please clarify or confirm these details?

[2021-12-13 17:29] galen-mcandrew commented on #108
@pauljyk Can you please clarify your role with OpenStreetMap? Are you a representative of this client? If so, please provide an official contact, such as an email with the client domain.

[2021-12-13 17:32] galen-mcandrew commented on #109
@NDLabs Based on your application, it sounds like you are a storage provider on the Filecoin network, and the data you are storing would be your own operating data stored with yourself. At this time, the large dataset application process is for clients to store large public datasets with distributed storage providers. Can you please clarify and provide some more details about your application?

[2021-12-13 17:39] galen-mcandrew commented on #110
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-13 17:44] #106 closed

[2021-12-13 17:45] galen-mcandrew commented on #112
@jungmin6168 Can you please provide sample data for the notaries?

[2021-12-13 17:46] galen-mcandrew commented on #113
blank, closing

[2021-12-13 17:46] #113 closed

[2021-12-13 17:50] galen-mcandrew commented on #114
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-13 17:52] galen-mcandrew commented on #114
@jpo92po I'm getting an error on the supplied client address. Can you please verify the client address you will be using to send deals?

[2021-12-13 18:11] galen-mcandrew commented on #116
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-13 18:27] galen-mcandrew commented on #117
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-13 18:31] galen-mcandrew commented on #118
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-14 01:23] jungmin6168 commented on #112
![DataSample1](https://user-images.githubusercontent.com/22315009/145915179-ddf43b78-2ff6-47c7-84b9-1a8eab0078db.jpg)

[2021-12-14 01:24] jungmin6168 commented on #112
![DataSample2](https://user-images.githubusercontent.com/22315009/145915286-910585e8-fa96-4ce4-bdba-ac595f7f58fb.jpg)

[2021-12-14 01:37] jpo92po commented on #114
Sorry, I want to modfify our client address, f3qj4kuodoxxw7n633uzo6okszcl5iediwkyqo5dfa4yralq5lcxfhhg5z7hcp4xebft74jqgb4o5hhzltxgiq

Thank you!!!

[2021-12-14 01:53] MRJAVAZHAO commented on #31
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceckiphw65cp2x5o4tm4fqe7cigq5j5ztfhk552t55bhmndxjsqleu

[2021-12-14 02:25] KoDong132 commented on #107
We plan to distribute data caps to major Filecoin storage providers in Seongnam, South Korea.
Seongnam is home to Korea's major IT companies, and their data will be a major source.

[2021-12-14 02:39] metawavee commented on #121
Hi, hope my issue gets your attention! @galen-mcandrew @dkkapur

[2021-12-14 02:44] KoDong132 commented on #114
Sorry, I want to modfify our client address, f3qj4kuodoxxw7n633uzo6okszcl5iediwkyqo5dfa4yralq5lcxfhhg5z7hcp4xebft74jqgb4o5hhzltxgiq

Thank you!!!

[2021-12-14 02:44] jpo92po commented on #114
Sorry, I want to modfify our client address, f3qj4kuodoxxw7n633uzo6okszcl5iediwkyqo5dfa4yralq5lcxfhhg5z7hcp4xebft74jqgb4o5hhzltxgiq

Thank you!!!

[2021-12-14 03:30] larson55 commented on #118
Thanks! waiting for the next step.

[2021-12-14 06:09] swatchliu commented on #121
We discussed with them on slack, and we are willing to support it .

[2021-12-14 07:05] Fenbushi-Filecoin commented on #127
Can you provide more details on the use-case? How is it related to the Multiverse blockchain?

[2021-12-14 07:05] Fenbushi-Filecoin commented on #127
Can you provide more details on the use case? How is it related to the Multiverse blockchain?

[2021-12-14 07:40] NDLabs commented on #109
@galen-mcandrew Hello, we provide storage services but the data we are storing isn't our own operating data. Maybe some misunderstanding here. We have made a open-source storage platform (https://ndlabs.decoo-cloud.cn/), and many clients storage their data in our platform and they all agree to make it public. So we would like to store them into Filecoin network.

[2021-12-14 08:31] snowliang123 commented on #100
@galen-mcandrew  Yes, I am a miner. I have two nodes in the filecoin network: f0761676 & f01100139. I want to store data in the network because I have customers under negotiation. They have some cold data to store, but they want to test the availability of the network. I can promise that the two nodes i own will not receive the allocated share.

[2021-12-14 08:35] multiverse2022 commented on #127
The data are used for machine learning by the projects in our Multiverse system. For example, medical/biology companies/projects partnered with us will use the annotated cancer/tumor scan image for neutral network machine learning, for the purpose of their R&D.

The machine learning process will not be happened on our blockchain. The Multiverse platform supports these projects by allowing users to

[2021-12-14 08:36] multiverse2022 commented on #127
The data are used for machine learning by the projects in our Multiverse system. For example, medical/biology companies/projects partnered with us will use the annotated cancer/tumor scan image for neutral network machine learning, for the purpose of their R&D.

The machine learning process will not be happened on our blockchain. The Multiverse platform supports these projects by allowing users to

[2021-12-14 09:07] TimWilliams00 commented on #128
I'm also one of your members. Last week the president of your club came to me to discuss this requirement.  Thanks for spreading the learning experience of toastmasters,propogating of self-growth thoughts,incubating thousands of Toastmasters. Hope we can help you to store these precious moments.

[2021-12-14 09:17] Fenbushi-Filecoin commented on #127
Sounds legit. Would like to be the notary for this application.

[2021-12-14 09:18] Fenbushi-Filecoin commented on #127
Sounds legit. Would like to be the notary for this application.

[2021-12-14 10:33] starling-admin commented on #53
@dkkapur + the Datacap notaries,

We'd like to move our next tranche of our approved data cap allocation to this wallet: f17g7h52bsi53rb263xwne573dusskit4mieqkgry

We are actively sealing deals and ready to scale.

Thanks!

[2021-12-14 10:49] Alex12345699 commented on #103
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "filecoin-project/filecoin-plus-large-datasets"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月14日(星期二) 凌晨1:06
***@***.***&gt;;
***@***.******@***.***&

[2021-12-14 14:54] galen-mcandrew commented on #114
@jpo92po Checking that address in Filfox, it appears to belong to a storage provider. The large dataset process is for clients with large public datasets, not for storage providers to self-deal.

Can you please clarify your role? Are you a representative of the client, LG Whisen Dong-an Service? If so, do you have a contact email address from that domain?

[2021-12-14 15:18] NDLabs commented on #109
@galen-mcandrew For more information, this project is like web3.0 version Wetransfer. But all information will be public.

[2021-12-14 16:04] galen-mcandrew commented on #59
Checking Glif, seeing 66TiB DC remaining. Just looking above, I'm seeing a proposal from flyworker and then an approval from MegTei.

Looks like this accurately removed readyToSign and replaced with Granted once the threshold of 2 was met. At this time, we are waiting for subsequent allocation bot to kick off and start next allocation, which would then adjust labels.

Am I missing something here?

[2021-12-14 17:01] Reiers commented on #59
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedrm6vbu3tn5eviaucwruz4d7adyhixckncqgur4kbgkx4tsjimrm

[2021-12-14 18:18] galen-mcandrew commented on #119
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-14 18:20] galen-mcandrew commented on #120
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-14 18:23] galen-mcandrew commented on #121
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-14 18:30] galen-mcandrew commented on #123
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-14 18:34] galen-mcandrew commented on #126
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-14 18:42] galen-mcandrew commented on #127
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-14 18:45] galen-mcandrew commented on #128
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-15 01:44] jpo92po commented on #114
I have one storage provider, but I am planning to allocate data to other providers according to fil-reputation site.

I am CEO of this company, you can contact me with this email : lgda@hanmail.net

[2021-12-15 03:37] ClarkYin5566 commented on #101
@galen-mcandrew I am the representative of the client Arrows Corp. Because one of our main businesses is the sales of solar energy equipment, NSRDB is an important source of data research. We will try to store NSRDB data in the IPFS network, and if feasible, we will provide our own public solar data.

[2021-12-15 07:01] laurarenpanda commented on #78
Hi, all.
We still need one Notary's sign to get the 3rd-week allocation.
@flyworker @Reiers @MegTei would you please help me to approve this?

[2021-12-15 07:14] MRJAVAZHAO commented on #127
@multiverse2022
Hi，Multiverse Labs.
Have You got the data usage permission from Digital Pathology Association?
Can you give us more information about Digital Pathology Association, like website, registered address, etc.

[2021-12-15 09:33] TimWilliams00 commented on #127
You‘d better get the web owners' permission before using these datasets? Including but not limited to this website：https://bio-atlas.psu.edu

[2021-12-15 09:53] minigoju opened #129 "[DataCap Application] IPFS SUNGNAM"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: IPFS Sungnam
- Website / Social Media: https://cafe.naver.com/ipfssungnam
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-c

[2021-12-15 09:55] EcologyLtd commented on #36
Hi there,
May I know how should we start a subsequent allocation?

A few updates from our side:
- We’ve communicated with our storage providers and they have published their IP addresses.
- We have successfully sent deals to ~30 storage providers, and some of them have very good sealing capability. In the meantime we will keep trying more ways to improve the sealing efficiency.

[2021-12-15 09:58] multiverse2022 commented on #127
Hi MRJAVAZHAO, so Digital Pathology Association's imaging repository is basically a website with links to the imaging repository of various research institutions.[ ](https://digitalpathologyassociation.org/whole-slide-imaging-repository)

Each link will direct you to a separate institution(eg. Emory University, Penn State University, Cancer Imaging Archive). The date policy regarding if we can use

[2021-12-15 10:01] multiverse2022 commented on #127
Yes sir. The link I posted didn't specify their data usage policy per se, but I was posting this link for ease of access for you guys. Other image depository only have huge files to be download.
The plan is to start with images that are obviously free to use, with specification in their websites.

[2021-12-15 10:07] Alex11801 commented on #91
Thanks @galen-mcandrew and we have requested the automated allocation of 32 GiB DataCap successfully. Am I right in thinking we need to wait for the multisign by RKH and Notaries?

[2021-12-15 10:19] Alex11801 commented on #91
Hi @AnthnoySmith , I appreciate your attention and understand your concerns. However, please allow me to interpret the fact that NFT data on Define platform are a set of metadata describing the information of artwork, paintings, music, videos, and stuff like that which are all publicly visible data, rather than private data. Moreover, while users upload their stuff on Define platform to mint exclu

[2021-12-15 10:46] fabriziogianni7 commented on #46
I'm going to delete the last 4 datacap request comments and update the parent comment with the correct weekly dc rate (100TiB instead of 200) so the bot can correctly check the datacap to request.
I'm also going to change [this comment](https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/46#issuecomment-991821789) to request 200TiB instead of 400
@galen-mcandrew

[2021-12-15 17:15] galen-mcandrew commented on #91
@Alex11801

Yes, the root key holders will approve the creation of the multisig notary, and then the first allocation request will be made for the notaries. At that time, 2 of the active notaries will need to review and sign the first allocation request.

[2021-12-16 02:27] Karencollin opened #134 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-12-16 02:58] resrugam opened #135 "hello"

[2021-12-16 04:17] kernelogic opened #136 "[DataCap Application] Kernelogic Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Kernelogic - Fei Yan - Slingshot Restore
- Website / Social Media: http://slingshot.kernelogic.ca/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (usually between

[2021-12-16 05:34] hyelimmmy opened #137 "[DataCap Application]Grotto"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Grotto Blockchain
- Website / Social Media: www.grottoblockchain.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 50TiB
- On-chain ad

[2021-12-16 05:46] xinaxu opened #138 "[DataCap Application] Slingshot restore program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: TechGreedy - Xinan Xu
- Website / Social Media: https://www.techgreedy.net/librivox
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 500

[2021-12-16 10:34] #134 closed, assigned to nobody

[2021-12-16 11:16] Bitrise2020 opened #139 "[DataCap Application] BITRISE CAPITAL"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: BITRISE CAPITAL FOUNDATION PTE.LTD
- Website / Social Media: https://www.bitrisevc.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):

[2021-12-16 14:23] changlizhi commented on #116
hello @galen-mcandrew ! thanks for verifying my infos,And now,I'm finding notaries for signing it, but One notary noticed me that there is a problem which my application is not showing on [fil.plus](https://fil.plus) dashboard.It maybe need you to put it on it.thx again~!

[2021-12-16 14:27] changlizhi commented on #116
here is his screenshot
![image](https://user-images.githubusercontent.com/4144452/146390137-47e423a5-fd38-4458-887c-1e341f8e1abe.png)

[2021-12-16 15:27] galen-mcandrew commented on #36
@swatchliu Did you see the above comments? This allocation needs one more notary signature.

[2021-12-16 16:24] Welclub opened #140 "[DataCap Application] Wel Vape"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Wel Vape
- Website / Social Media: www.wel.top / weibo.com/u/6940954920
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-ch

[2021-12-16 20:12] galen-mcandrew commented on #116
@changlizhi it is still waiting for root key holders, you will see an update in this issue (https://github.com/filecoin-project/notary-governance/issues/334) and then the bot will request your first allocation, which adjusts the labels here and it can show up in the app. Thanks for your patience!

[2021-12-16 20:15] galen-mcandrew commented on #116
Also @changlizhi , if you have a ledger with the Filecoin app, you can also sign-in and view the pending requests same as a notary and root key holder! We are striving for transparency, so anyone can observe, but only approved addresses can take action. Hope this helps.

[2021-12-16 23:04] galen-mcandrew commented on #53
According to glif, address f3w5fx6wta4ewl2iyf7xcogmzffz2fmrngpzdpduj3xmk3dwjxc6dyq36gdf3rflkkrblh5nci5xymc5hal3qq has 14 TiB remaining. With the initial allocation of 50TiB, that means the next allocation should kick off at ~12 TiB.

Checking lotus, seeing 2 pending transactions with only 1 approval, so I want to check in with the team before I make any changes to the client address.

@fabriziogia

[2021-12-16 23:45] galen-mcandrew commented on #51
Flagging some stats here in advance. At this time, client has made 1375 deals with only two storage providers. This does not follow the application and intent of the large dataset process, so I encourage you to utilize the remaining DataCap to make deals with more distributed storage providers. You can find many willing and interested storage providers for your verified deals through Slack and oth

[2021-12-16 23:49] galen-mcandrew commented on #53
Additionally flagging for notaries:
@starling-admin according to a quick audit (https://filplus.d.interplanetary.one/clients/f0700600/breakdown), while you have worked with 20 storage providers, an extreme majority of your deal-making has been with a single storage provider (**84%**).

Per your application and the large dataset process, can you provide some more details about your deal distributio

[2021-12-17 00:07] galen-mcandrew commented on #66
Not sure why the top provider is reporting out as 0. A quick check here https://filplus.d.interplanetary.one/notaries/f01403224/breakdown and I'm seeing top as ~8%

@fabriziogianni7

[2021-12-17 00:08] MegTei commented on #78
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaxpvh3iui3ji2vt6lmocprupt2gnoqrefxmva63hvuksbmohjojg

[2021-12-17 01:21] changlizhi commented on #116
Get it @galen-mcandrew ,thanks! But I don't know how to get a ledger ~_~ ,I usually check the datacap in [https://verify.glif.io/](https://verify.glif.io/)

[2021-12-17 04:51] IreneYoung commented on #114
@jpo92po Hello, I will support your application. But meanwhile I hope you can cooperate with the Notaries to do the likely data retrieval and inspection in the future.

[2021-12-17 05:16] Fatman13 commented on #84
Any notaries interested in signing this again?

[2021-12-17 05:32] starling-admin commented on #53
Hi Galen,

We are still testing the deal automation with Bitbot so we are
progressively decentralizing. The plan so far is as follows:

Pilot 81 TiBs sealed with 1 provider (as a test)
Pilot 81 TiBs sealed with 4 providers
Pilot 81 TiBs sealed with 10 providers

With these pilots finished we are then going to work on a plan for 4 PiBs.
The plan there is to distribute to an initial set of 10 provid

[2021-12-17 05:40] cea1063 commented on #115
Hi Galen, Sorry for late update.

I'm working on education consulting team in Pharos.

You can contact to me below e-mail address
we01@pharosconsulting.co.kr

Our website was under maintenance and you can visit now.

Please check attached sample file.
(I clipped video file to make under 10 MB)

https://user-images.githubusercontent.com/38237198/146494923-2eccc95e-b632-4784-a297-d3ef3875757d.mp4

I

[2021-12-17 06:02] Alex12345699 commented on #96
[](url)

[2021-12-17 06:03] Alex12345699 commented on #96
[](url)

[2021-12-17 06:19] IreneYoung commented on #127
It looks good. We'd like to support the request. But it seems your company have no business related to Filecoin or IPFS before. Are you sure you can handle the Datacap allocation and storage deals with various miners properly?

[2021-12-17 06:20] Alex12345699 commented on #96
·
[Uploading 深圳量子云科技有限公司.zip…]()

[2021-12-17 06:21] Alex12345699 commented on #96
@galen-mcandrew

[2021-12-17 06:21] Alex12345699 commented on #96
[Uploading Tsio.zip…]()

[2021-12-17 06:24] swatchliu commented on #121
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedc2o33denv4wa2jauhkyendlriyoyqdpzldyayqxeoawqyhkhhqc

[2021-12-17 06:42] rayshitou commented on #121
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecmtat6nkf4npnnqgl6cqilil3mpnbtv7c5mieong47o5l72yhmjy

[2021-12-17 06:42] NHASHNET opened #141 "[DataCap Application] NHASH"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: NHASH
- Website / Social Media: www.nhash.net
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200 TiB
- On-chain address for first allo

[2021-12-17 07:27] IreneYoung commented on #91
If the data is publicly available, then I'll support the request. If you guys get any problem making the storge deals with miners, you could come back here for help and suggestions from us or @galen-mcandrew.

[2021-12-17 07:41] IreneYoung commented on #114
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacederifwllnmxaa4jay75s74fnohzmb6crrgjgc3v2ubko52k6zyjo

[2021-12-17 07:41] IreneYoung commented on #114
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecobm4xsx6aoltokcdo26z5a7n6cxlvkdjoqaoag5ishmu4eofgwy

[2021-12-17 07:52] IreneYoung commented on #91
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceczyovdkszbsyzpeo6y7sro7p537vvxjmib4hdmxeykwulluhjqtg

[2021-12-17 07:55] seeyou2128 opened #142 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-12-17 08:07] EcologyLtd commented on #36
Hi Galen, @swatchliu has already signed for the last allocation, which the bot is not showing here.
We’re running out of datacap for the 2nd allocation, and would like to apply for the subsequent allocation. Thanks

[2021-12-17 08:15] IreneYoung commented on #127
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebu3fmilk7tzk5hgeevxh4tuehzqqppzozpyjfhnjtmp7vqei6366

[2021-12-17 09:27] amaryisharono opened #143 "[DataCap Application]climb"

[2021-12-17 09:35] Rsandraonancy opened #144 "[DataCap Application"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB)
- On-chain address for first allocation:

_Please respond to the que

[2021-12-17 10:35] #144 closed

[2021-12-17 10:36] #143 closed

[2021-12-17 10:43] dropcool opened #145 "[DataCap Application] dropcool Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: dropcool - Slingshot Restore
- Website / Social Media:https://github.com/DropCool
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 500 Ti

[2021-12-17 11:22] fabriziogianni7 commented on #66
@galen-mcandrew the bot should parse those values correctly now

[2021-12-17 13:47] RobQuistNL opened #146 "[DataCap Application] Dukesoft / Slingshot Restore"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Dukesoft - Slingshot Restore
- Website / Social Media: Dukesoft.nl
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 500 TiB
- On-chain a

[2021-12-17 14:32] cryptowhizzard commented on #146
I am in favor of supporting this as @RobQuistNL is participating in the slingshot repair program.

[2021-12-17 17:11] Metaipfs opened #147 "[DataCap Application] IPFS KOREA"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: IPFS KOREA
- Website / Social Media: www.ipfskor.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain address for first

[2021-12-17 17:49] galen-mcandrew commented on #46
Notary has actually exhausted DataCap.

[2021-12-17 17:58] galen-mcandrew commented on #53
Edited parent comment and the request comment with new client address, app front-end appears to be displaying correctly.
![Screen Shot 2021-12-17 at 9 57 23 AM](https://user-images.githubusercontent.com/85587348/146587803-b1ea7171-615b-49b3-b80e-e7896d20fa6e.png)

[2021-12-17 19:01] galen-mcandrew commented on #121
It appears these messages were both sent as proposals. Checking lotus `lotus msig inspect --decode-params f01605392`
[code]

The messages were sent about 20 minutes apart, so I'm not sure why they are both proposals. @fabriziogianni7 @ialberquilla

At this time, I'll adjust the label to reflect 1 approval, and another notary will need to sign one of the pending transactions.

[2021-12-18 02:45] kernelogic commented on #46
Someone stop the bot from requesting renewal! 😂

[2021-12-18 05:02] kodori5992 opened #148 "[DataCap Application] S.P.R.I"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: S.P.R.I (Software Policy & Research Institute)
- Website / Social Media: https://www.spri.kr/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-10

[2021-12-18 09:44] ipfs-bangkok opened #149 "[DataCap Application]"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: ipfs.bangkok
- Website / Social Media: http://www.siamalliancelaw.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100tib
- On-chain

[2021-12-18 09:54] ipfs-bangkok opened #150 "[DataCap Application] Siam alliance Law"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  Siam alliance Law
- Website / Social Media: http://www.siamalliancelaw.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On

[2021-12-18 10:00] #149 closed

[2021-12-18 10:46] LeoZCH opened #151 "[DataCap Application]LeoCheung - Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: LeoCheung - Slingshot Restore
- Website / Social Media: https://github.com/LeoZCH
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 500TiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200T

[2021-12-19 18:36] cryptowhizzard commented on #77
Hello @s0nik42 @Reiers

Can you please state that you are ok that we use this datacap also for the slingshot recovery program? That program has priority now and we are focussing our efforts on this.

[2021-12-19 18:39] Reiers commented on #77
Everything looks good. Speedium have my support!

[2021-12-19 22:55] MegTei commented on #84
@Fatman13 to clarify, did it fail the last time I allocated?
I will post again now

[2021-12-19 23:50] s0nik42 commented on #77
Same here

[2021-12-20 01:09] jungmin6168 commented on #112
![DataSample1](https://user-images.githubusercontent.com/22315009/146698247-74568458-ec46-48e6-b8ee-2e15baad9581.jpg)

[2021-12-20 01:13] jungmin6168 commented on #112
![DataSample1](https://user-images.githubusercontent.com/22315009/146698247-74568458-ec46-48e6-b8ee-2e15baad9581.jpg)

[2021-12-20 01:15] jungmin6168 commented on #112
![DataSample1](https://user-images.githubusercontent.com/22315009/146698531-a575250d-5829-4d90-abb9-f1fa9a892c35.jpg)

[2021-12-20 01:15] jungmin6168 commented on #112
@galen-mcandrew
![DataSample1](https://user-images.githubusercontent.com/22315009/146698531-a575250d-5829-4d90-abb9-f1fa9a892c35.jpg)

[2021-12-20 01:23] jpo92po commented on #114
This type of data search frequency is expected to be not so high, but we have to store these data for a long time. This is the reason why we chose the Filecoin network for storage. We want to retain the data for a long period of time and provide them to those who need, whenever they require.

[2021-12-20 01:25] Fatman13 commented on #84
Hello, @MegTei, thanks for reaching out! Honestly, I am not sure how to check... But there needs to be 2 notaries signing for this to be approved i think.

[2021-12-20 02:35] TimWilliams00 commented on #54
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedl5l2mvih345ddqhw73zlqckl7uzulqb45vt4mpoxxayrcuiusfm

[2021-12-20 03:14] codex8080 opened #152 "[DataCap Application] codex8080 Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: codex8080 - Slingshot Restore
- Website / Social Media: https://gitee.com/codex8080
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):500 TiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 20

[2021-12-20 03:15] ozhtdong commented on #54
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb762ocnl64ummguhd6lzagkjc2thteaksuhyxlbggcc3inm67sfs

[2021-12-20 06:41] kernelogic commented on #60
@MegTei  @Reiers  could you help me to approve this?

[2021-12-20 07:01] Alex11801 commented on #91
@IreneYoung Hi and thank you a lot for your support! Yes, the data is publicly available, I promise.

[2021-12-20 08:22] MegTei commented on #60
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebu64zn3uszwlanc3znbjnzhxkz6id32rkkndqpzy4drmeeru2fmo

[2021-12-20 08:35] kernelogic commented on #60
@MegTei thank you!

[2021-12-20 08:41] MegTei commented on #84
I'm seeing this error when I try approve
![image](https://user-images.githubusercontent.com/80305349/146737817-6f586e22-c9de-4b85-b9c7-537c16dbd7e9.png)

[2021-12-20 10:07] Fatman13 commented on #84
Maybe, @fabriziogianni7 could help to take a look at the above?

[2021-12-20 11:09] fabriziogianni7 commented on #84
Hello guys! a notary cannot sign twice the same request. someone else should sign the transaction here. @Fatman13 , @MegTei

[2021-12-20 11:23] ubuckvnockai opened #153 "[DataCap Application]Slingshot restore program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Fly Brain Anatomy
- Website / Social Media: https://registry.opendata.aws/janelia-flylight/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 3.5PiB
- Weekly allocation of DataCap requested (usually between 1-100

[2021-12-20 12:58] Reiers commented on #60
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced7ljvqj3rwuy22we25ulrpyrgc64aetwouko6lde34v3okcuyzpy

[2021-12-20 13:04] Reiers commented on #116
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceawyho3dxoqgkwygu2ytrndnfvr3hgwefcjgpliighbgt3llf2elo

[2021-12-20 13:34] nj-steve opened #154 "[DataCap Application] IPFSPower Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: IPFSPower - Slingshot Restore
- Website / Social Media:ipfspower
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):500TiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):80TiB
- On-chain addres

[2021-12-20 13:38] fabriziogianni7 opened #155 "[DataCap Application] -EMPTY TEST ISSUE#1"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2021-12-20 14:15] IreneYoung commented on #86
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceahpildxn4q4sds7ly55qubfafy2n2fugv3eq77cf35yo7yq26gcy

[2021-12-20 14:38] zhengjiangnano opened #156 "[DataCap Application] Nano"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Nano Cloud Chain
- Website / Social Media: http://www.hzhengtong.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 170TiB
- On-chain

[2021-12-20 16:08] jpo92po commented on #150
ㆍ

[2021-12-20 17:30] galen-mcandrew commented on #116
Looks like those two notary messages went through as both proposals, so there are two pending transactions at this time. Still showing up in the app with 1 approval count, so next signature should approve one of the pending transactions.

[2021-12-20 17:54] galen-mcandrew commented on #68
Flagging here, of the 400 verified deals made by this client, they have utilized only two storage providers.
https://filplus.d.interplanetary.one/clients/f0985604/breakdown

[2021-12-20 18:13] galen-mcandrew commented on #114
Looks like there are two transaction proposals here, updating the issue to adjust the label. Needs one more notary to approve one of the transaction ID proposals.

[2021-12-20 18:21] galen-mcandrew commented on #46
@fabriziogianni7

Closing this issue, considering it a major success.

[2021-12-20 18:21] #46 closed

[2021-12-20 18:23] galen-mcandrew commented on #54
Looks like the above two messages are each proposing new transactions, adjusting the label. Needs one more signature to approve a pending transaction.

[2021-12-20 19:03] dannyob commented on #116
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea2mclal55vlxwuohxkn6a2cw373dlo7fjyif2x5hq57oqxiyiklu

[2021-12-20 20:32] galen-mcandrew commented on #60
Yeah, seeing some instances where two notary signatures through the app (both picked up in the GH issue) are leading to 2 transactions since both are proposals.

[2021-12-20 21:06] galen-mcandrew commented on #129
Resubmission from #107.

The provided website appears to be a forum, and the sample data does not seem to match the described content. Can you please provide some more details about this project and the data?

[2021-12-20 21:18] galen-mcandrew commented on #135
@resrugam Are you a representative of this company? Do you have a contact email from that professional domain? The project description appears to be a copy from the website.

Are the 5 PiB that you are requesting all publicly available video data from concerts? The provided sample appears to be a trailer, so I'm curious about DRM and copyright rights. Can you provide some more details about your r

[2021-12-20 21:20] galen-mcandrew commented on #136
Getting a number of these projects, slightly editing the application titles for more distinction and clarity

[2021-12-20 21:20] galen-mcandrew commented on #136
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 21:26] galen-mcandrew commented on #137
@hyelimmmy It looks like there are some formatting issues in your application. Some of the questions do not appear to be answered as well. You can look at some other examples in this repo and either edit the parent comment, or close and resubmit.

[2021-12-20 21:27] galen-mcandrew commented on #138
Slight edit to application title to add distinction and clarity

[2021-12-20 21:28] galen-mcandrew commented on #138
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 21:43] galen-mcandrew commented on #139
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 21:48] galen-mcandrew commented on #140
@Welclub Can you please provide some more details about the public dataset that you are hoping to store on Filecoin network? The linked sample data appears to be an article and some videos hosted on bilibili.

[2021-12-20 22:07] flyworker opened #157 "[DataCap Application] FilSwan Slingshot Restore Program- Fly Brain Anatomy"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  FilSwan - Slingshot Restore
- Website / Social Media: https://www.filswan.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
-

[2021-12-20 23:03] galen-mcandrew commented on #141
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 23:25] galen-mcandrew commented on #142
@seeyou2128 looks like a blank application so far. You can edit the parent comment, or close this one and resubmit.

[2021-12-20 23:28] galen-mcandrew commented on #145
Minor edit to application title and parent comment, for distinction and clarity

[2021-12-20 23:28] galen-mcandrew commented on #145
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 23:29] galen-mcandrew commented on #146
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 23:44] galen-mcandrew commented on #151
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 23:45] galen-mcandrew commented on #152
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 23:47] galen-mcandrew commented on #153
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 23:50] galen-mcandrew commented on #154
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-20 23:51] galen-mcandrew commented on #157
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-21 00:24] jpo92po commented on #114
@galen-mcandrew how can i get approving from notary? plz help me...  thank you!!

[2021-12-21 01:16] minigoju commented on #129
@galen-mcandrew Most of our data is video data, and it is difficult to upload because the capacity is too large.
I'm going to upload some captured files.
![image](https://user-images.githubusercontent.com/96175055/146854244-dba2f8d0-c77f-484a-b532-47c67afa31b3.png)

[2021-12-21 02:12] Metaipfs commented on #147
I already granted DataCap(FYI issue #69), but because of Github account problem. I newly uploaded same application, with a new account.
Hopefully I could get Datacap ASAP.. I really need second allocation, because I already made a contract with NFT companies.

@galen-mcandrew
@dkkapur
@MegTei

[2021-12-21 02:19] zhengjiangnano commented on #156
麻烦尽快处理，谢谢！

 郑湘瑾&nbsp;

 手机：13588815993
 电话：0571-58122313
 传真：0571-58122306
 ***@***.***
 公司地址：杭州市江干区解放东路29号迪凯银座30楼

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "filecoin-project/filecoin-plus-large-datasets"

[2021-12-21 02:22] GameWayFun2021 opened #158 "[DataCap Application] GAMEWAY"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: GAMEWAY PTE. LTD.
- Website / Social Media: https://twitter.com/GameWayFun
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On

[2021-12-21 02:32] kokokoo5992 opened #159 "[DataCap Application] META Galaxy"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: META Galaxy
- Website / Social Media: https://metagalaxia.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain addre

[2021-12-21 03:06] galen-mcandrew commented on #114
The governance team will be discussing large datasets tomorrow in the community governance call, so hopefully we get some more action from the notaries.

You can also do some more marketing/outreach by promoting your application and the dataset in the public Filecoin Slack channel, specifically the `#fil-plus` channel. Hope this helps!

[2021-12-21 03:26] MegTei commented on #73
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecofe4oo43zvl3ztkp6ittvfmi7n4daqvgxxyoebip2zieztmnzyg

[2021-12-21 03:33] honeysodam1 opened #160 "[DataCap Application] honeysodam"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Honeysodam
- Website / Social Media: https://www.instagram.com/honeysodam/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-c

[2021-12-21 03:42] galen-mcandrew commented on #153
@ubuckvnockai Can you please clarify which name you submitted for the Slingshot Restore Program and your client assignment?

[2021-12-21 03:52] IreneYoung commented on #157
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceapqrtotai6h3adxmsgipa3qtigwbulphxneojagejsrpq66olfbm

[2021-12-21 03:56] flyworker commented on #127
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceax4eu2xsrr46fbjxchci6ep6bnpwca2pzzdkd5jfybxnpyvuoi7q

[2021-12-21 03:56] neogeweb3 commented on #84
Let me try to get it moving.

[2021-12-21 03:56] neogeweb3 commented on #84
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceag3hhcyfinnhkmmwpn4k2puy2qy4bkmhwofzmc4e6zmfr37edhu2

[2021-12-21 03:59] Fatman13 commented on #84
@neogeweb3 Thank you!

[2021-12-21 04:00] flyworker commented on #154
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecnb22m74elesbwxk3vbjbtqa74zibygr3x2subzfmg6exyflws3i

[2021-12-21 04:02] flyworker commented on #152
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceasd5srg76wqn5cc5mz6hskygshnkv5nqcmxr2v3trmemflwx3mw4

[2021-12-21 04:03] MegTei commented on #157
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedpnnfdk5ypnxy56v4zmednjjunmqgetbbrzbnsxnbv2to4fp4tsu

[2021-12-21 04:05] flyworker commented on #145
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec2tqncln2uhsrsvrbdgfvrozc7nldab6och53sewhlovsu5dnqdw

[2021-12-21 04:07] flyworker commented on #138
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecjw5sgplhugl6obgugufikwp4acbzt5k3abyopgcxkkpuykjq4io

[2021-12-21 04:09] TimWilliams00 commented on #153
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecc6gq4pzzmrvdo2et6opgimtzyys5z2ccmc6c6jne5clhtul7zqa

[2021-12-21 04:09] flyworker commented on #136
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaosqnitau2t5s4iyzedlvtz6zzdkktljdxcjj3z2tjpg4wr4i4w6

[2021-12-21 04:09] MegTei commented on #141
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecg5tu3h35eadufggtxg6jlxgklnguiscldogskhjqob22n5zhcj2

[2021-12-21 04:14] neogeweb3 commented on #152
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceal7opo2ihiedvzcw7sfv33ajye4knoso753alxj6nax6l6djir3o

[2021-12-21 04:18] MegTei commented on #138
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea3jwh7sewmlsaxheugj4p3sgiezq2tx2hszkwyejbyentas3sg5e

[2021-12-21 04:25] neogeweb3 commented on #151
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceblsg5xdxntxw52dpzo3jk2zvmvfs4fccozmshu4qy5mnpys33ojq

[2021-12-21 04:28] neogeweb3 commented on #145
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceatft5h23ofi2zwxeyyd5tvqa5skm3dtmorjsi6pdlx3t4fpe4t2w

[2021-12-21 06:20] swatchliu commented on #153
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb2wzj6e27yxa4gkdihco4x4ncyzccmzfgy2r25b5ujhtrmohlu36

[2021-12-21 06:36] swatchliu commented on #54
Happy to support,  we have met the same issue~

[2021-12-21 06:42] swatchliu commented on #54
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedysy5b5rfwg4kb5obqcu6rvlwjcriq5tadx25sx42uvzav247a2q

[2021-12-21 07:52] IreneYoung commented on #151
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebywusu7te5gqgcq367apd4i4shfw7jrspg3amrcbayqj6m4k34jg

[2021-12-21 08:21] ubuckvnockai commented on #153
@galen-mcandrew Hi Galen. We applied for the slingshot Restore Program and we planned to store some datasets such as fly-brain-anatomy, genome-ark, encyclopedia-of-dna-elements, (sloan-digital-sky-survey) DR 17 and genome-aggregation-database. Our client is KarenudxPhillipsr on slack.

[2021-12-21 08:34] ubuckvnockai commented on #153
@galen-mcandrew Hi Galen. We applied for the slingshot Restore Program and Slingshot. And we planned to store some datasets such as fly-brain-anatomy, genome-ark, encyclopedia-of-dna-elements, (sloan-digital-sky-survey) DR 17 and genome-aggregation-database. Our client is KarenudxPhillipsr on slack.

[2021-12-21 08:40] ozhtdong commented on #86
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced4bmyhmkwiderv57akuvklkhb6t6o5jlfbwc6eyrmsoxjjhi32ae

[2021-12-21 09:04] fabriziogianni7 commented on #152
@galen-mcandrew @codex8080 after checking the transaction, the allocation went through. removing error label and adding granted

[2021-12-21 13:33] cea1063 commented on #115
Hi Galen,
Could you check my update?

[2021-12-21 16:19] galen-mcandrew commented on #153
Interesting, not seeing that slack handle on the current approved client list for Slingshot Restore program. Is there something that I'm missing here?

https://docs.google.com/spreadsheets/d/1UYmVtwtJUIAwlogZmLSZB_nZxWrVlID6ryfqrB0jBjw/

[2021-12-22 00:46] neogeweb3 commented on #146
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecmwqoovgfz7ks22xxll44cogjlxaoxl62qstfap6bjlbr5erok6a

[2021-12-22 00:49] neogeweb3 commented on #136
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacealv4vqt7wtngnf5kthqvaech6zgm5omql7zrivxrx5tkbver6tbm

[2021-12-22 02:03] #135 closed

[2021-12-22 02:22] flyworker commented on #60
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedx24ehourbgr2ykbfcbvha2zvjgff26wixt6gcregmmhttxg2hie

[2021-12-22 03:14] nnrecive opened #161 "[DataCap Application]About The APP"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  About The Block
- Website / Social Media: www.ata.company
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 20TiB
- On-chain address for

[2021-12-22 03:36] ubuckvnockai commented on #153
Ah, Really? :-)I think you can have a double check.

[2021-12-22 03:41] ubuckvnockai commented on #153
Hi Galen. We submitted the slingshot restore form on the evening of December 20. I would like to ask SP in Korean to help us store these data and hope to get your approval.

[2021-12-22 03:41] ubuckvnockai commented on #153
@galen-mcandrew Hi Galen. We submitted the slingshot restore form on the evening of December 20. I would like to ask SP in Korean to help us store these data and hope to get your approval.

[2021-12-22 07:27] kernelogic commented on #60
Hi @galen-mcandrew I think this one needs a manual label adjust again. Showing as "error" now.

[2021-12-22 07:42] Fenbushi-Filecoin commented on #154
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceab7ufsa4wvrkwosn7yjqboldokx77kjbtdv4bsugziys5kpfazw4

[2021-12-22 07:44] #156 closed

[2021-12-22 07:47] Fenbushi-Filecoin commented on #146
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedhwrnz67rkluvcy6eb5k3b6ndabzph5f6x7t6z26seifkqigjqhs

[2021-12-22 10:33] Jacintos opened #162 "[DataCap Application]Toastmasters"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Toastmasters International
- Website / Social Media: https://www.toastmasters.org/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 300Ti

[2021-12-22 12:04] XixiTalken opened #163 "[DataCap Application]Talken"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Talken.io
- Website / Social Media: https://talken.io/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):100TiB
- On-chain address for first

[2021-12-22 13:29] kylyhorton opened #164 "[DataCap Application] oxyak"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: oxyak
- Website / Social Media: https://www.oxyak.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200 TiB
- On-chain address for fir

[2021-12-22 15:09] flyworker commented on #91
hey do you have tools doing migration to the filecoin network? we are interested and want to support

[2021-12-22 16:51] flyworker commented on #164
Warning: Potential Security Risk Ahead

Firefox detected an issue and did not continue to www.oxyak.com. The website is either misconfigured or your computer clock is set to the wrong time.

It’s likely the website’s certificate is expired, which prevents Firefox from connecting securely. If you visit this site, attackers could try to steal information like your passwords, emails, or credit card d

[2021-12-22 17:09] galen-mcandrew commented on #153
@ubuckvnockai I am not responsible for the Slingshot Restore Program, so I am just going on what I know from documentation and other LDN applications. Based on the information you are providing, I am not seeing you as a selected client at this time for the Slingshot Restore Program.

Here is the documentation I am referring to describing the program: https://docs.google.com/document/d/1sGLkw321Fl0

[2021-12-22 17:11] galen-mcandrew commented on #154
@fabriziogianni7 Not sure the cause of the error label in this case either. Can you investigate?

Seeing 25 TiB at the client address, so I'm going to revert back to granted.

[2021-12-22 17:14] galen-mcandrew commented on #162
This looks like a resubmission of a previous issue: https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/128

That issue was already approved by root key holders and a multisig notary was created. What happened to the previous GitHub account and issue? Please provide some more details before we take further steps on creating another notary.

[2021-12-23 01:32] star-Kang commented on #117
Dear @galen-mcandrew ,

Hope everything is going well. We've requested large dataset recently, and received the message like this : @filecoin-plus-bot filecoin-plus-bot added status:AddedOnchain and removed status:StartSignOnchain labels 6 days ago.  After this message, the conversation between you and us was closed, but the large dataset has not been delivered yet to us.

If you already have sent

[2021-12-23 01:53] NDLabs commented on #109
@galen-mcandrew Hi, Galen, what else should we offer?

[2021-12-23 01:58] Welclub commented on #140
@galen-mcandrew Sure. the linked sample is an article on development of tobacco industry, one video of comparison about cigarette and vape, and one video about experiment on Vape's HCHO. So we would like to store data like :
Development history of tobacco industry
Industry/health Knowledge Popularization
Industry/product research
Product evaluation
Experiment record
……

[2021-12-23 02:19] Jacintos commented on #162
Oh it can be a killer! I can not find that issue several days ago. It was vanised! I have asked for help from official but I've got no reply. Then I made a new one like this.

[2021-12-23 02:41] Jacintos commented on #162
Which details are you want to see? My previous email pages can show you by email.

[2021-12-23 02:43] Jacintos commented on #162
Are there any details you want here?

On Thu, Dec 23, 2021 at 1:14 AM Galen ***@***.***> wrote:

[2021-12-23 05:50] Alex11801 commented on #91
Hi @flyworker, thanks for your support. My team is outsourcing the tools. my contact email, alex@de-fine.art

[2021-12-23 05:55] aiyij opened #165 "[DataCap Application]Nantong Chunna Textile Co., Ltd"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Nantong Chunna Textile Co., Ltd
- Website / Social Media:https://mall.jd.com/index-739308.html
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100

[2021-12-23 05:59] flyworker commented on #91
great to hear you have prepared for the migrating. We are ok to sign

[2021-12-23 06:01] flyworker commented on #91
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebdaxjmyspvbjocgmubnxmobbkkua2jhyp5uipzn3o45flvon5iny

[2021-12-23 06:04] ubuckvnockai commented on #153
Hi Galen. Thank you for your reply, there may be some misunderstandings.
If we really cannot participate in the restore sub-project, I think we will continue to take part in the main project of Slingshot. We have updated our issue, please arrange to continue to the next stage.

[2021-12-23 06:05] ubuckvnockai commented on #153
@galen-mcandrew Hi Galen. Thank you for your reply, there may be some misunderstandings.
If we really cannot participate in the restore sub-project, I think we will continue to take part in the main project of Slingshot. We have updated our issue, please arrange to continue to the next stage.

[2021-12-23 08:31] AnthnoySmith commented on #141
It sounds like you are hoping to upload private or encrypted data, which we are not able to validate and verify at this time.

[2021-12-23 08:35] dkkapur commented on #147
Hi folks - just wanted to flag that @Metaipfs was in touch with the ecosystem team in Asia and confirmed the following details:
- deal making has already started, https://filplus.d.interplanetary.one/clients/f01404557
- initial DataCap application was approved, but GitHub issue was lost when account was blocked, so this is an attempt to get a new LDN up and running
- data onboarding work with NFT

[2021-12-23 08:36] dkkapur commented on #31
@ozhtdong @MRJAVAZHAO is there anything you specifically think we should request from @QingyunEducation to proceed with this?

[2021-12-23 08:41] TimWilliams00 commented on #162
He has communicated with me, and indeed that issue disappeared. It seems to be due to the account and system. I can prove it.

[2021-12-23 09:09] Metaipfs commented on #147
@dkkapur
At first time, we were not sure about the way we put real data in to miners. So we kept send data to same miners. From that we made stable program to allocate data into other miners. We selected miners located in korea, has good and high reputation through filrep.io.  I didn't know that our company should distribute datacap to more various miners. I will tell tech team to distribute DC to

[2021-12-23 09:09] Metaipfs commented on #147
![image](https://user-images.githubusercontent.com/96154919/147216771-63250f00-ff99-40c3-93c2-74ba9c0b1db3.png)

[2021-12-23 09:21] DropCool commented on #145
@neogeweb3 @galen-mcandrew @flyworker @dkkapur  I am sorry to tell you. Just now, the company leaders decided not to participate in Slingshot Repair program. but I have applied for some datacap, and the company leaders think that in order to avoid being wasted, it will be used to slingshot 2.7 and later phases.

[2021-12-23 11:25] psh0691 opened #166 "[DataCap Application] Blockchain World (BCW)"
# Large Dataset Notary Application
To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.
## Core Information
- Organization Name: Blockchain World(BCW)
- Website / Social Media: http://bcwnews.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain addr

[2021-12-23 18:20] scharfstein opened #167 "[DataCap Application] Seal Storage Technology - Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Seal Storage Technology
- Website / Social Media: https://www.sealstorage.io/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 500 TiB
-

[2021-12-23 22:51] dkkapur commented on #153
@ubuckvnockai - can you point me to your Slingshot project ID? Are you participating in Phase 2.7? Thanks!

[2021-12-23 22:54] galen-mcandrew commented on #153
At this time we are already seeing over 1200 deals being made from this client address with the DataCap that was awarded under the intent of the Slingshot Restore Program. Please verify that you are participating in the Slingshot program according to those program guidelines.

https://filplus.d.interplanetary.one/clients/f01513008/breakdown

[2021-12-23 23:27] #155 closed

[2021-12-24 02:42] dannyob commented on #15
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecv4zyz63laoxzwt3vm2kfpno6g5i45sve7nnvp2gcdt5ycdq7hcg

[2021-12-24 03:15] dannyob commented on #139
Okay, this looks good enough to me for an initial provision. Please let us know how you found your storage providers and what data you're intending to store using your first allotment of datacap.

[2021-12-24 03:18] dannyob commented on #139
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecmjg4duvqbz3arr3har63x4tcyh6it3sk56xhi2xjnp4yc2cvdyg

[2021-12-24 08:22] aiboluo123 opened #168 "[DataCap Application] IPOLLO"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Ipollo
- Website / Social Media: www.ipollo.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain address for first al

[2021-12-24 08:48] ubuckvnockai commented on #153
@dkkapur Thank you Deep! Of course, our ID for Slintshot 2.7 is Cybertron-Flybrain. At the same time, we also participated in the Restore program the day before yesterday. The ID is (slack: KarenudxPhillipsr). We really did not get a response to download which dataset. If you can approve it, please add KarenudxPhillipsr to the list of successful application about the restore program and inform the

[2021-12-24 09:56] dkkapur commented on #36
@galen-mcandrew @fabriziogianni7 - looks like the bot failed to pick this one up for the subsequent allocation. I see `f3vygs6wslfvenruzrrbez5yelczv2jjoii4wlvd6yuyb3snm7sajh2ngjflhdntzxewuzmeczy4j6q56fqdsq` has ~250 GiB of DataCap left. Should we manually trigger this one to unblock stats + enable notaries to decide the next allocation?

[2021-12-24 10:23] quinn463 opened #169 "[DataCap Application]Foldingathome COVID-19 Datasets for Slingshot"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Flybaby
- Website / Social Media: https://registry.opendata.aws/foldingathome-covid19/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1.5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):

[2021-12-24 11:07] xingjitansuo opened #171 "[DataCap Application] CabrinaHuang - Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
-Organization Name: CabrinaHuang-Slingshot Restore Program
-Website / Social Media: https://gnomad.broadinstitute.org/
-Total amount of DataCap being requested (between 500 TiB and 5 PiB): 500TiB
-Weekly allocation of DataCap requested (usually between 1

[2021-12-24 11:19] woshidama323 opened #172 "[DataCap Application] HarryMa - Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: HarryM - Slingshot Restore
- Website / Social Media: https://www.topblocks.io/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 500 TiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 500 Ti

[2021-12-24 12:15] fabriziogianni7 commented on #36
@dkkapur @galen-mcandrew the log say:
`[Subsequent Allocation] Issue number 36 skipped --> bot:readyToSign is present`
I'll just remove the readyToSign label and the ssa bot will trigger in 2 hours from now.

[2021-12-25 09:22] IreneYoung opened #173 "[DataCap Application] 12Ships - Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  12Ships Foundation
- Website / Social Media: https://www.12ships.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200TiB
- On-chain

[2021-12-25 14:21] XnMatrixSV commented on #162
Happy to support. I've used Toastmasters.

[2021-12-26 10:28] cryptowhizzard commented on #77
@dkkapur @galen-mcandrew it seems that the bot did apply for automatic renewal of my datacap. Can you please do RKH request manually.

@s0nik42 it is possible that you give us some manual datacap in the meantime, like 20 TB on above address?

[2021-12-27 05:50] pandola0908 opened #174 "[DataCap Application]Shenyang Hesiding Education Technology Co., Ltd"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Shenyang Hesiding Education Technology Co., Ltd
- Website / Social Media:https://mp.weixin.qq.com/mp/homepage?__biz=Mzg2MTUzMzczNQ==&hid=3&sn=d78e3d777d
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- We

[2021-12-27 07:22] steven004 commented on #123
### Request Approved
Your Datacap Allocation Request has been approved by the Notary

**Message sent to Filecoin Network**

**Address**

**Datacap Allocated**
50TiB

**Signer Address**

**You can check the status of the message here:**
https://filscan.io/tipset/message-detail?cid=bafy2bzacecqgdmenqbwa7snwiqvnfssm5hqumlutn2tg45iqdc67oxvj2klsk

[2021-12-27 07:26] Fenbushi-Filecoin commented on #36
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecuwiyhepq7qzhusf4s33mgrdpc2l766icu2dn5t4zdhjprt7t7lg

[2021-12-27 07:33] steven004 commented on #117
Let me try to allocate the 5TiB datacap. We should start this and the start number is small.

[2021-12-27 07:40] steven004 commented on #117
### Request Approved

**Message sent to Filecoin Network**

**Address**

**Datacap Allocated**

**Signer Address**

**You can check the status of the message here:**
https://filscan.io/tipset/message-detail?cid=bafy2bzacec7karynx6hq4ubwuqa3pcqrd6ixzoqd22ama3hi7ptvavpkvvyfo

[2021-12-27 09:27] Alex11801 commented on #91
Thanks for supports!

[2021-12-27 10:20] amaryisharono opened #175 "[DataCap Application]Jaggy Sharp IT solutions"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Jaggy Inc.
- Website / Social Media:https://www.jaggy.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):150TiB
- On-chain address for

[2021-12-28 01:31] seong-k commented on #117
Dear @galen-mcandrew ,

We've checked the Filcoin address whether it has an error as large-datacap-requests says like above. But it has no error and it is working as well. To solve this problem, do we need a new address to recieve large datacap? Please let us know. Otherwise, please let us know how to troubleshoot this issue.  We really appreciate your effort.

Sincerely,
TVCC

[2021-12-28 03:09] xinaxu commented on #138
@flyworker @MegTei
Hey could you help me getting above approved? Thanks!

[2021-12-28 04:06] flyworker commented on #138
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceatuvhm2tuqd47ls3zfnnad555ku6o7sbf757ujetveqapc4egzok

[2021-12-28 04:12] IreneYoung commented on #138
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebtolwz5xrdxrjlhqmgxrxscsdnuxnz247xyvsoep4uw44n4yjnja

[2021-12-28 06:25] pandola0908 commented on #97
I am the representative of the company in charge of application affairs. Our company's business scope includes real estate development business. In the course of this business, it is necessary to store satellite terrain data, which is used for exploration and development and provided to our geological construction team.

[2021-12-28 06:28] shiji605 commented on #97
I am the representative of the company in charge of application affairs. Our company's business scope includes real estate development business. In the course of this business, it is necessary to store satellite terrain data, which is used for exploration and development and provided to our geological construction team.

[2021-12-28 06:29] shiji605 commented on #97
I am the representative of the company in charge of application affairs. Our company's business scope includes real estate development business. In the course of this business, it is necessary to store satellite terrain data, which is used for exploration and development and provided to our geological construction team. @galen-mcandrew

[2021-12-28 08:22] ozhtdong commented on #36
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebkkrrvoeddo42mwt4euhmz4yp46srro3efgjturkigmf6mf7qthq

[2021-12-28 22:53] galen-mcandrew commented on #171
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-28 22:55] galen-mcandrew commented on #172
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-28 22:59] galen-mcandrew commented on #167
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-28 23:11] KwrayFF commented on #173
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-29 01:40] psh0691 commented on #166
@KwrayFF I forgot to write the title. Thank you for filling it out instead.

[2021-12-29 02:10] ubuckvnockai commented on #153
Hi! @dkkapur @galen-mcandrew
We were added into the list of slingshot restore program. Please let me know which dataset would be picked for us.

[2021-12-29 03:27] rayshitou commented on #86
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced3kstbccjdoc2k7ufary5u5sotwsgidmqtqmvwjvoqozm5bxiyxm

[2021-12-29 04:49] neogeweb3 commented on #15
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceari6pyczjl67hcwkwra5ori7zfyd7nmtdxuesn4c2tc6zi6zuj6k

[2021-12-29 05:32] ubuckvnockai commented on #153
Hi! @dkkapur @galen-mcandrew
We were added into the list of slingshot restore program. Please let this issue go on.

[2021-12-29 05:33] ubuckvnockai commented on #153
Hi! @dkkapur @galen-mcandrew
We were added into the list of slingshot restore program.

[2021-12-29 05:44] ubuckvnockai commented on #153
@KwrayFF The datacap we previously applied for for slingshot is almost used up, but it seems that the bot hasn‘t entered the next round of allocation. Please check and help us continue it. Thank you!

[2021-12-29 06:01] flyworker commented on #173
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacede3xnpgowp2mtwo43fjobnh4eq6fmmsdthkoqow7t7g4iuo4fy4s

[2021-12-29 06:13] KwrayFF commented on #147
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-29 06:49] quinn463 commented on #169
@KwrayFF This issue is just for slingshot. It's not for slingshot restore program.

[2021-12-29 07:45] flyworker commented on #171
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedzci3gq2ii5jxqhwmgvlrryzr2dw2o3g64bnrrqhqrzswblgrdle

[2021-12-29 08:37] changlizhi commented on #116
HELLO Notaries @dannyob & @Reiers ,I've used up 80% of the first allocated datacap,Is there anything I should show here for verify?

[2021-12-29 09:06] Vincent0663 opened #176 "[DataCap Application]Wuxi Xinjie"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Wuxi Xinjie Electric Co., Ltd.
- Website / Social Media: http://www.xinje.com/index.html
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):

[2021-12-29 09:11] quinn463 commented on #169
Hey. When can I get my first allocation？ @galen-mcandrew

[2021-12-29 09:26] Leoxiazhe opened #177 "[DataCap Application] NFTSTAR"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: NFTSTAR
- Website / Social Media: http://www.nftstar.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 180 TiB
- On-chain address fo

[2021-12-29 13:30] flyworker commented on #177
looks interesting to me.

[2021-12-29 16:55] scharfstein commented on #167
Good day. We reviewed our data storage plan and request a weekly usage rate of 500 TiB.

All 5 SPs plan to seal data in parallel.

[2021-12-29 16:57] scharfstein commented on #167
Data set update - Seal was assigned data set 4:

common-crawl - april 2021	common-crawl - april 2021	100.0 TiB

[2021-12-29 20:25] KwrayFF commented on #177
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2021-12-29 20:49] KwrayFF commented on #176
HI @Vincent0663 !
Thanks for applying.  I'm with the Filecoin Foundation and here to review this application for accuracy and authenticity.   Have a few questions to clear up some irregularities in this application.

1. Can you please provide more detail around the company datasets for me?.  When reviewing the sample data you provided (https://xinje.com/xj_service/xj_xzzx.html) there doesn't look

[2021-12-29 20:56] KwrayFF commented on #164
Hi @kylyhorton
Sending a friendly follow up.  Do you have additional information or have you addressed the Potential Security Risk associated with the site?

[2021-12-29 21:10] KwrayFF commented on #163
HI @XixiTalken !
Thanks for applying. I'm with the Filecoin Foundation and here to review this application for accuracy and authenticity. Have a few questions to help get this processed for you.

Can you please provide additional contact information from associates within your company?
-  Ideally some of the Github handles from 'The Team' website (https://talken.io/static/introPage/index.html?osTy

[2021-12-30 02:57] Jacintos commented on #162
Thank you guys! @TimWilliams00 @XnMatrixSV

[2021-12-30 03:32] Jacintos commented on #162
Will my issue go on? It has started several days ago! @galen-mcandrew @dkkapur @KwrayFF

[2021-12-30 05:25] laurarenpanda commented on #78
Hi there.
Over 90% of the 3rd-week allocation has been used up, and there are only 9 TiB DataCaps left.
Since that, I'd like to apply for the 4th-week allocation, which might be 500 TiB (200% of weekly allocation rate) or 1000TiB (400% of weekly allocation rate). Not so sure that [this proposal](https://github.com/filecoin-project/notary-governance/issues/345) is already in use. All in all, we are

[2021-12-30 05:28] psh0691 commented on #166
Title, Thanks you!

[2021-12-30 05:30] psh0691 commented on #166
...

[2021-12-30 05:57] Vincent0663 commented on #176
@KwrayFF
1、In addition to the parts provided by the website (solution introduction, user guide, data description, etc., which are completely public, in order to facilitate users to download and understand our products), some offline business data are not on the website. This website only introduces our business and company, and the subsequent data are uploaded locally by us. The data types include

[2021-12-30 08:28] IzzyLay opened #178 "[DataCap Application] VIDTOO TECHNOLOGY (HONGKONG) CO., LIMITED"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: VIDTOO TECHNOLOGY (HONGKONG) CO., LIMITED
- Website / Social Media: Twitter：@VIDTOO Tech
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB)

[2021-12-30 08:45] flyworker commented on #172
i cannot find this case in https://plus.fil.org/app

[2021-12-30 08:57] rayshitou commented on #169
This theme is significative in the context of the current pandemic.
btw, how much public data do you have right now?

[2021-12-30 10:07] quinn463 commented on #169
Hello @rayshitou , we've already downloaded all the data which the program needs. And we are eager to make deals. So we really need the datacap! Hope your approval!

[2021-12-30 17:32] dkkapur commented on #167
@scharfstein - `On-chain address for first allocation: f01558688` still requires a client address. Holding this from proceeding with RKH until we get this corrected. Please update us as soon as possible. Thank you!

[2021-12-30 18:08] dkkapur commented on #175
@amaryisharono can you expand on what exactly is being stored?
I see a `Cases of services.` mentioned above and the image is very helpful, but just looks like what type of services Jaggy offers. Is the intent to store backup/archival data of all Jaggy's past services offered to clients? How does this add up to a requirement of 2PiB?

[2021-12-30 18:16] dkkapur commented on #174
@pandola0908 for your DataCap allocation plan, can you add a few more details on this?

- do you have specific countries in which you want to ensure replicas of the data are available?
- do you have a target number of storage providers in mind already?
- how do you plan on finding storage providers?

[2021-12-30 21:05] flyworker commented on #172
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedpfqaavd3ukhkgcx2yveciwjgdnvxku5zdbeg4znssgphzwhoqns

[2021-12-31 02:35] yuda328996 opened #179 "[DataCap Application]Asia Blockchain Gaming Alliance"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:Asia Blockchain Gaming Alliance
- Website / Social Media:
Twitter：@ABGAasia
Email：admin@abga.asia
Telegram：@ABGA
Facebook：ABGA
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5 PiB
- Weekly allocation of DataCap

[2021-12-31 04:52] KwrayFF commented on #178
Hi @IzzyLay

Thanks for applying. I'm with the Filecoin Foundation and here to review this application for accuracy and authenticity. Have a few questions to help get this processed for you.

I'd like to find out more about the legitimate work you are doing, but not seeing much in terms of reference this request. Can you please share
1. Working company website
2. Social Media Presence links (if av

[2021-12-31 05:23] KwrayFF commented on #176
Ah, Thanks @Vincent0663, appreciate you providing more detail.

Given the irregularities in the referenced website, and the fact the Github account has no activity prior to this application - a second review will be needed before moving forward.  Just sent this up through the community for their input and questions.  Given the holiday weekend, you should hear back around January 3/4. Will keep you

[2021-12-31 06:56] neogeweb3 commented on #171
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecgeetvu6hqckug4hqyawupt7xc3xk4pe4ra2wpg57xgn2nylwpie

[2021-12-31 07:27] xingjitansuo commented on #171
Does anyone know why the status of ticket is "Error" ?

[2021-12-31 09:56] Vincent0663 commented on #176
@KwrayFF
For Chinese companies, GitHub is not widely used. And due to some policy reasons, we cannot log in to the GitHub website directly. Therefore, we specially registered this account to participate in this project. The markets or operators also need some time to learn and become familiar with how to use GitHub.At the same time, we have always hoped that there will be a more general platform f

[2021-12-31 10:40] HowDeep123 opened #180 "[DataCap Application]slingshot restore program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: KarenudxPhillipsr
- Website / Social Media: https://github.com/filecoin-project/slingshot/blob/master/datasets.md
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (u

[2021-12-31 18:58] dkkapur commented on #180
@HowDeep123 - this dataset is assigned to @flyworker and his team for Slingshot Restore. https://docs.google.com/spreadsheets/d/1UYmVtwtJUIAwlogZmLSZB_nZxWrVlID6ryfqrB0jBjw/edit?usp=sharing has the list of selected clients and their datasets. Are you working with him?

[2021-12-31 18:59] dkkapur commented on #171
Looks like the allocation went through correctly. Address shows 25TiB of DataCap available.

Adjusting labels.

[2021-12-31 19:12] dkkapur commented on #162
@Jacintos - yes, just need to figure out what happened to your previous application for audit trail purposes. What happened to the issue and the account? Did you get any notification from GitHub?

@TimWilliams00 do you happen to happen any additional info on screenshots you can share as well?

[2021-12-31 19:21] dkkapur commented on #153
@ubuckvnockai this was blocked for a subsequent allocation because of the labels. Should trigger in the next day.

[2021-12-31 19:40] flyworker commented on #180
I don't think we are working with him

[2021-12-31 20:39] xinaxu opened #181 "[DataCap Application] Public Blockchain Datasets (Tech Greedy)"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: TechGreedy
- Website / Social Media: https://www.techgreedy.net
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200 TiB
- On-chain addre

[2021-12-31 21:18] xinaxu opened #182 "[DataCap Application] GHTorrent (Tech Greedy)"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: TechGreedy
- Website / Social Media: https://www.techgreedy.net
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 500 TiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain ad

[2021-12-31 21:22] xinaxu opened #183 "[DataCap Application] Cancer Cell Line Encyclopedia (Tech Greedy)"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: TechGreedy
- Website / Social Media: https://www.techgreedy.net
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 250 TiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain ad

[2022-01-01 00:27] xinaxu commented on #183
This dataset no longer needs datacap

[2022-01-01 00:27] #183 closed

[2022-01-01 12:28] Jacintos commented on #162
My account was suddenly signed as flagged with no reason.
![16F71030-2E07-47C0-9516-A0FC901897BE](https://user-images.githubusercontent.com/93566395/147850552-90fa7598-e75b-4793-a475-122b8f8662cc.jpeg)

I had contacted support but got no reply. So I have to make a new issue like this to apply for datacap.

[2022-01-01 12:30] Jacintos commented on #162
My previous account was suddenly signed as flagged with no reason.
![71E82A2B-C4DB-42AE-B141-94EAD847022C](https://user-images.githubusercontent.com/93566395/147850578-7e195a9a-0eda-4aba-87c6-49c7cff27d3a.jpeg)

I had contacted support but got no reply. So I have to make a new issue like this to apply for datacap.

[2022-01-01 13:13] HowDeep123 commented on #180
Hi I'm KarenudxPhillipsr. I'm in the list. Sorry I’ve made a mistake about the issue. My datasets are genome-in-a-bottle, cancer-cell-line-encyclopedia-ccle and encyclopedia-of-dna-elements.

[2022-01-01 15:28] HowDeep123 commented on #180
Hi I'm KarenudxPhillipsr. I'm in the list. My datasets are genome-in-a-bottle, cancer-cell-line-encyclopedia-ccle and encyclopedia-of-dna-elements.

[2022-01-01 23:40] MegTei commented on #173
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb4jtefoihhqwkuy6edfkspmowwrgsk3ctrqxeqih2mhoqpercmuc

[2022-01-01 23:43] MegTei commented on #172
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced2zn5ywg7uzdr6744tscimdj56rogmm6gc2rie72yx2qvyi5wexe

[2022-01-01 23:55] MegTei commented on #139
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecvdsoftjmmewbpg2xgusg2lxit6hk4dnvchjzvb7r4wuvlst3luw

[2022-01-02 00:00] MegTei commented on #126
HI @tjzhocean your application looks good, Im assuming you have a tech team that understand the stage of development of the network and data retrieval is early stage (to your response on data retrieval)?

[2022-01-02 00:12] MegTei commented on #53
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceclyqpuoqqnnp6bzyanmlee53jppwti5cvggs556im25qqtb5mrj4

[2022-01-02 03:28] kylyhorton commented on #164
This should be the site's certificate expired, this is a site for display, will not cause security problems.

[2022-01-02 09:20] xingjitansuo commented on #171
@dkkapur Thanks, but seems like 25Tib is not enough for me even for the first week. Could you please share me a reference on how the 25Tib is decided for this LDN, also what would be the process for next Datacap request ?

[2022-01-03 01:56] seong-k commented on #117
Hi,

We've changed the On-chain address for first allocation by creating a new address. Hope it works. Please let us know if it still has an error to receive a Datacap. Thank you.

Regards,
TVCC

[2022-01-03 12:11] cryptowhizzard commented on #157
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacectzs7h7wtup6r6r36q4fkkw2xuw6oteh4ybkc7e7okqoitcenzje

[2022-01-03 12:14] cryptowhizzard commented on #146
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebaw3d27np4jbaka6o3egedbqjucqaqw4dqk5dbfoesjukqwym6r2

[2022-01-03 13:11] beatlesgogo opened #184 "[DataCap Application] Nswap"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Nswap
- Website / Social Media: nswap.space
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200 TiB
- On-chain address for first alloca

[2022-01-03 13:51] GlobalUnit-A commented on #110
@galen-mcandrew Hello, May I know when we will be able to get our allocation?

[2022-01-03 18:22] galen-mcandrew commented on #164
Looks like website may still need some updating. @kylyhorton
![Screen Shot 2022-01-03 at 10 21 03 AM](https://user-images.githubusercontent.com/85587348/147965518-645ef9af-0d2a-4280-9b49-0a53f4909ce3.png)

[2022-01-03 18:35] galen-mcandrew commented on #165
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-03 18:39] scharfstein commented on #167
Sorry for the delay ... here it is:

f3xgmtwepzgkb45jf6tkfrcezybhwupmg7jl6p6plslced7ufww3b2k4e6bcp3toajv43acdknxkc7xqs7scsq

and Happy New Year!

[2022-01-03 18:49] galen-mcandrew commented on #166
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-03 18:52] galen-mcandrew commented on #168
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-03 18:53] galen-mcandrew commented on #169
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-03 18:55] galen-mcandrew commented on #171
@xingjitansuo At this time, all LDN's follow an allocation calculation plan, which is in the readme here on GitHub:

Second allocation: lesser of 10% of total DataCap requested or 100% of weekly allocation rate
Third allocation onwards: lesser of 20% of total DataCap request or 200% of weekly allocation rate

Each allocation requires two signatures from the notaries on the multisig. Once you have

[2022-01-03 19:36] galen-mcandrew commented on #176
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-03 19:50] galen-mcandrew commented on #169
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-03 23:36] seong-k commented on #117
Dear @steven004

Hope everything is going well this year. We have requested a large datacap with the addresss:  f3tbfu6dptaui5uwdt7tlhzmovocz47z2fv34dewwhvkf6heel63zqv6ro7we5fvfzndmofel64dggk5vdr5rq, but we haven't received any Datacap yet. After all, we also tried creating a new address: f3vxcgzyidrdcmu4n5wod6z47hnx2cingczlzfuxhrj64ih75mg4i7faxeqomn3grablavdamihxlo4icywqva, but we haven't receive

[2022-01-04 02:56] steven004 commented on #117
@seong-k I had proposed 5TiB grant for you using this address `f3tbfu6dptaui5uwdt7tlhzmovocz47z2fv34dewwhvkf6heel63zqv6ro7we5fvfzndmofel64dggk5vdr5rq`, but it needs another notary to approve to take effect.

[2022-01-04 03:10] swatchliu commented on #146
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebwyipu2gdu5mtazd44xwc2ro32cwswdzs6sm3yziiht4pp2i5362

[2022-01-04 03:20] TimWilliams00 commented on #162
Yes, I suggest the client resubmit a new issue before the RKH signature can realize the migration. At present, the instability of GitHub system has affected the progress of LDN, but we really don't have a better solution. Last month I invited the chairman of Toastmaster Club to understand and try to use filecoin to store.

[2022-01-04 03:40] IreneYoung commented on #138
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecukjryqb3dluq6qdgihchrag6chhns6d2ar27jpypf6qxzvlxjfe

[2022-01-04 07:24] Fenbushi-Filecoin commented on #153
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecczm2hrnbplvhaz4b3ccd6bsdkjjc5ytvbzxipqdrdzydaevfq5y

[2022-01-04 08:03] Fenbushi-Filecoin commented on #138
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceambe7ce7e6jhvzfbt2alnypm4l2nvro5fnliggamtrpuq3snxkqy

[2022-01-04 08:11] ubuckvnockai opened #185 "[DataCap Application]Slingshot Restore Program"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: KarenudxPhillipsr
- Website / Social Media: https://github.com/filecoin-project/slingshot/blob/master/datasets.md
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):2PiB
- Weekly allocation of DataCap requested (us

[2022-01-04 09:04] #180 closed

[2022-01-04 09:58] laurarenpanda commented on #78
Hi @galen-mcandrew .
Our DataCap is almost used up. However, the rob did not update the status.
Would you please give me a hand, and Notaries can sign my request.
Thanks so much.

[2022-01-04 10:02] luxlincu opened #186 "[DataCap Application] Luxlincu"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  Luxlincu
- Website / Social Media:  www.luxlincu.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 20TiB
- On-chain address for first

[2022-01-04 10:38] Jacintos opened #187 "[DataCap Application]Meson.Network"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Meson.Network
- Website / Social Media:https://meson.network/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):300TiB
- On-chain address fo

[2022-01-04 19:31] galen-mcandrew commented on #68
Website url is broken.

[2022-01-04 20:00] Reiers commented on #157
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebx5lmggcfhbm5nvzsbrrf57igkejnzjohexazqopmokz5rzup4hi

[2022-01-04 20:06] Reiers commented on #153
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceahemag5t5as56y4pihv2b7todviqvt4sbqxi6wzroojjccxafsbc

[2022-01-04 20:30] Reiers commented on #44
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedjiwtrnxtvmxtri3gfdkkhydkge33kzuiiejjapus6ds7msido4c

[2022-01-04 20:36] Reiers commented on #64
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebqtue3v6ofq45eeiufp5xfewdmapyzzxmuoir2w26hyqadv4akew

[2022-01-04 20:39] Reiers commented on #177
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecud6trc3n6ipvbz44kphtrzy3rapfwaawdnexkakchbsb3yyz57u

[2022-01-04 20:42] Reiers commented on #114
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebcv725pn3hs4tynwp2s4q2dxratdypzvn4fntxne2jh3ia5gg42s

[2022-01-04 20:44] Reiers commented on #141
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedth6zkgfmr7uazynwiqnw3fnzwl3bur7gwrrcnqmv2p42re5mfam

[2022-01-04 20:49] Reiers commented on #147
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebqnyejgfgrju7sobrnjojdujj5ent75rwa6neeocda2if55s772e

[2022-01-04 20:52] Reiers commented on #119
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced7rjnsktj6jjew7q5fwunvcdg6y4vtn72f3tw36ojwvdhrac6fr4

[2022-01-04 21:02] Reiers commented on #39
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebztecvyafl5lziq2vvdjag5c4wc77zmom2aiqrdpjapl4avymvje

[2022-01-05 02:13] tjzhocean commented on #126
@MegTei We understand this situation, and our technical team will always pay attention to the development trend of the network.

[2022-01-05 02:18] snowliang123 commented on #100
@galen-mcandrew  Sorry to bother you, because it has been a long time. Can we continue?

[2022-01-05 03:45] ubuckvnockai commented on #185
Hi Deep @dkkapur , we were assigned to datasets is #6 & #7, total of 238TiB. We are trying to seal the 9 copies that are total 2142TiB data. BTW, our team member also got the 2PiB DataCap approved. Thank you for your understanding and approval.  https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/173

[2022-01-05 03:57] RaicmL opened #188 "[DataCap Application]Nano Labs"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Nano Labs
- Website / Social Media: Twitter：@NanoLabs      Website：www.nano.cn
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):100TiB
-

[2022-01-05 04:40] galen-mcandrew commented on #116
For LDN's we typically want to see top storage provider allocations at less than 35% of your overall deal-making, rather than 66.07%. A lower percentage indicates greater deal distribution, so I would also encourage you to work with some more storage providers. You can find more in deal making Slack channels, https://filrep.io/, or https://plus.fil.org/miners (just some sources, there are many way

[2022-01-05 04:46] galen-mcandrew commented on #110
The application is ready for notaries to sign. You need 2 from the LDN multisig.

[2022-01-05 04:52] galen-mcandrew commented on #78
Looks like the label didn't switch to granted after the last approval, so the subsequent allocation bot was skipping this. I just adjusted the labels

[2022-01-05 05:00] galen-mcandrew commented on #64
Looks like the above comment was an approval for a pending 25TiB transaction ID 1. At this time, client as 24TiB of DataCap, leaving the labels to allow next notary to approve pending txID2 for 50 TiB of DataCap

[2022-01-05 05:45] Pandora958 opened #189 "[DataCap Application] Shanghai Yilianyun Digital Technology Co., Ltd."
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Shanghai Yilianyun Digital Technology Co., Ltd.
- Website / Social Media: https://www.toutiao.com/c/user/token/MS4wLjABAAAARZ98eyWDzmN5FjrPOLhYh6VVFag0OGvJeSsjMrzfCYs/?
- Total amount of DataCap being requested (between 500 TiB and 5

[2022-01-05 06:02] syncjp commented on #123
@galen-mcandrew Can you help me solve this problem? It seems that I have provided the required information

[2022-01-05 06:28] changlizhi commented on #116
@galen-mcandrew yes, We realized that,The time of the notification from the bot is 7 days ago,at that time we just have found 3 storage providers and we just used up 80% of the 50TiB datacap,then we found another one and send the rest 10TiB datacap deals. the Top Provider becomes 43.88% now and there is 1TiB datacap left and the 1TiB is dealing.And we know that there is a filswan in Community now,

[2022-01-05 06:34] quinn463 commented on #169
Dear RKH, hope you can process our request. Only 23 days left for the slingshot 2.7. Now, we are waiting for you and the notary's approval then start sealing data(we have completed the download). @galen-mcandrew @dkkapur

[2022-01-05 06:37] Jacintos commented on #162
Hi Deep @dkkapur  and Galen @galen-mcandrew , sorry to bother your Holiday, we were waiting for your response for 4 days. Any update on my application?

[2022-01-05 07:11] Alex12345699 commented on #96
@galen-mcandrew  May we know the reason why our issue was closed? Can we submit a new issue?

[2022-01-05 07:13] amaryisharono commented on #175
Sorry for the late reply, Deep! @dkkapur
Yes, we want to backup/archival data of all Jaggy's past services offered to clients, you can see our IT outsourcing page, Most of our DBAs have over 15 years of experience. Our Oracle, SQL Server, MySQL, and DB2Database Administration experts have the real-world experience and technical knowledge to proactively and securely manage clients' business-critica

[2022-01-05 07:13] Alex12345699 commented on #96
@galen-mcandrew  We uploaded a  Zip file for your reference and please  have a check and let us know if there is any need to modify or update, thank you.

[2022-01-05 07:18] cea1063 commented on #115
Hi Galen,
I updated my comment 3 weeks ago.
Could you share current status?
If you need other information or have request, let me know.

[2022-01-05 07:54] dannyob commented on #164
Yep, it's totally down now.

[2022-01-05 08:20] dannyob commented on #115
Hi @cea1063 -- I'm the notary at the Filecoin Foundation. 5PiB is a lot of datacap to start with. You may be better off requesting a smaller one-off amount to see if the system will work well for you, and for us to be able to better ascertain whether your data is appropriate for a larger Filecoin Plus datacap allotment. Have you considered applying for a smaller one-off allocation from a single no

[2022-01-05 09:47] ozhtdong commented on #187
Great project.!  Are you intend to release your project on filecoin, if FVM is ready this year ?

[2022-01-05 09:58] Fenbushi-Filecoin commented on #54
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecvkwftraeeqp2mv7wffl63ccxx36d63si5frsfrdhanbzzmhxvqa

[2022-01-05 10:02] ozhtdong commented on #31
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceczblof2fobsdvwfpg2glvce3jxemogtakutydxstfwoi3wczk5qy

[2022-01-05 10:06] Fenbushi-Filecoin commented on #51
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceamrbwsut6b2wps4uocnq46he6xo5opwndriwlca3whn63azarvb6

[2022-01-05 10:10] quinn463 opened #190 "[DataCap Application]Video++Jiliantech"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Jiliantech
- Website / Social Media:www.videojj.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):200TiB
- On-chain address for first al

[2022-01-05 10:18] quinn463 opened #191 "z"

[2022-01-05 10:19] #191 closed

[2022-01-05 10:30] amaryisharono commented on #175
Thank you for your support!

[2022-01-05 14:43] darrellhendershot commented on #190
Looks interesting!

More and more IT companies realized the value of the Filecoin network.

Any autonomous driving data do you have? Are you wish to share it with community members all over the world?

[2022-01-05 15:13] XixiTalken commented on #163
Hi @KwrayFF , thanks for your reply. Here is the information for your reference.

- Github Handle from the Team:
[](https://github.com/hwnahm )
[](https://github.com/woojae-cho)

- Company email address:
xixi@talken.io
km.kim@talken.io

[2022-01-05 15:14] XixiTalken commented on #163
Hi @KwrayFF , thanks for your reply. Here is the information for your reference.

- Github Handle from the Team:
https://github.com/hwnahm
https://github.com/woojae-cho

- Company email address:
xixi@talken.io
km.kim@talken.io

[2022-01-05 19:17] galen-mcandrew commented on #77
The previous allocation was for 100 TiB of DataCap, and checking this client address still has 94 TiB. The subsequent allocation bot will not request more DataCap until 75% of the previous allocation has been sealed in deals.

Additionally, this multisig still has a pending transaction from the previous triple signature. So when you have used more DataCap and the SA bot kicks off the next allocati

[2022-01-05 19:31] galen-mcandrew commented on #179
The sample data appears to be marketing material. Do you have more samples of the data that would be stored on Filecoin?

[2022-01-05 19:32] galen-mcandrew commented on #179
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-05 19:41] galen-mcandrew commented on #181
@xinaxu Can you clarify the difference between this application and #182 ? Are they both for Slingshot competition?

[2022-01-05 19:42] galen-mcandrew commented on #182
@xinaxu Can you clarify the difference between this application and #181  ? Are they both for Slingshot competition?

[2022-01-05 20:01] galen-mcandrew commented on #184
The website does not appear complete, not a lot of detail here justifying the volume of weekly data requested.

Can you provide some more information and sample data for your project?

[2022-01-05 20:03] galen-mcandrew commented on #100
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-05 20:09] galen-mcandrew commented on #123
Not really sure where it was finding an issue. Adjusting the labels.

[2022-01-05 20:13] galen-mcandrew commented on #116
Thanks for the info. At this time, your application is ready to sign and awaiting notary action. You will need two different notaries than the previous allocation signers (dannyob & Reiers)

[2022-01-05 20:17] galen-mcandrew commented on #96
The above is just a hyperlink to this issue. You can edit the parent comment and include sample data for the notaries to review.

Additionally, it sounds like you are claiming you have your own datacenter and will be uploading and making deals with your own storage.

The large dataset process is for clients to upload public datasets with a decentralized group of storage providers, with no allocati

[2022-01-05 20:26] galen-mcandrew commented on #115
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-05 20:30] galen-mcandrew commented on #115
With the extra detail, this can pass over to the notaries. I would agree with the advice from Danny though, that you may want to first work directly with a notary for a smaller amount of DataCap.

https://plus.fil.org/verifiers

[2022-01-05 20:33] galen-mcandrew commented on #31
Looks like the above message was approving txID 0 for 10 TiB of DataCap. There is still a pending txID 1 for 20TiB of DataCap. Adjusting labels, so it can be signed through the app.

@ozhtdong can you try signing again for this transaction to get the 20TiB?

[2022-01-05 20:35] galen-mcandrew commented on #175
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-05 20:36] galen-mcandrew commented on #163
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-05 21:54] galen-mcandrew commented on #158
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-05 22:06] galen-mcandrew commented on #161
Website appears to be built by UJOONET. Is this related to #16 & https://github.com/filecoin-project/filecoin-plus-client-onboarding/issues/553

Is this the same project?

That client received 3 TiB from direct notary activity, and appears to have made deals with 12 storage providers, with top allocation of 18%. https://filplus.d.interplanetary.one/clients?filter=f3rpablljxoko6djyzbkmtqukfa6dnrzju

[2022-01-05 22:07] galen-mcandrew commented on #161
## Multisig Notary requested
#### Total DataCap requested

#### Expected weekly DataCap usage rate

[2022-01-05 23:08] galen-mcandrew commented on #162
## Multisig Notary Reconnection Request
#### Multisig Notary Address

#### Client Address

#### Notary Governance Issue

[2022-01-05 23:45] galen-mcandrew commented on #162
@fabriziogianni7 does the above look correct? I don't know that we've shipped those changes, but we could test it here.

[2022-01-06 00:51] changlizhi commented on #116
@galen-mcandrew ok,thanks.waiting for it

[2022-01-06 01:36] ClarkYin5566 commented on #101
@galen-mcandrew Hi galen, anything else needs to be provided？

[2022-01-06 01:38] shiji605 commented on #97
@galen-mcandrew   I'm sorry to bother you. Can we continue it?

[2022-01-06 02:54] swatchliu commented on #51
As a community consensus, we would prefer to see greater deal distribution than 5 SPs and top allocation below 35%. You may find more SPs on Salck. Hope you can try to match this rule and prepare for the next round.

[2022-01-06 03:02] dannyob commented on #29
I'm happy to support this for the initial allocation: I'd encourage you to look to a wide range of storage providers (especially those outside your region) in distributing the initial datacap. Thanks for participating!

[2022-01-06 03:33] swatchliu commented on #51
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaux2q3mcmougv7dn6qpyjon2attfccpblk24zw2mlhultyb5hzyq

[2022-01-06 03:46] quinn463 commented on #190
No, we don't. We've got datasets such as traffic lights recognition, parking slot dataset, mappillaryvistas datasets and so on. We would share our datasets with community members because the datasets we store are public.

[2022-01-06 04:52] hyelimmmy commented on #137
@galen-mcandrew
Hi, I changed DataCap request amount and Weekly allocation of DataCap requested.
To be more accurately deal with DC allocation.
Also It's been 2weeks since I edit my application after you comment me.
so hopefully I want to get reply from you.

[2022-01-06 07:42] ozhtdong commented on #187
Happy to support. Hope you have a nice experience with filecoin.

[2022-01-06 07:55] ubuckvnockai commented on #68
Yes, we've just confirmed with IT. Due to policy adjustments, our original website is no longer in use. A new website entry is under development.

[2022-01-06 09:35] cea1063 commented on #115
Hi Danny,
I requested 'Client Allocation Request for Pharos'.
Unfortunately I clicked 'send request' button twice.
Could you close Issue #1366?
Please check my request. If you have other request, let me know.

[2022-01-06 09:40] cea1063 commented on #115
Hi Galen,
Thanks for your support.
I would like to proceed both 'DataCap Application' and 'Client Allocation'
As Danny mentioned, I will check our system work well.

[2022-01-06 10:26] ubuckvnockai opened #192 "[DataCap Application]China Travel Service(HongKong) Limited"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: China travel service(HongKong) limited
- Website / Social Media:https://ww1.ctshk.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):3.5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):2

[2022-01-06 10:33] swatchliu commented on #190
Interested in your biz~  Could you help to arrange a visit to your office?

[2022-01-06 11:02] dannyob commented on #44
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceds6h43wct4hwsa53a7c3fkb6bua5grnrunnldm3y6gpic5zwahnu

[2022-01-06 11:14] dannyob commented on #157
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb37nb2jmc57kipqpr6q3abkpf7v54imtnqtcyjlg5vmvpxphl43e

[2022-01-06 11:19] dannyob commented on #177
Hi @Leoxiazhe -- I'm approving this first allocation: please endeavour to distribute your data to as many storage providers as you can. It helps with the safe storage of your data, and improves the Filecoin ecosystem. Thanks!

[2022-01-06 11:29] dannyob commented on #177
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedlsdzzfy74g45hldnrdhfk65k52tjhvz3tvujy7k4g2nrqb2hbzw

[2022-01-06 11:32] dannyob commented on #81
@liyunzhi-666 do you have a page or quote from the NADC website that conveys an open copyright license for the data? That would be very useful!

[2022-01-06 14:42] swatchliu commented on #188
Your website can not be accessed.

[2022-01-06 14:43] swatchliu commented on #167
Happy to support if you need.

[2022-01-06 14:51] swatchliu commented on #189
Do you have a public website?

[2022-01-06 15:36] quinn463 commented on #190
Welcome! We are located at Shanghai! Welcome to coming!!

[2022-01-06 16:04] swatchliu commented on #158
Looks like a P2E game.

1. How many end-user do you have right now?
2. Why do you have such huge data(5PiB) that needs to store?

[2022-01-06 17:18] xinaxu commented on #182
@galen-mcandrew That's correct. They are both for Slingshot competition, however for different dataset. Per Slingshot rule, each project needs to have different client address to differentiate.

[2022-01-06 17:18] xinaxu commented on #181
@galen-mcandrew That's correct. They are both for Slingshot competition, however for different dataset. Per Slingshot rule, each project needs to have different client address to differentiate.

[2022-01-06 17:33] galen-mcandrew commented on #167
Looks like bot is not picking up to start first allocation, so I'll do it manually.

First allocation: lesser of 5% of total DataCap requested or 50% of weekly allocation rate

5% of 2PiB = 12.8TiB

[2022-01-06 17:35] galen-mcandrew commented on #167
## DataCap Allocation requested

#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2022-01-06 17:37] galen-mcandrew commented on #165
Looks like bot is not picking up to start first allocation, so I'll do it manually.

First allocation: lesser of 5% of total DataCap requested or 50% of weekly allocation rate

5% of 5PiB = 32TiB

[2022-01-06 17:37] galen-mcandrew commented on #165
## DataCap Allocation requested

#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2022-01-06 17:39] galen-mcandrew commented on #166
Looks like bot is not picking up to start first allocation, so I'll do it manually.

First allocation: lesser of 5% of total DataCap requested or 50% of weekly allocation rate

5% of 1PiB = 6.4TiB

[2022-01-06 17:51] galen-mcandrew commented on #168
Looks like bot is not picking up to start first allocation, so I'll do it manually.

First allocation: lesser of 5% of total DataCap requested or 50% of weekly allocation rate

5% of 5PiB = 256TiB
50% of 100TiB = 50TiB

[2022-01-06 17:51] galen-mcandrew commented on #168
## DataCap Allocation requested

#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2022-01-06 17:52] galen-mcandrew commented on #176
## Weekly DataCap Allocation Update requested
#### Update to expected weekly DataCap usage rate

[2022-01-06 17:53] galen-mcandrew commented on #176
Looks like bot is not picking up to start first allocation, so I'll do it manually.

First allocation: lesser of 5% of total DataCap requested or 50% of weekly allocation rate

5% of 5PiB = 256TiB
50% of 100TiB = 50TiB

[2022-01-06 17:53] galen-mcandrew commented on #176
## DataCap Allocation requested

#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2022-01-06 17:55] galen-mcandrew commented on #169
Looks like bot is not picking up to start first allocation, so I'll do it manually.

First allocation: lesser of 5% of total DataCap requested or 50% of weekly allocation rate

5% of 1.5PiB = 76.8TiB
50% of 300TiB = 150TiB

[2022-01-06 17:55] galen-mcandrew commented on #169
## DataCap Allocation requested

#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2022-01-06 19:30] Schwartz10 opened #193 "[DataCap Application] Glif Chainstate Preservation Project"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: [Glif](https://www.glif.io)
- Website / Social Media: https://www.glif.io
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-c

[2022-01-07 02:07] Alex12345699 commented on #96
Our company is an Internet enterprise engaged in cloud storage business. Many customers need to upload files, videos, pictures and documents. So we need to apply for a public data set. The main purpose of DataCap is to help customers with storage business. NOT self-dealing. The file we uploaded is a promotional video of our company. This is just a model document. Our customer has many similar file

[2022-01-07 02:07] Alex12345699 commented on #96
@galen-mcandrew

[2022-01-07 02:23] Pandora958 commented on #189
@swatchliu Only have the Social Media page：https://www.toutiao.com/c/user/token/MS4wLjABAAAARZ98eyWDzmN5FjrPOLhYh6VVFag0OGvJeSsjMrzfCYs/?

[2022-01-07 02:35] nnrecive commented on #161
I'm sorry.
It's not related to UJOONET.
Chohee's website is https://www.youtube.com/c/ATB%EC%96%B4%EB%B0%94%EC%9B%83%EB%8D%94%EB%B8%94%EB%A1%9D%EB%8F%88%EB%B2%8C%EA%B1%B8%EB%8F%88%EB%B2%84%EB%82%A8.

It is a project to have https://namu.wiki/w/ATA%20Esports e-sports Team and to store and operate Battleground game videos and application data.

[2022-01-07 03:16] swatchliu commented on #190
Happy to support if RKH passed your issue.

[2022-01-07 06:53] Jacintos commented on #187
@ozhtdong Thank you for your support. Hope my issue have new progress!

[2022-01-07 07:12] laurarenpanda commented on #78
Hi there,
Can anyone please look at our application and help approve the 4th-week allocation?
We are ready to receive the next allocation.
Thanks so much!

[2022-01-07 07:15] Jacintos commented on #162
@galen-mcandrew @fabriziogianni7 Please help us solve the problem, thank you!!!!!!!

[2022-01-07 07:25] beatlesgogo commented on #184
Also you can view our twitter: https://twitter.com/Nswapspace

[2022-01-07 07:34] GameWayFun2021 commented on #158
@swatchliu Hi, very glad to see your questions.

Gameway is an aggregated platform with community, NFT and games. So we need to store community data, game data and NFT data.
Actually 5 PiB is not huge for us, we would like to apply for more after allocating.

Let's talk from time to time.

[2022-01-07 07:38] NDLabs commented on #109
@galen-mcandrew Hi, Galen, any update here?

[2022-01-07 07:58] ozhtdong commented on #192
Thanks for applying!
Could you clarify your role? are you a representative of this client?

[2022-01-07 08:13] ozhtdong commented on #31
We find many issues got the similar problems when approving them. Do you have a better radical solution？ @dkkapur @galen-mcandrew

[2022-01-07 08:47] shuyapeng opened #194 "[DataCap Application] Shenzhen YouTrans Intelligent Logistics Co., Ltd"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information

- Organization Name: Shenzhen YouTrans Intelligent Logistics Co., Ltd
- Website / Social Media: www.youtrans.net
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1 PiB
- Weekly allocation of DataCap requested (usually between 1-100

[2022-01-07 08:48] shuyapeng commented on #194
@galen-mcandrew

[2022-01-07 09:41] fabriziogianni7 opened #195 "[DataCap Application] - TEST ISSUE"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: xxx
- Website / Social Media:xxx
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain address for first allocation: 123xxxx

[2022-01-07 09:41] #195 closed

[2022-01-07 09:44] fabriziogianni7 commented on #162
@galen-mcandrew this feature is still in test env

[2022-01-07 10:23] quinn463 commented on #169
@galen-mcandrew Hi. What can I do now?

[2022-01-07 10:32] Jacintos commented on #162
Ah how can I deal with the problem? @fabriziogianni7

[2022-01-07 10:55] TPP-official commented on #54
Looks like something is wrong with the system bot. We are supposed to get 300TiB DC in round 4, but only 100TiB was allocated in our wallet. Both notary and RKH look right. Hope anyone help us!

[2022-01-07 11:15] ubuckvnockai commented on #192
@ozhtdong Hi, our client(The data provider) was not familiar with the Filecoin project at this stage. We will help them understand the vision of Filecoin and clear the rule of the community. We will submit the application with their authorization and teach /help them deploy the systems, send the deal, and archive the data.

[2022-01-07 11:50] ozhtdong commented on #192
Great! The community needs your role very much, but there is  no good incentive at present. Thanks you very much for your efforts. I know there is a gravity project recently, recommend you to have a try. This is what filecoin encourages in this stage!

[2022-01-07 12:05] ozhtdong commented on #54
@dkkapur @galen-mcandrew @KwrayFF  The similar problem of bot ~

[2022-01-07 12:06] ozhtdong commented on #169
@galen-mcandrew @KwrayFF   Problem of bot ~

[2022-01-07 14:06] Schwartz10 commented on #181
Cool idea! Just wanted to point out the similarities here between this application and the [Glif chainstate preservation project](https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/193) application.

There are a couple key differences though:

- We plan to back up raw blockchain data, whereas bigquery data may be preprocessed in some way?
- We plan to back up the data in perpe

[2022-01-07 16:49] xinaxu commented on #181
Thanks @Schwartz10 for pointing out the difference

- Yes, the bigquery data here is preprocessed and fits into table structure, which is useful for database import. One advantage is that any query for the bigquery table can be used for this set of data
- We plan for 1.5 years for now. The Filecoin protocol may evolve significantly in 1.5 years and we will evaluate then.
- This project is part of

[2022-01-07 16:56] galen-mcandrew commented on #169
I modified the first allocation request, so it's asking for 51TiB, and the bot has the correct labels. Checking the app, I'm seeing it correctly ready to sign. So Quinn, you don't need to do anything. We are waiting for two notary signatures to get the first allocation of 51TiB.

![Screen Shot 2022-01-07 at 8 55 53 AM](https://user-images.githubusercontent.com/85587348/148578682-d299ab36-713b-4e0f

[2022-01-07 16:59] galen-mcandrew commented on #162
@Jacintos we are still testing this to recover the existing multisig and get it connected to your new application. You can make a direct request to a notary, such as Tim at Performive, if you are storing in their region (North America).

https://plus.fil.org/verifiers

[2022-01-07 18:34] galen-mcandrew commented on #29
@fabriziogianni7 This one is not showing up in the app for some reason, and still has pending txID0 for 200GiB

[2022-01-08 00:54] Epengtimes commented on #86
@ozhtdong @IreneYoung
Hi, could you help to approve the subsequent datacap allocation pls? Thanks!

[2022-01-08 09:01] IreneYoung commented on #86
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceawzpc2xiwro6ksmapu5ew7nk3giaeez2yvnmormepick2s2vwaf6

[2022-01-08 09:02] IreneYoung commented on #86
Done👌

[2022-01-08 14:05] AnthnoySmith commented on #110
I can't find the entrance of uploading the data from your users.

[2022-01-08 21:38] Ray-PiKNiK commented on #53
Hi @MegTei,

It seems the network still is not aware of `f17g7h52bsi53rb263xwne573dusskit4mieqkgry` being a verified client. It is unable to send verified deals and https://verify.glif.io/ reflects this state as well.

Any ideas what could be the issue?

[2022-01-09 05:16] flyworker commented on #116
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea5zbihxzwa26pyhjb3rig6nqqzsrsa4klechsvd7cljtc2rxmuze

[2022-01-09 15:47] AnthnoySmith commented on #116
I just downloaded your app of ios and can upload files and images, but I found that I can't access any other people's public data. I don't think this issue meets the basic requirements of LDN.  Suggest other notaries can have a test before signing it.

[2022-01-10 01:14] changlizhi commented on #116
HELLO @AnthnoySmith ,Publish your cid instead of just mention.And If you have deals between filecoin and IPFS,you will find that the cids of filecoin and IPFS is different,you cant search cid in our app with filecoin cid ,because we upload the data to filecoin(means cold data) but our app is based on IPFS(means hot data).If you want to verify the data of datacap, you can find  the dealid in ` http

[2022-01-10 03:14] amaryisharono commented on #175
Hello! I'm waiting for my datacap. But it seems that my issue is forgot by the bot. Can you help me? @dkkapur @galen-mcandrew

[2022-01-10 03:30] TimWilliams00 commented on #162
I have no datacap left now.

[2022-01-10 04:03] ozhtdong commented on #169
Thanks Galen for your reply! I can support this issue，but you'd better to fix these common problems ASAP. 1、Bot doesn't work; 2、Wrong allocation rate ；3、Disorder of multisigning  @galen-mcandrew

[2022-01-10 05:45] Jacintos commented on #162
@TimWilliams00 Thank you!
@galen-mcandrew I think we can not wait for your testing such a long time. If it can't be fixed, can you open a new window for us?

[2022-01-10 05:57] metacnc opened #196 "[DataCap Application] Meta C&C"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Meta C&C
- Website / Social Media: www.meta8cnc.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200TiB
- On-chain address for first

[2022-01-10 06:43] ozhtdong commented on #169
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea6rntj4puzqbhexj3xuudrzp4nsg3uj2fjjjjzvzvinr3ioymauo

[2022-01-10 07:39] NDLabs commented on #109
@galen-mcandrew Hi, Galen,waiting for your good news.

[2022-01-10 07:54] ftest01 opened #197 "[DataCap Application] N LABS"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: N LABS
- Website / Social Media: https://twitter.com/NlabsDAO
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 50 TiB
- On-chain address