[2022-06-14 08:48] paar13kr commented on #406
@EGGRICE02
How can you make sure that data uploaded by users are not copyright-related since you'd like to backup data from your users?
 -> We are filtering copyright data through copyright solutions and will upload non-copyright materials based on filtering.

Do you have a license from user that allow you to upload their data to Filecoin Network?
 -> Currently, we are going to choice and test the

[2022-06-14 08:53] MengZhiChuang opened #409 "[DataCap Application]Beijing Meng Zhi Chuang Digital Technology Co., LTD"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beijing Meng Zhi Chuang Digital Technology Co., LTD
- Website / Social Media: https://www.tangdou.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually bet

[2022-06-14 09:03] paar13kr commented on #406
@GaryGJG
How many data do you have now?
-> We have 3.9Pib data. However, not all data can be stored, and non-copyright data will be selected and stored. It is expected to be more than 1Pib.

what storage are you using to store the data ?
-> We commissioned a storage company to use the data. The company is using on-premise storage.
![image](https://user-images.githubusercontent.com/73625067/1735375

[2022-06-14 11:33] MappingFunkProtocol commented on #374
Waiting

[2022-06-14 13:29] woshidama323 commented on #172
Hi @dkkapur  Have ping you on slack yesterday
Looking forward to your reply.

[2022-06-14 14:13] dkkapur opened #410 "[DataCap Allocation] - TEST ISSUE"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "[DataCap Application] - TEST ISSUE"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Or

[2022-06-14 14:17] galen-mcandrew commented on #398
## DataCap Allocation requested

#### Multisig Notary address

#### Client address

#### DataCap allocation requested

[2022-06-14 14:19] galen-mcandrew commented on #398
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-14 14:26] galen-mcandrew commented on #410
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-14 15:18] cryptowhizzard commented on #398
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceca3ix43am6jjlgst75fftqfsif3r4coiiioxvltgatlf6cf5veyy

[2022-06-14 15:22] cryptowhizzard commented on #53
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb5kexkgrjffzo4h4nrccv5ziqhafajikg5rxiul6eygwatv2dny4

[2022-06-14 15:22] cryptowhizzard commented on #61
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecuy6efg5neyojpawur63futmczvtwxy5yj3ui423a6oslldqj5vc

[2022-06-14 16:44] EGGRICE02 commented on #367
@MikaeLa-01 I see. In that case, can you share more samples of videos or customer data with us if it's convenient for you. I mean any kind of data that can prove your storage requirement is welcomed.

[2022-06-14 17:11] EGGRICE02 commented on #407
Hello, @Huifan-Tina0615. Your data are mainly live stream footages, is there any privacy concern or copyright issue to make it public? Some may not be happy to see themselves showing up on the Internet.
BTW, can you clarify how do you plan to transfer data offline with SP?

[2022-06-14 21:00] Fenbushi-Filecoin commented on #327
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea5pzn5sxorqgsq66b6dotikp2s4mvfny6nzv6svyap2r3obtmumu

[2022-06-14 23:43] 1475Notary commented on #398
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacectxq2lifjtscfep3dptwcmjzkyfm3j7pcuvuxgn3fbjg6yszx6qe

[2022-06-15 02:00] Sunnyiscoming commented on #219
@Shirleywow Hello, the data sample you provided is expired. I advice you extend sharing time so that notaries can check it and approve your application.
![image](https://user-images.githubusercontent.com/105098820/173719847-5986135a-39af-404b-bbec-08e1e160bae5.png)

[2022-06-15 02:10] WanjieData commented on #404
HI,@EGGRICE02
The data we intend to store in the Filecoin network is not related with government. We are aware of some data that we cannot store on the Filecoin network because we have to comply with laws and regulations before we store it.
We intend to store other business data in the Filecoin network, including but not limited to product descriptions, product services, service plans, etc., which

[2022-06-15 02:16] 1LISA2 commented on #405
hi，GaryGJG，I from STCould，Thanks for the reminder, I also modified the name of my github, Looking forward to your reply again, thank you

[2022-06-15 02:35] XnMatrixSV commented on #187
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceagsbn2vg3dwj7ubgf7uirqrqeiqcrhoakelmjmqhss4nu4wocuno

[2022-06-15 02:41] XnMatrixSV commented on #332
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedchhrz6wjutthnl4cakkxeu3xxhysmrvftyqr7yoelcl4qosznh4

[2022-06-15 03:06] newwebgroup commented on #356
Yes，The Chinese name of this customer is' 万鲸传媒 '

[2022-06-15 03:20] Shirleywow commented on #219
@Sunnyiscoming Hello.These are our supplementary data，Thank you.
https://pan.baidu.com/s/1RAI1fE6lakPAWOmJqjPU2w?pwd=1A4S        code：1A4S
https://pan.baidu.com/s/14nbEwY2h68Z7GqThcX6efw?pwd=1A4S     code：1A4S
https://pan.baidu.com/s/1_paSZX6pkH4sTNw_im1khQ?pwd=1A4S      code：1A4S

[2022-06-15 03:27] stonechu108 commented on #330
@Sunnyiscoming Thanks for your attention. Our company in Great China , but our business is carried out in Hong Kong. Because  of Chinese Mainland law.  Our domain and server are in HK , so you can not find the Registration Information.

[2022-06-15 03:49] cmcrey commented on #361
@Sunnyiscoming Hi.
1. "MU" means the name of a game.
2. Please refer to the following detailed information about Miracle Universe Chain:

Deck: https://docsend.com/view/9z6d37cnzwtg8vnv/d/tn4c8zmviqawge94
Website：https://www.miracles.games
Discord：https://discord.gg/EnsvSAVZCv
Twitter：https://twitter.com/0xMiracleGame
Montgomery Singman（CEO）- https://linkedin.com/in/msingman/
Code audit ：https://w

[2022-06-15 03:59] zzhh88 commented on #208
@dkkapur @dud1337 We would like to know what else should we offer?

[2022-06-15 04:04] IzzyLay commented on #178
Hi, @dkkapur @Kevin-FF-USA, any update?

[2022-06-15 06:04] MikaeLa-01 commented on #367
@EGGRICE02 Hello, this is our supplementary data, which needs to be downloaded and viewed，Thank you.
https://pan.baidu.com/s/1PrelF0iG6eRJTPDVCxt5jA     code：dkke

[2022-06-15 07:10] 1LISA2 commented on #405
GaryGJG ，I have modified my title from [DataCap Application] to [DataCap Application]——Filwallet (Filecoin wallet ecology)，thank you for your reminder and look forward to your reply

[2022-06-15 07:13] aaronsjx07 opened #411 "[DataCap Application]500px"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: 500px
- Website / Social Media:https://500px.com.cn/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):50TiB
- On-chain address for first al

[2022-06-15 07:17] Yvette516 commented on #302
Could  you use  official  douyin ID to send a video to  prove that  you are applying DC?

[2022-06-15 07:30] Yvette516 commented on #310
![da8da137-3176-49d5-8a60-2a3a476222ae](https://user-images.githubusercontent.com/106008819/173767479-adf55f87-1614-407d-b975-d34f2a6cd53d.jpg)
I have found that your company's information is related to the nuclear industry. The National Security Law strictly prohibits the  data  transmission.

[2022-06-15 07:39] Sunnyiscoming commented on #362
@HolaSpace Hello.Please provide more data samples to indicate you have 5 PB data already.

[2022-06-15 07:41] Yvette516 commented on #322
Could you send  an email to filplus@fil.org from your official  email account jindianwangan@goldensecurity.com.cn to check on your representation of the company?

[2022-06-15 08:04] TimWilliams00 commented on #187
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedra7voghsvex7th2a7pnzww5jusjqnhu6cddwy4s24hbj6waggim

[2022-06-15 08:09] JXHengLian opened #412 "[DataCap Application] Jiangxi Henglian Technology Co., Ltd"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Jiangxi Henglian Technology Co., Ltd
- Website / Social Media: http://www.henglianvip.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100Ti

[2022-06-15 08:18] Huifan-Tina0615 commented on #407
Hi @EGGRICE02 , thanks for your question.

In our User Service Agreement, we've declared that we can use all data which they uploaded for showing and storing.
We prepared some seagate hard disks like Lyve Mobile Array for offline transfer. We think it is a safe way for us to choose.

[2022-06-15 08:23] Sunnyiscoming commented on #363
Please provide the name of the organization that runs filtakes.

[2022-06-15 08:36] swatchliu commented on #327
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceane6vnf5wnmnbyamo57a4rfjaryrxajzdq2valvrnwihhsiqgbby

[2022-06-15 08:38] zhonghdadi commented on #310
Hi @Yvette516 , Our company is a private enterprise. Although the major shareholder shows that it is the nuclear industry, our company is only a private enterprise affiliated with the Geological Bureau and operates private business.

[2022-06-15 08:48] NFT-SCAN commented on #350
@galen-mcandrew @dkkapur Hi, what shoule I to get the datacap?

[2022-06-15 09:49] johnchenyan opened #413 "[DataCap Allocation] - [DataCap Application] NFT Bomb"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "[DataCap Application] - [DataCap Application] NFT Bomb"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## C

[2022-06-15 09:54] zhengjiangnano commented on #200
@NonEntropy Tech  @Fenbushi Capital   @IPFSUnion   @DeFIL Hey guys! What can we do now to move forward to next steps?

[2022-06-15 10:19] Yvette516 commented on #323
The platform is a public security command system based on police comprehensive platform, information research .It is illegal to transmit relevant public security data

[2022-06-15 10:41] jomozz commented on #378
@galen-mcandrew @dkkapur  hi galen, What else do I need to provide?  Can you help us move forward with the application? thank you very much！

[2022-06-15 11:05] yuda328996 commented on #179
@cryptowhizzard Yeah, thank you for your reminder!
Our original plan is to add more SPs in the second round for allocation after the first round of sealing is completed. Also, we have a plan to retrieve the result of sealing when we start the second round.
Thank you for let us know this information in advance.
We will make a rule of our SPs, that their storage must be public retrieval at first.
Th

[2022-06-15 11:10] jomozz commented on #378
@galen-mcandrew We've already discussed my application on slack: https://filecoinproject.slack.com/archives/C01AK1J7TF1/p1654799395246099

[2022-06-15 14:38] Welclub commented on #140
@dkkapur @galen-mcandrew
how can I move to next step?

[2022-06-15 15:21] Yvette516 commented on #330
I found your company is called Shanghai Gongbo Technology Co., LTD . Could you explain the relationship between you and notary Firefly?

[2022-06-15 15:46] swatchliu commented on #397
Thanks for your application, could you mail to filplus@fil.org and CC partner@bytebase.cn with your official mailbox in order to confirm your identity?  In addition, you need to provide your data samples to help us clearly understand your real requirements.

[2022-06-15 15:47] swatchliu commented on #385
Thanks for your application, could you mail to filplus@fil.org and CC partner@bytebase.cn with your official mailbox in order to confirm your identity?

[2022-06-15 15:53] swatchliu commented on #404
Thanks for your application, could you mail to filplus@fil.org and CC partner@bytebase.cn with your official domain mailbox in order to confirm your identity?

[2022-06-15 15:55] swatchliu commented on #396
You can close it by yourself.

[2022-06-15 15:59] swatchliu commented on #364
Thanks for your application, could you mail to filplus@fil.org and CC partner@bytebase.cn with your official domain mailbox in order to confirm your identity?

[2022-06-15 17:34] kernelogic commented on #15
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea2aci7gycsmb4l6zpxuarfye73db7zxufugimucyzwo4jdvsyt36

[2022-06-15 17:38] EGGRICE02 commented on #291
I've tried to mail you by the address on your website, but it seems that the address is not available. What's going on there?

[2022-06-15 17:43] EGGRICE02 commented on #367
@MikaeLa-01 Fantastic videos! Thank your for kindly sharing them with us

[2022-06-15 17:59] EGGRICE02 commented on #411
@aaronsjx07 Can you mail to filplus@fil.org with your company domain to confirm you're applying DataCap for 500px?

[2022-06-15 18:09] EGGRICE02 commented on #412
@JXHengLian It seems that http://www.henglianvip.com/ was established just two weeks ago, and the whole page was absolute new. Only 4 links on the newsroom page, all commercial cases redirect to irrelevant pages. Therefore can you clarify that and prove more samples or concerning evidence to prove you have 5PB to store?
![image](https://user-images.githubusercontent.com/105268629/173894591-f779902

[2022-06-15 18:11] EGGRICE02 commented on #412
BTW, please have a double check on the sample you've uploaded. The content has nothing to do with your business.

[2022-06-15 18:21] jessie8o8 opened #414 "[DataCap Application] - PiKNiK - gnomAD Slingshot Dataset"
# Large Dataset Notary Application
To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: PiKNiK - gnomAD Slingshot Dataset
- Website / Social Media: piknik.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):  500TiB
-Weekly allocation of DataCap requested (usually between 1-100TiB):  100TiB
-On-chai

[2022-06-15 20:07] dannyob commented on #15
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedcv6lsymjfvk565szl5uwuiymsgrrhpiagat2dsesa3y2fqgfaei

[2022-06-15 20:08] dannyob commented on #53
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedkbtept24dczb7p2jpcsrwbvpdwvb3fy5vd5aa6dvpjl45arrsoe

[2022-06-15 20:12] dannyob commented on #368
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceboyxv55jjuqxsoxipkl3xhhhis2faf3qeht5xn7rzutly2nrcgba

[2022-06-15 22:52] Fenbushi-Filecoin commented on #333
I can support the application.

[2022-06-15 22:53] Fenbushi-Filecoin commented on #333
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceash2d3qwrdlue4iy2vbhb5o4pk7uhbwve6f6yp6sszqbgief5vba

[2022-06-16 01:20] psh0691 commented on #64
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedv4c5fzruh7tsexb4lfgzkaqcyyjume436o6vtbdoxd3a4jjv3xi

[2022-06-16 01:36] Sunnyiscoming commented on #263
Documents relating to the existence of the organization or websites proving the existence of the organization.
These two links seem that it is not the official website of your project/organization but belong to third platform.

[2022-06-16 02:06] Sunnyiscoming commented on #299
@f8-ptrk So sorry for mistaking that.

@Ybum
1.Please provide data sample.
2.Large datasets are prohibited from self-dealing. Are there other storage providers?

[2022-06-16 02:10] Sunnyiscoming commented on #307
Any update?
What's the relationship with https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/299 you submitted.

[2022-06-16 02:19] Sunnyiscoming commented on #311
Any update?

[2022-06-16 02:20] Sunnyiscoming commented on #322
Any update?

[2022-06-16 02:21] HolaSpace commented on #362
[datasets2.zip](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/8915136/datasets2.zip)
@Sunnyiscoming Hello. I've uploaded the data samples. Please check it.

[2022-06-16 02:22] JXHengLian commented on #412
@EGGRICE02

[2022-06-16 02:22] Sunnyiscoming commented on #323
Any update?@huangqian2021

[2022-06-16 02:25] Sunnyiscoming commented on #324
![image](https://user-images.githubusercontent.com/105098820/173977834-1d83f049-da2a-4bb8-8bde-1e4e169adbb3.png)
Data sample cannot be opened, please view it.

[2022-06-16 02:25] Sunnyiscoming commented on #300
Data sample cannot be opened, please view it.

[2022-06-16 02:27] Sunnyiscoming commented on #329
@Ybum Any update?
It looks like you submitted a lot of datasets. What do you stand for?

[2022-06-16 02:29] Sunnyiscoming commented on #330
@stonechu108 Can you explain it about what Yvette516 says?

[2022-06-16 02:35] PluskitOfficial commented on #306
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedoytwhgo3yma626ktn2hhwt6nfdglc5m6v6zhx4n55273gq5ev4s

[2022-06-16 02:50] Gmining82 opened #415 "[DataCap Allocation] - Gmining Fileplus"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "Gmining Fileplus"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: G

[2022-06-16 03:04] dailamancika48 commented on #279
@Sunnyiscoming @TimWilliams00 Hi, could you please provide the offical email address? We can send the proof of right of use to the offical email address, thank you!

[2022-06-16 03:04] woshidama323 commented on #310
But Worry about ome sensitive data about location, building, etc sampling from IOT devices would be collected and committed to FILCOIN network?

[2022-06-16 03:08] MikaeLa-01 commented on #367
@EGGRICE02 You're welcome, hope we continue to communicate

[2022-06-16 03:09] MetaWaveInfo commented on #300
GitHub is not suitable for storing these large volumes of data. If the size and quantity of data samples are required, it is recommended to specify.

[2022-06-16 03:11] galen-mcandrew commented on #215
Due to no reply from client, we are closing this issue for now. When ready, please reopen or submit a new request here: https://plus.fil.org/ldn-application

[2022-06-16 03:11] #215 closed

[2022-06-16 03:17] galen-mcandrew commented on #248
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-16 03:26] ElonMNC commented on #351
@Sunnyiscoming @galen-mcandrew please kindly refer to the answer above

[2022-06-16 03:27] galen-mcandrew commented on #295
Email received! Attaching here
![Screen Shot 2022-06-15 at 8 26 39 PM](https://user-images.githubusercontent.com/85587348/173984649-87080cbe-d1c3-4c23-a4d9-d37ffa99c8fe.png)

[2022-06-16 03:28] galen-mcandrew commented on #295
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-16 03:30] galen-mcandrew commented on #347
Email received, attaching here
![Screen Shot 2022-06-15 at 8 29 27 PM](https://user-images.githubusercontent.com/85587348/173984959-c7305e63-a493-49fc-beb1-14f347adac2c.png)

[2022-06-16 03:30] galen-mcandrew commented on #347
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-16 03:32] xxxxxxzhe commented on #302
@Yvette516 @galen-mcandrew @dkkapur Hi， Our official social media accounts are professionally maintained and operated, so it is not appropriate to send proof of DC application. Can it be proven in any other way?thanks！

[2022-06-16 03:35] #174 closed

[2022-06-16 03:35] galen-mcandrew commented on #302
Email received, attaching here.
![Screen Shot 2022-06-15 at 8 35 31 PM](https://user-images.githubusercontent.com/85587348/173985559-a3086dab-5483-4881-801c-7d36db4dc6b7.png)

[2022-06-16 03:36] galen-mcandrew commented on #302
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-16 03:36] stonecopy commented on #324
PSW: www.xlzx.com, I have shared it in the name.

[2022-06-16 03:38] galen-mcandrew commented on #264
Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 03:40] dkkapur commented on #157
I'm changing the request to 399 TiB for now. Looks like there's a miscalculation on the bot. This should be ready for signature now @flyworker if you'd like to get folks to look at it.

[2022-06-16 03:40] dkkapur commented on #157
![image](https://user-images.githubusercontent.com/2343218/173986001-688be66f-9ed6-456f-928f-1892b68bc8d2.png)

[2022-06-16 03:40] dkkapur commented on #366
Closing this out to get the other one moving first. Can re-open this if that gets blocked again.

[2022-06-16 03:40] #366 closed

[2022-06-16 03:43] zhonghdadi commented on #310
Thank you for your interest in data security@Yvette516 @woshidama323
 I would like to add:
1. We will strictly abide by the national data security law and regulations, and transfer publicable data under this principle.
2. We will desensitize the locations and names mentioned by @woshidama323 .We will definitely not upload the private information of customers to Filcoin.
3. The main reason for filc

[2022-06-16 03:46] galen-mcandrew commented on #280
Can you email [filplus@fil.org](mailto:filplus@fil.org) from your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 03:51] dkkapur commented on #273
@fdd20201015 can you clarify how you plan on enforcing this in the future? Someone can retrieve this from a storage provider correct? You will just ensure that they do not use it or pretend to own it based on local legal jurisdiction, similar to how copyright would work for an image that can be copied online?

Great to hear you have a plan. Took a quick glance at the list of SPs, and looks like th

[2022-06-16 03:52] galen-mcandrew commented on #284
Can you provide some more justification for the 5PiB dataset request? Trying to understand what exactly you are hoping to verify and store on the Filecoin network. Additionally, do you have storage providers already that you plan to work with to distribute your data?

[2022-06-16 03:52] GameWayFun2021 commented on #158
@mr-spaghetti-code @swatchliu @Reiers @MegTei @galen-mcandrew Hello, what else do we need to do?

[2022-06-16 03:57] lmclain484 commented on #218
@dkkapur @rayshitou @KodaRobotDog @galen-mcandrew @lmclain484 Hi,When will it be updated?

[2022-06-16 03:59] galen-mcandrew commented on #285
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-16 04:03] Shirleywow commented on #219
@galen-mcandrew @Shirleywow @Sunnyiscoming @BigLep @jbenet Hi，How do we move forward?

[2022-06-16 04:05] galen-mcandrew commented on #286
Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:05] galen-mcandrew commented on #287
Due to no reply from client, we are closing this issue for now. When ready, please reopen or submit a new request here: https://plus.fil.org/ldn-application

[2022-06-16 04:05] #287 closed

[2022-06-16 04:11] dkkapur commented on #288
Closing this one for the time being. @Inter-hash please let us know if it should be re-opened if it is still relevant since we have not heard from you.

[2022-06-16 04:11] #288 closed

[2022-06-16 04:11] dkkapur commented on #291
Closing this one for the time being. @gnasnik please let us know if it should be re-opened if it is still relevant since we have not heard from you.

[2022-06-16 04:11] #291 closed

[2022-06-16 04:22] dkkapur commented on #292
@llifezou this sounds like something similar to Estuary (https://estuary.tech/). Is that right? In that case, would love to understand:
- are data owners coming to you with raw data and your software handles translating it to a CAR file and a CID?
- how are the SPs selected?
- how is the data distributed to SPs?

[2022-06-16 04:27] dkkapur commented on #328
@EcologyLtd f01606849 and f01641612 seem to serve a lot of the same clients. There is substantial overlap https://filplus.d.interplanetary.one/miners/f01641612 and https://filplus.d.interplanetary.one/miners/f01606849. Are they related in any way? How did you find these SPs and get the guarantees you need?

It's always a little concerning when the nodes are pointed to cloud based IP addresses. Do

[2022-06-16 04:31] dkkapur commented on #308
@CodeIsLaw0108 fair enough. The Slingshot site has information available about every deal uploaded and the SPs involved, e.g., for one of @kernelogic's projects, you can see the recent deal metadata here: https://slingshot.filecoin.io/project/62340a7a7d907fffc878620e/deals.

Additionally, from Slingshot Evergreen, we publish a list of active SP IDs and their relative deal making here: https://api.

[2022-06-16 04:32] dkkapur commented on #294
Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:33] dkkapur commented on #296
Can you email [filplus@fil.org](mailto:filplus@fil.org) with the client on the thread showing that you have an official relationship with the clients so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:34] dkkapur commented on #309
@vetetable360 can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:35] dkkapur commented on #310
@zhonghdadi can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:35] dkkapur commented on #337
Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

How are you picking the SPs you will be working with?

[2022-06-16 04:36] dkkapur commented on #346
Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:37] dkkapur commented on #349
@Fibo-AI Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:37] dkkapur commented on #350
@NFT-SCAN Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

@flyworker do you have anything you can share for other notaries to piggyback on and we can proceed with this client's application?

[2022-06-16 04:37] dkkapur commented on #359
@BriskvisionCulture Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:38] dkkapur commented on #360
@Nioomei900 Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:38] dkkapur commented on #365
@GMverse Can you email [filplus@fil.org](mailto:filplus@fil.org) with your official work email so we can share this with notaries as a form of proof that you represent this organization?

[2022-06-16 04:59] kimtony commented on #337
Thanks for the reply, I have sent [filplus@fil.org](mailto:filplus@fil.org)

[2022-06-16 05:44] zhonghdadi commented on #310
Thank you for your reply @dkkapur . The email has been sent. Please check.

[2022-06-16 05:47] Sunnyiscoming commented on #300
It is recommended to provide one or two data samples for different product areas.

[2022-06-16 06:03] ghuiyyy commented on #217
@galen-mcandrew @ghuiyyy @Sunnyiscoming @BigLep @jbenet Hi,Looking forward to new progress.

[2022-06-16 06:05] kimtony commented on #337
@dkkapur
Excuse me, what should I do next?

[2022-06-16 07:01] CodeIsLaw0108 commented on #308
Yeah Thanks

1. f03223  f02301 (from https://slingshot.filecoin.io/project/62340a7a7d907fffc878620e/deals. Will ask kernelogic for help to contact the sp)
2. f01850141 (from cabrina)

As for https://api.evergreen.filecoin.io/public/qap.txt.
Could you please help to give slack name also ?
It's hard for me to find slack name from miner ID ?

[2022-06-16 07:10] NFTStar1 commented on #177
@dkkapur @GalenHi,  Anything else should I offer?

[2022-06-16 07:14] GaryGJG commented on #328
Yes, they belong to the same institution, who has better reputation in this industry, a client of ours introduced us to them for help us dealing with data archive requirement. Trust them after they explain all the technical details to us, we think it's safe enough.
We know these miners hardware are in a datacenter of Canada,  as you could check from filplus website, we have tried to connect more m

[2022-06-16 07:16] EcologyLtd commented on #328
Yes, they belong to the same institution, who has better reputation in this industry, a client of ours introduced us to them for help us dealing with data archive requirement. Trust them after they explain all the technical details to us, we think it's safe enough.
We know these miners hardware are in a datacenter of Canada,  as you could check from filplus website,we have tried to connect more mi

[2022-06-16 07:40] Chimay-Niko commented on #397
Hi @swatchliu , I've already emailed Filplus and CC Bytebase.
My data sample is updated too.
https://user-images.githubusercontent.com/106143616/174018373-f04d7a21-09c6-4735-a0c0-7b56e2f73ee9.MP4

[2022-06-16 08:06] EcologyLtd commented on #295
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceatvxd3aaks5vmgniscxkualuyzvqg6i5p54b276opemn5sxfhnf4

[2022-06-16 08:14] UnionLabs2020 commented on #347
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceahukcni5oe453pwaiof4pojrcrnberovgwdu2qi7ecqvmr3mxavm

[2022-06-16 09:50] llifezou commented on #292
@dkkapur

Yes, we provide ipfs pin service, the original data stored directly by the user, the conversion of the car file is completed by the background.

We will look for at least 5 reliable SPs; we will choose SPs in the United States/Singapore/Hong Kong and other places, and we will provide IPFS services in these places to facilitate the collection and distribution of data and improve user expe

[2022-06-16 14:11] TimWilliams00 commented on #332
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced5x6qtgz5q6p3sde5ekmhcldq4tv5hueteycu6nlyxquwgagy5fy

[2022-06-16 14:42] Yvette516 commented on #294
You can send email to filplus@fil.org.  Could you post the cooperation with Filecoin on your official TikTok？

[2022-06-16 14:44] Yvette516 commented on #220
What's your plan for offline deal?

[2022-06-16 14:54] Dominic92 commented on #179
Yes, this is waht I found, the **f01715155** is belongs to NDLAB,

This application also belongs to NDLab team.

@dannyob @rayshitou @MRJAVAZHAO @IreneYoung @MegTei  have you done due diligence for it?

You guys are "notary" you all have the responsibility to dig these out to make our community clean and tidy.

https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/158

https://gi

[2022-06-16 15:08] Dominic92 commented on #200
NDLAB again, f01715155, f01740934, f01834253, f01834291, why these 4 miner get such a high ratio fo DC?

@dkkapur @dud1337 @rayshitou @IreneYoung @Fenbushi-Filecoin @BigLep take a look

![image](https://user-images.githubusercontent.com/106308638/174099973-3aaa06ee-4fb7-403d-86f0-669d7d7451ae.png)

[2022-06-16 15:18] Dominic92 commented on #218
f01740934,f01834253,f01834291, Why these 3 miners getting this data again with big ratio of DC

@dkkapur @rayshitou @KodaRobotDog @galen-mcandrew  take a look

![image](https://user-images.githubusercontent.com/106308638/174103371-eef7ade8-217b-4c0c-b520-485492a40ffb.png)

[2022-06-16 15:23] Huiya2 commented on #354
@Sunnyiscoming
My previous account goes wrong, so I change into this account to reply.
[data.zip](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/8920070/data.zip)
Part of live videos.

We are looking for storage providers via slack/github.

[2022-06-16 15:47] Yvette516 commented on #330
In fact, you are a wholly owned subsidiary of Firefly.
![Holdings](https://user-images.githubusercontent.com/106008819/174108065-5867a339-120d-4918-9004-68231b1c1665.png)

Could you tell us why you change your company name  frequently?
![tianyancha](https://user-images.githubusercontent.com/106008819/174106849-abd6f88a-8401-4494-9762-77bc6f54c1a9.png)

[2022-06-16 16:16] cryptowhizzard commented on #157
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceawrrhnwhzeoog5cdqfjeofhtkfyl42piiyztlntieuczjd4iifeo

[2022-06-16 17:10] tonylee9988 commented on #209
Dear TimWilliams00,
We request for the details of what we have broken in terms of LDN usage
rules after almost 2months of 2nd datacap allocation request.
We do not recall any of such activity but only being faithful to
develop and promote the propagation of filecoin business.
Please guide us the immediate procedure in order to service our client.
Looking forward to hearing from you in a prompt man

[2022-06-16 17:34] EGGRICE02 commented on #324
Will there be some copyright issues if users upload piracy contents since the sample above is about some kind of book?

[2022-06-16 18:04] EGGRICE02 commented on #412
In that case, please share us with the app you developed. A Google Play link or AppStore link is welcomed. To convince us the app was developed by you, it's better to upload part of source code, or sealed app without digital signature.

[2022-06-16 20:41] darrellhendershot opened #416 "Sorry, Please close it. I am testing the new feature."

[2022-06-17 02:06] CoinPhD-official commented on #364
Hello@swatchliu , we have sent an email. You can check it now. Thank you.

[2022-06-17 02:10] Sunnyiscoming commented on #370
![image](https://user-images.githubusercontent.com/105098820/174209439-2950c76a-0847-4a93-a9f3-d851a82bf292.png)
@vvviiio
I can not open data samples. Can you check it?

[2022-06-17 02:51] Sunnyiscoming commented on #371
@ZHPT-FILplus Hi,
As you said, you will store video, jpg, docs including equipment data, operational content, design content, product information, and development research in the Filecoin network.
Can you provide more related data samples with the above data description to prove that you have 5 PB data already? Videos would be better.

[2022-06-17 03:04] beatlesgogo commented on #220
@Yvette516 Hi, Nearly 15 days ago, on the second day after we obtained the DC, we sent the prepared two rounds of data to SPs separately. From our location to the location of those SPs, the logistics time spent is basically controlled within 8 days. Our future plan is that the third and fourth rounds of data will be sent to sps at the same time as the first round of sealing begins. And so on.Thank

[2022-06-17 03:06] vandusendon541 commented on #220
@Yvette516 Hi, Nearly 15 days ago, on the second day after we obtained the DC, we sent the prepared two rounds of data to SPs separately. From our location to the location of those SPs, the logistics time spent is basically controlled within 8 days. Our future plan is that the third and fourth rounds of data will be sent to sps at the same time as the first round of sealing begins. And so on.Thank

[2022-06-17 03:07] stonechu108 commented on #330
Hi @Yvette516 , Yes we are wholly owned subsidiary of Zhejiang Firefly Blockchain Technology as I reply previously, The current notary Firefly belongs to Hong Kong YuanHe Technology has nothing to do with Zhejiang Firefly Blockchain Technology in China . Hopefully, you can know that.

Because we are a subsidiary of Firefly, we are more familiar with the filecoin network, and we believe that IPFS c

[2022-06-17 03:20] kimskorea1 commented on #401
What is the problem?

[2022-06-17 03:22] Sunnyiscoming commented on #373
@YbingBot

1. I don't understand exactly the data you will store, can you explain it?
2. Can you provide more data samples to show you have 5 PB data already?

[2022-06-17 03:45] izumi-finance commented on #284
@galen-mcandrew Hi, we stored various data on the Filecoin, such as application data, on-chain data stored on the client's side, marketing&promotion data, event meeting data, etc. Besides, we plan to find a supplier through the list of storage suppliers announced by the official website. Thank you!

[2022-06-17 03:59] EGGRICE02 commented on #376
@litai686 Sorry for the late reply, I've checked your application form again, but something went wrong there. Same answers for three different questions won't make any sense. Please answer them correctly.
![image](https://user-images.githubusercontent.com/105268629/174222198-4a83ee9a-74f7-4481-920f-e883d722fdfe.png)

[2022-06-17 04:17] NHASHNET commented on #141
@rayshitou @Reiers @MegTei @galen-mcandrew @NHASHNET When will it be updated?

[2022-06-17 04:22] POWPOWER2021 commented on #89
@galen-mcandrew Hi. What can we do to push the progress?

[2022-06-17 05:07] litai686 commented on #376
@EGGRICE02  Sorry, I've perfected issues questions

[2022-06-17 06:00] vvviiio commented on #370
@Sunnyiscoming @EGGRICE02 Hi, thanks for your reply.
Rivtower is a consortium chain company in China. We have obtained part of investment from state-owned enterprise, and we also have some cooperation with some state-owned enterprises and other units. But the data we will store is not the private data of these partners. We currently mainly have two products, RivSpace and Rivtrust. In the future, w

[2022-06-17 06:08] psh0691 commented on #339
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedkckfmmkjhuuakwcze2jxhy2urlrgqewos5vjvnhpuhq5rxhbu7s

[2022-06-17 07:07] fireflyHZ commented on #302
Hi @xxxxxxzhe happy to see your app. I have some questions .
1, Your company is in China but you're asking to store data in USA, Singapore, Dubai and through an offline model, maybe online is more reasonable.
2,
![2022-06-17 15-06-35屏幕截图](https://user-images.githubusercontent.com/100905326/174244534-b34e2823-c943-424f-9731-1bc8018442b1.png)
why ?

[2022-06-17 07:20] Deboxreps commented on #296
Hello.

I sent you an e-mail with the following information about the proof present this organization you requested.

1. Attachment of business registration
2. Update the business information (Debox.co.kr)

Please check your email.
If you need any additional information, please feel free to contact me

[2022-06-17 07:31] fireflyHZ commented on #347
Hi @Pangodbj , Very happy to see your app.  How do you know filecoin and why you chose filecoin?

[2022-06-17 07:32] RaicmL commented on #188
@dkkapur @RaicmL @swatchliu @galen-mcandrew Hi.What else do we need to provide?

[2022-06-17 08:01] johnchenyan opened #417 "[DataCap Allocation] - Large Dataset Notary application"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "Large Dataset Notary application"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Orga

[2022-06-17 08:08] wernermayer23 opened #418 "[DataCap Application]YoWANT Network"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: YoWANT Network
- Website / Social Media:Website: https://www.ywwl.com/index.html
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):100TiB
-

[2022-06-17 08:09] #417 closed

[2022-06-17 08:28] IPOLLO-OFFICIAL commented on #168
@galen-mcandrew Hi.What else do we need to provide?

[2022-06-17 09:30] GMverse commented on #365
@dkkapur My email was just sent to you. Hope for your response!

[2022-06-17 09:38] Fibo-AI commented on #349
@dkkapur Hi, I emailed you at 5:19 PM. Thank you!

[2022-06-17 09:39] Fibo-AI commented on #349
@dkkapur Hi, I emailed you at 5:19 PM.

[2022-06-17 15:11] xingjitansuo opened #419 "Slingshot Brazil Data Cube Dataset - CabrinaHuang"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: CabrinaHuang - Slingshot Brazil Data Cube Dataset
- Website / Social Media: n/a
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 3.5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 800TiB

[2022-06-17 19:15] Ray-PiKNiK opened #420 "[DataCap Application] USC Shoah Foundation LDN #2"

[2022-06-17 21:59] galen-mcandrew commented on #390
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-17 22:06] dkkapur commented on #388
@jessie8o8 - going to need a few things from you for this one:

- based on this https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/414 and your presence in the community, you work for PiKNiK correct?
- given that this application is for a different client, and it is encrypted you will need to meet a higher burden of proof

1. need some form of KYC verification that you are ind

[2022-06-17 22:20] #416 closed

[2022-06-17 22:21] dkkapur commented on #398
![image](https://user-images.githubusercontent.com/2343218/174408136-8ad8c944-ed8a-43fb-aef5-68ed1b2f7cf7.png)
Looks like it went through

[2022-06-17 22:25] Kevin-FF-USA commented on #414
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-17 22:29] dannyob commented on #390
Hey @doctorrobinson please consider providing some of the data with new or random storage providers, so that datacap is not concentrated among the larger players. It sounds like your offline data retrieval plans include this, but it'd be great to know more.

[2022-06-17 22:29] dannyob commented on #327
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceal6glkpzqwo4wjcvbpc5kyu2h3fzvvexlbhinqhgbivd6t64imc4

[2022-06-17 22:43] dkkapur commented on #153
@ubuckvnockai -

Agree. KYC for Slingshot was not required to be a thing via email. As an admin there - I can add that I see https://github.com/resrugam is the owner for this Slingshot project. Why is it not just you @ubuckvnockai?

Yes - for Evergreen and future phases of Slingshot, we are tracking SP IDs. For clients to receive DataCap in Slingshot, the expectation is that they are working with

[2022-06-17 22:44] dannyob commented on #390
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedvkg5b45kkswf4gxejgwrbbyebwo2q4nrtkqapy3ozue344fzxbe

[2022-06-18 03:27] UZERO1 commented on #294
Hi,@dkkapur  We are already sending in the official email.
@Yvette516 Sorry we can't do this, but the content we post on Tiktok is all content related to the enterprise business.

[2022-06-18 03:49] GOLDENSECURITY01 commented on #322
@Yvette516 @Sunnyiscoming Hello, we sent an email with our official email, please pay attention to check it, thanks.

[2022-06-18 10:59] huangqian2021 commented on #323
@AnthnoySmith @Yvette516
We are a privately held company wholly owned by individuals. We gather data from different sources and applying analytics capabilities to improve safety, efficiency and productivity as well as security. Thanks a lot for bring this up. We are fully aware of video surveillance is one of the data protection areas that raises questions, and the 1st patch we would store with Fi

[2022-06-18 11:00] huangqian2021 commented on #323
@AnthnoySmith @Yvette516
We are a privately held company wholly owned by individuals. We gather data from different sources and applying analytics capabilities to improve safety, efficiency and productivity as well as security. Thanks a lot for bring this up. We are fully aware of video surveillance is one of the data protection areas that raises questions, and the 1st patch we would store with Fi

[2022-06-18 15:55] mazidoninc opened #421 "[DataCap Application] Mazidon Inc. Large Dataset Notary Application #1"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Mazidon Inc.
- Website / Social Media: mazidon.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 1.15 PiB
-Weekly allocation of DataCap requested (usually between 1-100TiB):  100 TiB
-On-chain address for fir

[2022-06-18 15:56] mazidoninc opened #422 "[DataCap Application] Mazidon Inc. Large Dataset Notary Application #2"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Mazidon Inc.
- Website / Social Media: mazidon.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 4 PiB
-Weekly allocation of DataCap requested (usually between 1-100TiB):  100 TiB
-On-chain address for first

[2022-06-18 15:56] mazidoninc opened #423 "[DataCap Application] Mazidon Inc. Large Dataset Notary Application #3"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Mazidon Inc.
- Website / Social Media: mazidon.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 4 PiB
-Weekly allocation of DataCap requested (usually between 1-100TiB):  100 TiB
-On-chain address for first

[2022-06-18 15:57] mazidoninc opened #424 "[DataCap Application] Mazidon Inc. Large Dataset Notary Application #4"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Mazidon Inc.
- Website / Social Media: mazidon.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 4 PiB
-Weekly allocation of DataCap requested (usually between 1-100TiB):  100 TiB
-On-chain address for first

[2022-06-18 17:05] Reiers commented on #339
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecy65r7j6mit73r3luiif2hk57jkknnblik7niiq3iabe25ksayi2

[2022-06-19 00:26] 1475Notary commented on #306
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebjldjgrmwryil22hg2pva4x3hyurjfu2vdqxoophnp36et5pmvni

[2022-06-19 00:41] 1475Notary commented on #187
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedyvuyonwacmptlg3ebnjbcv2k6qbo4s7sjbyrsqs75vh2ygnbw76

[2022-06-19 05:03] Fenbushi-Filecoin commented on #199
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb4auvph47ox3tjnjs43md2p6zj2vya2lsmhpdnwgkd7mpvvyuboo

[2022-06-19 05:05] Fenbushi-Filecoin commented on #187
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceclyc6arkeem254g2isnvzddkgpnjluhufrockbi2zlicjnljebog

[2022-06-19 08:16] Aitester66 commented on #346
I tried to send mail to that address several times but failed. Is there any other notary can help?

[2022-06-19 11:01] Yvette516 commented on #280
Sure,i just found it on the webside:http://www.zolandtv.com/

[2022-06-19 11:12] Yvette516 commented on #362
Could you show your certificate of Hola Space ,or confirm the project in your company email to filplus@fil.org?

[2022-06-19 11:18] GameWayFun2021 commented on #200
Hello@Dominic92 , we are aware of this issue and have requested SP to change it. We still have a large amount of data need to be store.

[2022-06-19 11:19] GameWayFun2021 commented on #158
Hello@Dominic92, we are aware of this issue and have requested SP to change it. We still have a large amount of data need to be store.

[2022-06-19 11:27] MetaWaveInfo commented on #346
@Aitester66  We're a member of this round of notaries,  would like to share and forward.
You can try metawaveinfo@gmail.com.

[2022-06-19 12:39] lmclain484 commented on #218
@Dominic92  Hello, NDLABS has provided us with technical guidance. thank you.

[2022-06-19 13:43] swatchliu commented on #385
![image](https://user-images.githubusercontent.com/46444977/174484069-c52482fd-bbee-4b6f-9c97-93c6301e6399.png)

Received with thanks

[2022-06-19 14:02] Yvette516 commented on #363
Can you provide more information about your organization And send  an email to filplus@fil.org from your official email account?

[2022-06-19 14:12] Yvette516 commented on #370
Could you send an email to filplus@fil.org from your officail email contact@rivtower.com?

[2022-06-19 14:24] Yvette516 commented on #371
@ZHPT-FILplus @Sunnyiscoming I just gave official Key person a call, he said he didn't know any information about filecoin and hadn't applied for DataCap.

[2022-06-19 14:55] Yvette516 commented on #373
Does your shareholder CMB INTERNATIONAL know that you have cooperate with Filecoin ? As far as i know CMB INTERNATIONAL is a state-controlled commercial bank, could u ask your sharehloder CMB INTERNATIONAL to confirm it?

[2022-06-19 15:12] Yvette516 commented on #380
Can you provide more data samples ?  There seemed you don't have 1PB data from your website and samples you provide.

[2022-06-19 15:16] Aitester66 commented on #346
Thanks, it has be done, please have a check.

[2022-06-19 15:47] Pangodbj commented on #347
@fireflyHZ Could you help to support in this round?

[2022-06-19 16:08] UnionLabs2020 commented on #372
According to our common KYC method ,could you give filplus@fil.org a double confirmation from your official mail?

[2022-06-19 16:09] EGGRICE02 commented on #361
Can you mail to filplus@fil.org with your company domain to verify you're applying for Miracle. I can't find any information about LUMURIA on Google.

[2022-06-19 16:13] EGGRICE02 commented on #360
I've checked your bilibili account, there are only 75 videos which I believe is far from 5PB. Can you share more samples with us like raw video, screenshot of your current storage servers or any other materials.

[2022-06-19 16:31] EGGRICE02 commented on #377
Can you post a video or photo on the Douyin account you've mentioned above in data sample to verify you're making videos for it?

[2022-06-19 16:36] EGGRICE02 commented on #337
1. Can you send an email to filplus@fil.org to verify you are representing for the company?
2. As for you data sample, I believe a mere picture cannot prove you need 5PB, not to mention there's no videos or audios on you website as you described. Please reupload data sample to clarify it.

[2022-06-19 16:44] EGGRICE02 commented on #324
1.Can you send an email to filplus@fil.org with company domain to verify you are representing for that company
2.Since you're going to allow customers to backup data through your SAAS system, how can you assure there won't be any copyright issue?
3.Speaking of copyright, the data sample you uploaded indicates it's a book. Have you got formal authorization from author and press?
4.The data sample i

[2022-06-19 17:32] EGGRICE02 commented on #370
@vvviiio Very detailed and clear reply! Thank you a lot

[2022-06-20 01:15] MegTei commented on #327
HI I can see the issue in the registry but cannot check the box to approve

[2022-06-20 01:43] salstorage commented on #327
@dkkapur @galen-mcandrew @fabriziogianni7 see message above, @MegTei cannot see in registry to sign

[2022-06-20 01:47] Sunnyiscoming commented on #372
@KONGFU-VR It seems to be something wrong with the menu of the website, please check it.

[2022-06-20 01:49] Sunnyiscoming commented on #374
@MappingFunkProtocol

Do you want to store data by climbing the chain data?

[2022-06-20 01:57] kimtony commented on #337
@EGGRICE02  hello
1、What information do I need to provide?
2、Our current first version is the old version, only the map pictures are stored, and a new version will be updated later, and we will store some free teaching videos and audios in it. There are videos of various musical instruments.

like this https://www.youtube.com/watch?v=avtDYCAtWjU

The new version has not been launched yet. It is cu

[2022-06-20 02:23] woshidama323 commented on #172
@dkkapur Could you please help to check msg on slack when you are free?

[2022-06-20 02:39] Sunnyiscoming commented on #376
@litai686
深圳市悦科技云科技有限公司 has not be found. Please check the name of organization.
How many users do you have now? Is there already 5PiB data? If the data source is only user backup data. At 512GiB per user, you probably need more than 10,000 users.

[2022-06-20 02:43] fireflyHZ commented on #347
@Pangodbj I am very interested in your project and happy to sign for you. I will perform the due diligence duties of a notary public and continue to follow your projects.

[2022-06-20 02:54] litai686 commented on #376
@Sunnyiscoming  This year, we have produced 10000  devices, which are mainly sold to China. Each device has 16TB of space. The sales target of this devices is families.

[2022-06-20 02:56] Sunnyiscoming commented on #377
I have sent a message to  the above three exposed Douyin accounts by using the personal Douyin id to prove whether there is any business association with 浙 江 奥 利 给 文 化 传 媒 有 限 公 司.
Douyin id： hanhanmami8310
Please check it.

[2022-06-20 03:20] Sunnyiscoming commented on #380
http://www.mocomedia88.com/page89 The case presentation page is blank.
As @[Yvette516](https://github.com/Yvette516) said, more data samples are needed to prove the existing data size.

[2022-06-20 03:30] mococmedia commented on #380
The data is all offline, and the amount of video data shot is too large to be uploaded to online storage, which is why we want to use filecoin to help us reduce storage costs. We have prepared about 250T of data for this application, and the 1p quota we applied for is for more backup storage.

[2022-06-20 03:31] EGGRICE02 commented on #324
Could you please mail to filplus@fil.org with your company domain to verify you're representing Qistone?

[2022-06-20 03:46] xxxxxxzhe commented on #302
@fireflyHZ Hello, since our group's operation is in the US, Singapore and Dubai, meanwhile, the online data transmission is not stable, we have currently mailed the 1PB data to the SP we are working with and we will start preparing the next data set. In the future, we will try to support online data transfer.
The data we store on Filecoin is a dataset of our current products and future new product

[2022-06-20 03:53] fireflyHZ commented on #347
@Pangodbj I am sorry my ledger has a bug in signing for you.
![sign-err1](https://user-images.githubusercontent.com/100905326/174522260-683dea67-72d1-4a03-9e12-13ca57458c4d.png)
![sign-err2](https://user-images.githubusercontent.com/100905326/174522273-23a13b27-c67c-4507-9827-e1fe3aee0482.png)
![sign-err3](https://user-images.githubusercontent.com/100905326/174522280-919b8657-974c-47c3-8bc5-2f2f89

[2022-06-20 04:02] zhonghdadi commented on #310
Hello @dkkapur ,have you received our email? Is there anything else we need to do?

[2022-06-20 04:49] psh0691 commented on #414
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedxsdbtfntvpcn6kfftxp2n4avih4v6t3qgppmkacq274oztev646

[2022-06-20 05:07] fireflyHZ commented on #302
@xxxxxxzhe You confirm that your product dataset can be made public？

[2022-06-20 06:15] vvviiio commented on #370
Hi@Yvette516 , The email contact@rivtower.com is not able to used now, and it is not updated on website.
We have sent you an email with the thorough our official mail which is end with "@rivtower.com". What's more, you can always contact us through hr@rivtower.com. I have remarked in the email I sent you before.

Hi,@EGGRICE02 Thank you, please feel free to contact me.

[2022-06-20 07:09] zhengjiangnano commented on #200
@Dominic92 Any problem？

[2022-06-20 07:42] HolaSpace commented on #362
@Yvette516 OK. I gave an email to filplus@fil.org just now.

[2022-06-20 08:17] DSS-AL opened #425 "Victor Chang Cardiac Research Institute"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Distributed Storage Solutions (DSS)
- Website / Social Media: distributedstorage.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 10

[2022-06-20 08:24] UZERO1 commented on #294
@dkkapur Hello, the mail has been sent, please check, thank you！

[2022-06-20 08:29] cryptowhizzard commented on #421
Can you please take some time to give us some insight about your Company? I took the liberty to look up your website but it seems you are not in the oil and gas industry.

<img width="867" alt="Schermafbeelding 2022-06-20 om 10 24 35" src="https://user-images.githubusercontent.com/36404435/174558524-b655ca0c-dd51-4153-92b8-79d1697f0049.png">

https://web.archive.org/web/20220211093107/http://mazid

[2022-06-20 08:30] cryptowhizzard commented on #423
https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/421

[2022-06-20 08:30] cryptowhizzard commented on #424
https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/421

[2022-06-20 08:49] MappingFunkProtocol commented on #374
@Sunnyiscoming Yes, we have obtained the data on these chains for our system analysis. That's why we need backup in Filecoin.

[2022-06-20 08:51] fabriziogianni7 commented on #327
@huseyincansoylu can you check

[2022-06-20 10:15] BlockMakeronline commented on #223
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec5hx6zhysas5tejz7i27acdwf5oof3umjb42rmopnzdpehltazdc

[2022-06-20 10:50] 1475Notary commented on #390
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedy672cbrge7yo5aw2f2m2uoughpzyugk4jmelkkclu2ufj3xx3na

[2022-06-20 10:50] 1475Notary commented on #199
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedpafuptghkjdra2r44yaaxueokf2bz5n7gsud6qkvovzb2psb5vi

[2022-06-20 10:54] 1475Notary commented on #201
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec22answjzpjfzmvpjktxiejqsypkrg5zgpzxfrmm4bebrnkbgwhk

[2022-06-20 10:57] 1475Notary commented on #223
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceajm6smvhm3onu6qapyjffspdumccn4o5cavyxfu6eth7ggpx7g6m

[2022-06-20 11:01] MyTrade-David commented on #386
Please approve my issue. @galen-mcandrew @dkkapur @Kevin-FF-USA

[2022-06-20 11:12] Pearl918 commented on #389
Is no one care about my issue?

[2022-06-20 11:13] Pearl918 commented on #389
Does no one care about my issue?

[2022-06-20 12:28] huseyincansoylu commented on #327
@MegTei what address are you trying to use to sign ?

[2022-06-20 13:33] EGGRICE02 commented on #425
@DSS-AL Hey, do you have mail with company domain? I can't find any on your website, would you please mail to filplus@fil.org with a company domain mail to verify your identity. Besides, I do understand your data are not currently available for public, but how long it will take to make it public? A rough figure is enough for us.

[2022-06-20 15:10] ZhongNan01 commented on #280
![微信图片_20220620225906](https://user-images.githubusercontent.com/97895333/174630286-15b04118-8071-437b-88fd-4bfda3a5e954.jpg)
@galen-mcandrew @Yvette516 @ZhongNan01
Hello, we have sent an email, please check it.

[2022-06-20 15:30] IreneYoung commented on #157
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaug7u4yz25uf6cdwk2yllypz2jr542gihkr6wpesc3yp4uap3nsi

[2022-06-20 18:14] EGGRICE02 commented on #312
Any follow up on dealing with more storage providers? It has been two weeks since last update. You know 4 SP is far from enough for sake of data security.

[2022-06-20 18:23] EGGRICE02 commented on #393
@Fatman13 Hey, I find some problems in reviewing your issue.
1.The official website is not working, please have a double check on it.
2.Link for data sample is not accessible. Server reports the file expired almost half a year ago.
3.I see this is a continuous application for #84, can you provide us a RootCID to dial SPs?
![image](https://user-images.githubusercontent.com/105268629/174659414-acca6

[2022-06-20 18:34] EGGRICE02 commented on #337
@kimtony Hey
1.Sorry for the mess. I didn't notice that you've already mailed to filplus@fil.org
2.The Youtube link seems like a demo to demonstrate what kind of data you'd like to backup. That Youtube account has no relationship with you, right? So can you provide more info about the data you have or you're going to backup? To be clear, I mean the data you actually have now, a schedule of how muc

[2022-06-20 18:46] EGGRICE02 commented on #407
@Huifan-Tina0615 Fantastic! One more question, Could you mail to filplus@fil.orgwith your company domain to confirm your identity?

[2022-06-20 18:49] EGGRICE02 commented on #392
@Jimmy-metahallo Hi, could you please mail to filplus@fil.org with your company domain to confirm you're representing this company?

[2022-06-20 18:51] EGGRICE02 commented on #389
@Pearl918 Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-20 23:56] MegTei commented on #327
HI @huseyincansoylu I have attempted with both wallets
(1) f1ystxl2ootvpirpa7ebgwl7vlhwkbx2r4zjxwe5i
and the new one
(2) f1r4rwdbl2zo5kbtsd56kqg2ksa6yneq66uxvngpq
Cant check the box to the left

[2022-06-21 00:25] DSS-AL commented on #425
Hi @EGGRICE02, no problem, email sent. We have ambition begin making permissible datasets public within 6 months.

[2022-06-21 01:08] litai686 commented on #376
@Sunnyiscoming In this video, our app demonstrates that the data is backed up to the filcoin network

https://user-images.githubusercontent.com/38679986/174695582-d34024a2-2928-4c89-ae60-a4942dba08a3.mp4

.

[2022-06-21 01:29] Yvette516 commented on #391
How would you make deals with SP online?

[2022-06-21 01:39] Yvette516 commented on #374
Could you send an email to filplus@fil.org from your official email account?

[2022-06-21 01:41] Yvette516 commented on #382
Please send an email to filplus@fil.org from your official email account to confirm your application.

[2022-06-21 01:55] Yvette516 commented on #420
How do you prove that you have more than 55,000 videos, do you have relevant copyright certificate?

[2022-06-21 02:19] MRJAVAZHAO commented on #74
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceazksm3guldohn6ugbod42pmvrjm7stg6s7wzimtnkvecdvecw2rc

[2022-06-21 02:22] vetetable360 commented on #309
The email has been sent. Thank you @dkkapur

[2022-06-21 02:25] NFT-SCAN commented on #350
Hi @dkkapur , I have sent you the email with our official work email but I forgot to reply you on the issue some days ago.

[2022-06-21 02:42] xxxxxxzhe commented on #302
@fireflyHZ Hi,Confirm that the data we store on Filecoin is publicly available.Thank you.

[2022-06-21 03:14] Sunnyiscoming commented on #384
@xiaoliuxiao6 As you said above. Can you give a brief list of gamefi projects, major games events that you've hosted? To prove that you really have accumulated enough data. Or you can be more specific about your data sources.

[2022-06-21 05:05] MegTei commented on #425
HI Notaries, I have performed DD under NDA with Andrew  @DSS who is acting as proxy for the client VCCRI who have an encrypted (private) data set. I have cited email comms about the PoC and been CC'd to the IT sponsor and am satisfied this is authentic.

HI Andrew (@DSS-AL) please you confirm further details:
1. SP distribution partners and locations
2. What type of data is it and why it's necessa

[2022-06-21 05:14] DSS-AL commented on #425
Thank you Meg,

1. The SP distribution is intended as follows (NB: The data has sovereignty requirements that do not allow it to be distributed internationally):

     - 1PiB Digital Income Fund (Sydney)
     - 1PiB Vigilant IT (Sydney)
     - 1PiB Holon (Sydney)
     - 2PiB DSS (Sydney)

2. The dataset is initially private as it contains patient data that has not been fully anonymised. We are wor

[2022-06-21 05:41] Sunnyiscoming commented on #385
@[TimeQuant](https://github.com/TimeQuant) Can you provide more related data samples with the above data description to prove that you have 5 PB data already? Videos would be better.

[2022-06-21 05:59] KONGFU-VR commented on #372
@UnionLabs2020 The confirming email was sent at 4:44 PM.
@Sunnyiscoming We are updating our website now and it will done after 5th July. I also explained it in my email. Thank you!

[2022-06-21 06:01] Sunnyiscoming commented on #387
[client-f01103201-stats.csv](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/8946201/client-f01103201-stats.csv)
@cdsmlhw Can you explain why the nodes you store do not support retrieval?

[2022-06-21 06:04] JackFsy commented on #391
Hey @Yvette516 , we will be proposing offline deals with SPs. The process works as below:
1. Prepare CAR files and upload to an online server
2. SPs download CAR files from the provided URL
3. Propose offline deal to SP once they have files ready to import.

[2022-06-21 07:10] zzhh88 commented on #208
@dkkapur @galen-mcandrew How do we open the application？

[2022-06-21 07:25] HowardAce opened #426 "[DataCap Application]China Tianying INC."
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  China Tianying INC.
- Website / Social Media:https://www.ctyi.com.cn/index.html
  Official Account: tianyinghuanbao
  Tik Tok: 中国天楹股份有限公司
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocatio

[2022-06-21 07:55] ubuckvnockai commented on #153
Thanks @dkkapur, we follow exactly these requirements to choose SPs carefully. Although these processes are not smooth and sometimes SPs are not willing to tell us their true identity, yet we are willing to work on it. We are not SPs, so there is no possibility of self-dealing.
We would appreciate it if you could change the account owner of the Slingshot project（https://slingshot.filecoin.io/proje

[2022-06-21 08:50] kimtony commented on #337
@EGGRICE02 hello

[2022-06-21 09:04] fireflyHZ commented on #302
@xxxxxxzhe Thanks for your reply, I will support you .

[2022-06-21 09:10] fireflyHZ commented on #302
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea3gs6e543jtx74o2hy7bs6q7bn5o3tc6urnsl5uuakmtsw74emoa

[2022-06-21 09:10] kimtony commented on #337
@EGGRICE02 hello
1、our company did not apply for a business email, I sent it with my personal email.
2、data explame link: https://www.aliyundrive.com/s/sDCC33ka8Qe  Extraction code: d3h8
We record videos of different teachers' guitar, piano, guqin, flute and other instruments every day.
We have old video data, newly generated data, about 30tb per week.

[2022-06-21 09:11] 1ane-1 commented on #260
Dear Deep the latest update for a clearer explanation of our project,pls check it:
1 The English name of our product is SDCloud, and the Chinese name is shangding cloud. In this post, we submit a link to the English version, and the link URL of the Chinese version is  https://www.sdcloud.top/.  Therefore you may misunderstand the website we submit. We currently have PC terminals and Android termin

[2022-06-21 09:19] cdsmlhw commented on #387
@Sunnyiscoming
The storage providers we cooperated with before all stoped providing storage services due to some local policies, which also closed data retrieval.  We recontacted some other search providers.
The storage providers currently communicated with include but are not limited to f01851482、f01852023、f01852664、f01852677、f01840776、f01846877.

[2022-06-21 09:21] Yvette516 commented on #53
Could you provide your SP node and rootcid ? We need to retrieve your public dataset.

[2022-06-21 09:57] MetaWaveInfo commented on #300
What we need to store is mainly log files, please check
[sys-info.2022-06-08.log](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/8947796/sys-info.2022-06-08.log)

[2022-06-21 10:09] Weipaitang commented on #352
Hey Sunny, could you help to push this case?

[2022-06-21 10:24] Agee-Drust opened #427 "[DataCap Application]Slingshot Fly Brain for Drust-Agee"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Drust
- Website / Social Media:N/A
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):1.2PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):300TiB
- On-chain address for first allocation:f17qd6

[2022-06-21 13:16] Yvette516 commented on #419
I just send an email to your officail email ,please check it.

[2022-06-21 13:18] Yvette516 commented on #418
I just send an email to your officail email ,please check it.

[2022-06-21 15:57] YoWANT01 commented on #418
Hi，@Yvette516 .We have a lot of departments in our company, and other departments may not be aware of this matter.
Can you email this work email（zhouxiaomiao@yowant.com）?

[2022-06-21 16:21] EGGRICE02 commented on #274
Hello? Any update here? It has been two months since the latest update and allocated DC is not used yet
![image](https://user-images.githubusercontent.com/105268629/174849083-9097c844-a954-4975-8989-94a300676109.png)

[2022-06-22 00:20] MegTei commented on #327
I can check the box but the approval is timimg out. Standby I'll try a couple more times

[2022-06-22 00:51] MegTei commented on #327
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedtexjmvcmb4dawnrbimjwysz4kx2ho2zn5bvsjgb4japlmeh3ite

[2022-06-22 01:50] MappingFunkProtocol commented on #374
@Yvette516 OK. I've done it.

[2022-06-22 02:05] fcdv1 opened #428 "[DataCap Allocation] - for movie store"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "for movie store"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: gk

[2022-06-22 02:10] Huifan-Tina0615 commented on #407
Yes! Already finished.

[2022-06-22 02:16] Yvette516 commented on #415
Could you please provide more data samples to prove that you already have 500TB data?

[2022-06-22 02:30] TimeQuant commented on #385
[file.zip](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/8953970/file.zip)
@Sunnyiscoming Ok. Here it is.

[2022-06-22 03:23] DSS-AL commented on #425
Hi Meg, @galen-mcandrew and notaries,

Great news following a call with the client this morning, they have agreed to share all data from published papers as public data only leaving the non-anonymised patient data as encrypted.

I hope this helps the application process. Please let me know if there are any questions.

Andrew

[2022-06-22 03:42] xxxxxxzhe commented on #302
@fireflyHZ Thank you very much! we will keep communicating.

[2022-06-22 04:45] Gmining82 commented on #415
The link below is just a sample (video data) to help you understand.

https://www.cts.tv/sermon/detail/C256/P863?DPID=291048

Based on a 60-minute (1 hour) 1080p sermon video, approximately 600 MB of storage space is required.
As such, even the sermon video files of a specific religion (eg Christianity) require much more capacity than 500TB,
Excluding data related to large-scale religious groups i

[2022-06-22 06:15] aoligei-01 commented on #377
@Sunnyiscoming Hello, our artist has sent a confirmation message to Douyin id: hanhanmami8310, please check.
Artist Douyin id: dandanjieshuo; DY533813
Our artists have hidden works because of their personal preferences, so you can't see all the works
![WechatIMG5281](https://user-images.githubusercontent.com/105850093/174956235-1c3e52fc-81ca-42a5-899d-675a18ae1b76.jpeg)
![WechatIMG5282](https://us

[2022-06-22 08:27] Sunnyiscoming commented on #263
Any update here?

[2022-06-22 08:44] Sunnyiscoming commented on #270
Any update here?

[2022-06-22 08:46] Sunnyiscoming commented on #273
It is the difference between seeing and using.
@fdd20201015 can you clarify how you plan on enforcing this in the future? Someone can retrieve this from a storage provider correct? You will just ensure that they do not use it or pretend to own it based on local legal jurisdiction, similar to how copyright would work for an image that can be copied online?

For this point, can you provide more expl

[2022-06-22 08:48] Sunnyiscoming commented on #278
Any update here?

[2022-06-22 09:09] Fatman13 commented on #393
Hello, @EGGRICE02 Thanks for pointing out the issues.

As we explained in our previous [application](https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/84#issuecomment-965963775), we removed our site due to regulatory compliance requirement. Please let us know if you would like an offline copy of our site or emails from our domain name.

Sorry we weren't being specific enough.

[2022-06-22 09:09] Sunnyiscoming commented on #322
If you have related materials, you can send them to the email.

[2022-06-22 09:26] fdd20201015 commented on #273
I can't answer the question because I don't understand the content of the question.

I answered 'yes' from the beginning that I could search.

It is our choice to prevent the use or possession of data using local jurisdictions. why? Interested in a notary public?

I have a lot of questions, so I answer each one individually.

[2022-06-22 09:27] Sunnyiscoming commented on #346
@MetaWaveInfo Have you received that? If so, please share that on this issue.

[2022-06-22 09:39] Yvette516 commented on #312
@xingjitansuo Could you please provide your rootcid to retrieve?

[2022-06-22 09:44] kimtony commented on #337
@Sunnyiscoming hello
doyin: wangdadadejita
At present, we are still doing social media accounts of other musical instruments.

[2022-06-22 09:51] Sunnyiscoming commented on #351
@ElonMNC
Large datasets focus on decentralization for storage providers.

Is there more information to provide about data storage services with other storage providers?

[2022-06-22 09:52] kimtony commented on #337
@Sunnyiscoming
We want to back up music data like this to the filecoin network. Maybe some data in it is not directly generated by us, but it can be guaranteed to be publicly accessible.

[2022-06-22 09:56] Sunnyiscoming commented on #354
@Huiya-Shanghai In response to the previous question, you may need to identify the storage providers before proceeding to the next step.

[2022-06-22 09:58] Sunnyiscoming commented on #355
@ElonMNC
You can close #351, and we continue #355.

One more question.
Large datasets focus on decentralization for storage providers.
Is there more information to provide about data storage services with other storage providers?

[2022-06-22 10:36] ElonMNC commented on #355
@Sunnyiscoming
yes, we are currently use multi cloud storage provider, like AWS, AliCloud and Google Cloud.
this the our sample data in the link.https://mainnetcapitalcom-my.sharepoint.com/:f:/g/personal/elon_mainnetcapital_com/EuoXOXp_SpRKlnq-7dVHXUMBHnESiCIGVlg2ekVX3TDg-A?e=YBDauF

[2022-06-22 10:50] kdreampool commented on #270
@dkkapur

Questions are not answered as they have already been answered or are unrelated to the Data Cap application.
Any update here?

[2022-06-22 14:48] MetaWaveInfo commented on #187
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb6njobl6drqmmtyipilbseeatxkumcvm7wnka24e26qiadf36xvk

[2022-06-22 15:58] EGGRICE02 commented on #392
All links on your website are down. Please have a check

[2022-06-22 16:02] EGGRICE02 commented on #393
@Fatman13 Thank you a lot. That's enough for me to have a look at it

[2022-06-22 17:24] Japg879 opened #429 "[DataCap Application] Yuepass Technology"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Yuepass Technology Company Limited
- Website / Social Media:https://www.yuepass.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200

[2022-06-23 01:20] Sunnyiscoming commented on #357
Any update here?

[2022-06-23 01:23] Sunnyiscoming commented on #358
@hajeungwoo Can you specify storage service providers or nodes?

[2022-06-23 01:24] Sunnyiscoming commented on #360
Any update here?

[2022-06-23 01:26] Sunnyiscoming commented on #363
Any update here?

[2022-06-23 01:41] Sunnyiscoming commented on #376
@litai686 So you're saying you're going to have 5PiB data instead of right now.

[2022-06-23 01:44] Sunnyiscoming commented on #380
@mococmedia I think video data can be processed into segments, right?

[2022-06-23 01:45] litai686 commented on #376
@Sunnyiscoming yes, bug  what i see is the datacap approved on Monday
<img width="697" alt="image" src="https://user-images.githubusercontent.com/38679986/175189583-ca96aba0-e6bf-4801-8477-234f18e249a1.png">

[2022-06-23 01:53] Sunnyiscoming commented on #284
@izumi-finance  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:53] Sunnyiscoming commented on #292
@llifezou  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:54] Sunnyiscoming commented on #300
@MetaWaveInfo  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:56] Sunnyiscoming commented on #330
@stonechu108  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:56] Sunnyiscoming commented on #352
@Weipaitang  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:57] Sunnyiscoming commented on #367
@MikaeLa-01  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:58] Sunnyiscoming commented on #373
@YbingBot  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:58] Sunnyiscoming commented on #375
@CodoonHealthTech  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:59] Sunnyiscoming commented on #378
@jomozz  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 01:59] Sunnyiscoming commented on #384
@xiaoliuxiao6 Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 02:00] Sunnyiscoming commented on #386
@MyTrade-David  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 02:00] Sunnyiscoming commented on #387
@cdsmlhw Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 02:01] Sunnyiscoming commented on #389
@Pearl918  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 02:01] Sunnyiscoming commented on #391
@JackFsy  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-23 02:05] Sunnyiscoming commented on #279
@dailamancika48 Hey. Could you send an email with data usage authorization to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-23 02:07] kimtony commented on #337
@EGGRICE02
Yes, these music data are musical instrument teaching videos produced by our teachers, and the music copyright is legal.

[2022-06-23 02:10] JackFsy commented on #391
Hey @Sunnyiscoming , sent. Thanks

[2022-06-23 02:28] hajeungwoo commented on #358
@Sunnyiscoming This is the f081078 company. Is it a problem?

[2022-06-23 02:29] hajeungwoo commented on #358
Too much time wasted. Please help me

[2022-06-23 03:27] llifezou commented on #292
Just sent successfully, waiting for your reply @[Sunnyiscoming](https://github.com/Sunnyiscoming) @galen-mcandrew

[2022-06-23 03:40] psh0691 commented on #248
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebojoavastzlovvzolfbsmnp3ekf6lwdqpgtjitsm2whojrd2bpfk

[2022-06-23 04:00] swatchliu commented on #364
![image](https://user-images.githubusercontent.com/46444977/175206170-f43c8f1c-4ace-4a9d-9d68-65da9500ff00.png)

[2022-06-23 04:09] kernelogic commented on #232
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceayevl6hf2lkpu3ooafa363rpnvfu7izu5rw6xrmpmfrh3fsz2lxu

[2022-06-23 04:55] jamerduhgamer commented on #53
Hi @Yvette516, unfortunately the majority of dataset will be unable to retrieved as mentioned in datacap request that "some of the data has been requested to be private for a period of time based on requests from the interviewees of the content." The data will be made public after enough time has passed depending on USC SFI's decision.

You can see some samples of the files here - https://vhaonlin

[2022-06-23 04:59] jamerduhgamer commented on #420
If you go to https://vhaonline.usc.edu/login and register an account, the website tells you that the "USC Shoah Foundation's Visual History Archive allows users to search through and view more than 54,000 video testimonies of survivors and witnesses of genocide."

[2022-06-23 05:21] Japg879 opened #430 "Please delete it."

[2022-06-23 05:34] stonechu108 commented on #330
@Sunnyiscoming I had sent confirm email.

[2022-06-23 06:46] Sunnyiscoming commented on #392
@Jimmy-metahallo Hi,

Please list the links of data samples.

[2022-06-23 06:51] mococmedia commented on #380
yes, I process video data into segments and upload, please check

[2022-06-23 07:03] xingjitansuo commented on #312
@Yvette516 Those will be provided at the end of the Slingshot. Let me know if you need now.

[2022-06-23 07:07] swatchliu commented on #404
![image](https://user-images.githubusercontent.com/46444977/175237190-764b3b25-c3e3-4cb8-b045-0357d76fbdcb.png)

[2022-06-23 07:08] xingjitansuo commented on #312
@EGGRICE02  I have more than 10 SPs from three continents now.

[2022-06-23 07:16] cryptowhizzard commented on #425
Yes, i guess it is time and this would be a perfect candidate for Fil -E because of the sovereignty requirements.

As long as Holon is keeping the oversight here on this project ( ie. building the dataset for distribution etc. ) you can count us in.

[2022-06-23 07:19] izumi-finance commented on #284
@Sunnyiscoming Hello, the email has been sent to filplus@fil.org, please check, thank you.

[2022-06-23 07:55] psh0691 commented on #115
@cea1063

[2022-06-23 08:25] MikaeLa-01 commented on #367
@Sunnyiscoming Hello, we have sent an email, please check it, thank you！

[2022-06-23 08:28] newwebgroup commented on #356
Hi @Sunnyiscoming
Can you tell me which account you wrote to?
Just now, I asked our customer to check the private letter of "我叫星然啊"“带你吃瓜” Tiktok account, but I didn't find the message you sent.

Can you send it again? And tell me which account you sent the message to, and the sending time.

带你吃瓜：https://www.douyin.com/user/MS4wLjABAAAAhraWM86XeU3vEpfo7_yZaUhX5uwpOliUpU255LC8K_ifWH-1VsczXyke1t8skR4

[2022-06-23 08:44] newwebgroup commented on #356
We found a message suspected of being sent by you in the "带你吃瓜" account private letter, and have replied.

[2022-06-23 08:58] aoligei-01 commented on #377
@Sunnyiscoming This influencer is only cooperating with us in the online sales business. The data we want to store on the Filecoin network is just related to our business. NOT ALL OF the Influencer's VIDEO.
BTW, it seems like you are also Chinese. You might know the meaning of "influencer" and how influencer works. What's the meaning of operation for those influencers' accounts.
Also, It might be

[2022-06-23 09:29] Sunnyiscoming commented on #394
https://bdnft.com/ can not open, please check it.

[2022-06-23 09:48] GOLDENSECURITY01 commented on #322
Hi,@Sunnyiscoming .
I provided some sample data in the email(filplus@fil.org) that we will store, mainly some log files of the system.
Because we provide customer security services, most data will be the log file data of security attacks.

[2022-06-23 10:03] Sunnyiscoming commented on #394
It seems something wrong, there are only a few songs on the page and I can not change page.
![image](https://user-images.githubusercontent.com/105098820/175267214-ad2a54bf-7219-44c5-8c60-a3539e9f2e48.png)

[2022-06-23 14:37] rctAI-1 commented on #248
Hi,@xingjitansuo
For the first round, we will find at least four SPs
through the official website list.
For the second round, we plan to contact SP offline and find SP through slack. We will make sure at least 10 SPs at that time.
For the third round and following steps, we plan to look for SP in different regions and, at the same time, combine it with sp from the above methods. We will find at le

[2022-06-23 14:55] MetaWaveInfo commented on #346
![image](https://user-images.githubusercontent.com/100760052/175329455-15b42f5f-23f5-41f7-8ec1-cdcee748f0c8.png)

[2022-06-23 15:06] swatchliu commented on #397
![image](https://user-images.githubusercontent.com/46444977/175331722-b6dbe265-e778-41ac-83c0-9cce6520d590.png)

[2022-06-23 15:14] huangqian2021 commented on #323
Hello @Kevin-FF-USA
Any feedback from Next Governance Call: Tues June 14 8am PT / 3pm UTC -and- 4pm PT / 2300 UTC? We used to pitch clients with such presentations, but first time in front of cloud service providers. I hope it was not too technical or industrial focused. If anything else you and the team would be interested, please let us know. We are also open to take emails or phone calls for an

[2022-06-23 15:59] #430 closed

[2022-06-23 22:34] peteszym opened #431 "[DataCap Application] - Spexi Geospatial Inc"
# Large Dataset Notary Application
To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Spexi Geospatial Inc
- Website / Social Media: spexigeo.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
-Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
-On-chain address for

[2022-06-23 23:52] jessie8o8 commented on #414
Thanks for the approval notary team! :)

[2022-06-24 00:06] jessie8o8 opened #432 "[DataCap Application] PiKNiK - NEXRAD Slingshot Dataset 1/4"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  PiKNiK
- Website / Social Media: piknik.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain address for first alloc

[2022-06-24 00:07] jessie8o8 opened #433 "[DataCap Application] - PiKNiK - NEXRAD Slingshot Dataset 2/4"
# Large Dataset Notary Application
To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  PiKNiK
- Website / Social Media: piknik.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiBs
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiBs
- On-chain address for first allo

[2022-06-24 00:08] jessie8o8 opened #434 "[DataCap Application] - PiKNiK - NEXRAD Slingshot Dataset 3/4"
# Large Dataset Notary Application
To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  PiKNiK
- Website / Social Media: piknik.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiBs
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiBs
- On-chain address for first allo

[2022-06-24 00:09] jessie8o8 opened #435 "[DataCap Application] - PiKNiK - NEXRAD Slingshot Dataset 4/4"
# Large Dataset Notary Application
To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  PiKNiK
- Website / Social Media: piknik.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiBs
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiBs
- On-chain address for first allo

[2022-06-24 00:10] jessie8o8 commented on #432
The rest of the data cap applications for this dataset:
[DataCap Application] - PiKNiK - NEXRAD Slingshot Dataset 2/4 #433
[DataCap Application] - PiKNiK - NEXRAD Slingshot Dataset 3/4 #434
[DataCap Application] - PiKNiK - NEXRAD Slingshot Dataset 4/4 #435

[2022-06-24 01:23] fildata commented on #311
Hello.
We check the question late and answer it now.

Our company website is below.
http://fildata.co.kr

If you have any additional questions or requests, please ask us.
We appreciate your feedback.

[2022-06-24 02:39] cdcdx opened #436 "[DataCap Application] envato pty ltd."
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: envato pty ltd.
- Website / Social Media: https://www.akustyczna.info
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 500TiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 10TiB
- On-chain

[2022-06-24 02:48] dailamancika48 commented on #279
@Sunnyiscoming ok, we're sending emails, thank you！

[2022-06-24 02:58] Fibo-AI commented on #349
Hey, I think that my issue should have some progress now. @dkkapur @galen-mcandrew

[2022-06-24 03:01] Mengzhichuangtech opened #437 "[DataCap Application] Beijing Meng Zhi Chuang Digital Technology Co., LTD - Tangdou"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beijing Meng Zhi Chuang Digital Technology Co., LTD
- Website / Social Media: https://www.tangdou.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually bet

[2022-06-24 04:08] Weipaitang commented on #352
![1656043660878](https://user-images.githubusercontent.com/105209325/175460331-b086bb89-cac8-4621-9fdd-579e25da50ea.png)

[2022-06-24 05:41] jomozz commented on #378
OK,  We have sent it.

[2022-06-24 05:43] jomozz commented on #378
@Sunnyiscoming @galen-mcandrew OK, We have sent it.

[2022-06-24 06:51] litai686 opened #438 "[DataCap Allocation] - Scenic spot photography"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "Scenic spot photography"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization

[2022-06-24 08:03] MappingFunkProtocol commented on #374
![9mapping](https://user-images.githubusercontent.com/105412166/175490406-4c0adf8d-18c1-4712-a16e-74d496b76031.png)
@galen-mcandrew @dkkapur This is my email.

[2022-06-24 09:57] Hailey-Li opened #439 "[DataCap Application] <Mgame>"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Mgame
- Website / Social Media: https://www.mgame.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 300TiB
- On-chain address for fi

[2022-06-24 11:57] AiYueKeJi opened #440 "[DataCap Application] Hangzhou Aiyao"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Hangzhou Aiyao Medical Health Technology Co., Ltd.
- Website / Social Media: http://www.cbang.io/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-

[2022-06-24 12:52] HolaSpace commented on #362
![twr5](https://user-images.githubusercontent.com/105311153/175539225-909f768c-bc7a-4896-8739-eb8f6b4ca058.png)
Is there any other things should I do?

[2022-06-24 17:58] Kevin-PiKNiK commented on #431
Hi @peteszym . Great pleasure meeting your team in Austin. The Filecoin community is excited to work with you!

[2022-06-24 19:32] ribasushi commented on #293
@dkkapur @fabriziogianni7 we are under 200 - please trigger `txid 5` soon.

[2022-06-24 23:57] kernelogic commented on #347
@Pangodbj @fireflyHZ I manually approved your datacap.

https://filfox.info/en/message/bafy2bzacechvjsx3yarcsqa4qgifehsulqlxrwfjv6hzr426qwhtrdyd6pg5k

lotus filplus check-client-datacap f127l5waa4pw6k3sm4e7wxevc4fe5uz7dyt4mxa3i  | numfmt --to=iec-i --suffix=B
50TiB

[2022-06-24 23:59] kernelogic commented on #295
@Proya01 I manually approved your datacap of 50TiB.

https://filfox.info/en/message/bafy2bzacedza7iki27pv23jwofwgrrnfvgwdu6sotzsrgkad4zbw4spjzxbti

lotus filplus check-client-datacap f14kei3mbjobgsfszu5cndhosuobkbbtoaikc52pq  | numfmt --to=iec-i --suffix=B
50TiB

[2022-06-25 04:08] Huiya2 commented on #354
f01870475
f01850141
f047666
f061666
@Sunnyiscoming We communicated with these SPs for application.

[2022-06-25 09:21] Chris00618 commented on #354
These nodes have some close connection with Cabrina Huang, do you know or serve for their teams?  It seems that we need rootCIDs to make further investigation into this issue.

[2022-06-25 11:42] Chris00618 commented on #308
Hey Cabrina, does this node f01850141 belong to you? @xingjitansuo
https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/312
https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/232
As you know, self dealing in LDN is not allowed in our community.
In addition,we found another case connected with you ,could you give some clarification about it.
https://github.co

[2022-06-25 21:37] flyworker commented on #278
Yes you are correct, it is similar to Estuary+Textile Bidbot but using offline deal storage and enable user upload files and mint as NFT.
more than 5000 owners mint over 100K NFT on the opensea testnet.
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/8363795/175791144-5b06f99f-a097-4dd9-8b8c-85bc672c42f2.png">

Miners are selected with a deal matching engine similar to

[2022-06-25 21:40] flyworker commented on #350
Yes, I have worked with them on the nft scan and did some research together about how to backup data to filecoin network, they are also perfect candidate of our filswan engine.
@NFT-SCAN  are you interested to work with us to do some poc work?

[2022-06-26 09:43] xingjitansuo commented on #308
@Chris00618
I totally understand and follow the community rule on prohibition of seal-dealing. I do not own SP f01850141.  I just recommend this node to @CodeIsLaw0108 .

[2022-06-26 10:00] Yvette516 commented on #53
@jamerduhgamer @dkkapur Before you said that the data you provided could be publicly accessible, but now it can't. You violated the rules of the whole community.

[2022-06-26 10:12] Yvette516 commented on #420
@jamerduhgamer @Ray-PiKNiK  You  had already problems on the first application #53 , and why did you apply the second time?

[2022-06-26 19:52] stuberman commented on #53
I do not see where it was claimed that the data set would be public, here is the actual question and response:

`Confirm that this is a public dataset that can be retrieved by anyone on the Network (i.e., no specific permissions or access rights are required to view the data).`

Having worked directly with the Shoah Foundation and this project for the last year, it was clearly articulated that thi

[2022-06-27 01:41] Sunnyiscoming commented on #395
@Lexunn  Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-27 02:24] Sunnyiscoming commented on #397
@Chimay-Niko Can you provide more data samples?

[2022-06-27 02:36] filtakes commented on #363
hi @Sunnyiscoming @Yvette516 :
Sorry for the late reply,Our company is Fujian Endex Technology Co., LTD.We've been around IPFS and Filcoin for a long time and formed a company two years ago to focus on them.  Our company's website: http://www.endex.vip
Now we are ready to advance enterprise real data storage and drive the development of distributed storage industry. Filtakes is a business we do ba

[2022-06-27 02:39] BDNFT commented on #394
@Sunnyiscoming
Please take a closer look at our data sample presentation
The front end of the web page is only part of the song display, and more of our data is stored locally.

[2022-06-27 02:44] WanjieData commented on #404
Yes,sir.

[2022-06-27 02:51] Sunnyiscoming commented on #399
Can you provide your data samples here?

[2022-06-27 03:16] lucasonione commented on #399
@Sunnyiscoming We have added data samples here, please check it.

Can you share a sample of the data? A link to a file, an image, a table, etc., are good ways to do this.
[code]

[2022-06-27 03:20] kimtony commented on #337
@EGGRICE02
hello, what should i do next

[2022-06-27 05:36] Huiya2 commented on #354
First of all I have to say thank you “Chirs00618” for your question and thank you for keeping us in the loop! However, I would like to say that we have submitted all the relevant information required for the LDN application as requested and we have answered all the additional questions.

Every serious answer is always followed by the next question, always, and this is wearing on our patience.This

[2022-06-27 05:37] Sunnyiscoming commented on #400
@PengLaiJu2017 Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-27 06:02] Sunnyiscoming commented on #401
@kimskorea1
https://github.com/filecoin-project/filecoin-plus-client-onboarding/issues/1099
https://github.com/filecoin-project/filecoin-plus-client-onboarding/issues/1170
https://github.com/filecoin-project/filecoin-plus-client-onboarding/issues/1323
https://filplus.d.interplanetary.one/clients/f01452694/breakdown

All the datacap you applied for are stored on one storage node. Large datasets req

[2022-06-27 06:21] CodeIsLaw0108 commented on #308
@Chris00618  Thanks for your reply after waiting so long time .
Have checked with @xingjitansuo , Sorry i fault ,Just one of their SP before slingshot 2.8 ?
But can I still send deals for this miner ? Could you help to comments this and help us to speed up this procedure ?
![image](https://user-images.githubusercontent.com/81554458/175870777-befb9f4d-08ea-4c3f-a257-48448413df19.png)

We all want t

[2022-06-27 06:30] NFT-SCAN commented on #350
Your support is greatly appreciated. We'll start after we get the DataCap!

[2022-06-27 06:30] stonecopy commented on #324
![1656311333711](https://user-images.githubusercontent.com/103362492/175873862-4de6b11c-5c4b-4917-a3c8-be03ca8c83c6.png)
Looking forward to seeing progress at an early date.

[2022-06-27 06:31] Sunnyiscoming commented on #404
@WanjieData  Can you provide more data samples?

[2022-06-27 08:45] fabriziogianni7 commented on #293
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedsbxpzws67gmnwe33x6dqtrnwx4tpwxmi7tqlv3g223e4tl7qlj2

[2022-06-27 08:55] Lexunn commented on #395
@Sunnyiscoming Please check the email,thanks.

[2022-06-27 09:32] WanjieData commented on #404
Here are some additional samples, please check it.
https://github.com/WanjieData/wanjiedata/blob/main/Supplementary%20document.zip

[2022-06-27 10:59] Chimay-Niko commented on #397
@Sunnyiscoming
https://user-images.githubusercontent.com/106143616/175925805-e4ae829f-7eb6-4411-a213-ee81c281f2ad.mp4

[2022-06-27 11:51] Beacon-Edu opened #444 "[DataCap Application] Project Beacon LDN 1/12 - Wuji Blockchain"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educational programs, our website will only be available to PL and the relevant notaries.
- Total amount of DataCap being requested

[2022-06-27 13:30] Beacon-Edu opened #446 "[DataCap Application] Project Beacon LDN 2/12 - Xingji IPFS"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educational programs, our website will only be available to PL and the relevant notaries.
- Total amount of DataCap being requested

[2022-06-27 13:34] Beacon-Edu opened #447 "[DataCap Application] Project Beacon LDN 3/12 - Jianzhi Power"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educational programs, our website will only be available to PL and the relevant notaries.
- Total amount of DataCap being requested

[2022-06-27 13:36] Beacon-Edu opened #448 "[DataCap Application] Project Beacon LDN 4/12 - Jiami Jingling"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educational programs, our website will only be available to PL and the relevant notaries.
- Total amount of DataCap being requested

[2022-06-27 17:20] peteszym commented on #431
Thanks @Kevin-PiKNiK ! The feeling is mutual on our side. 🚀

[2022-06-27 19:44] dkkapur commented on #328
@EcologyLtd I think it is super important to value decentralization and diversification as you onboard large sums of data onto the network, especially to minimize concentration risk and distribute data to several SPs. At this point, I suggest that you find at least 3 other SP organizations and focus first on restoring the data you have already stored with the main SP org to ensure you have safe re

[2022-06-27 21:21] parkan commented on #52
We've crossed 69TiB remaining now, am I correct in understanding that at 75TiB remaining the next allocation process should have kicked off?

[2022-06-27 21:43] dkkapur opened #449 "[DataCap Allocation] - TEST"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "[DataCap Application] - TEST"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organiza

[2022-06-27 21:43] #449 closed

[2022-06-28 01:39] dvdmrs09 opened #450 "[DataCap Allocation] - [DataCap Application] Project LYTE 1"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "[DataCap Application]  Project LYTE 1"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
-

[2022-06-28 02:54] #438 closed

[2022-06-28 05:35] David-MyTrade commented on #386
![MTE1](https://user-images.githubusercontent.com/105814686/176100619-efcd417a-9865-4471-95e3-b3258e89e93f.png)
Hi @Sunnyiscoming , I've finished it.

[2022-06-28 06:25] Sunnyiscoming commented on #405
@[1LISA2](https://github.com/1LISA2)Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-28 06:28] fireflyHZ commented on #347
hah, Well done, this way can solve the case, but it is not a long-term solution.
It is expected that the signature issue will be resolved at an early date

[2022-06-28 06:38] Sunnyiscoming commented on #406
@paar13kr Can you provide more related data samples with the above data description to prove that you have 5 PB data already? Videos would be better.

[2022-06-28 06:49] Sunnyiscoming commented on #406
@paar13kr Can you provide more information about the M&T organization? Such as registered address, time of establishment, proof of existence and so on. I can't find anything very specific on the website.

[2022-06-28 07:05] laurarenpanda opened #453 "[DataCap Application] FileDrive Labs - FileDrive Datasets V2"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information

- Organization Name: FileDrive Labs
- Website / Social Media: https://twitter.com/FileDrive1
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 500 TiB
- On-c

[2022-06-28 09:38] Maxpic-Studio opened #456 "[DataCap Application] Maxpic PhotoGraphic Studio"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Maxpic PhotoGraphic Studio
- Website / Social Media: https://www.maxpic.live/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 200TiB
- O

[2022-06-28 09:39] Sunnyiscoming commented on #407
@Huifan-Tina0615
Can you provide more information about the M&T organization? Such as registered address, time of establishment, proof of existence and so on. I can't find anything very specific on the website.
Can you provide more data samples?

[2022-06-28 14:50] galen-mcandrew commented on #187
This was approved, looks like message was not logged by bot.

[2022-06-28 14:53] galen-mcandrew commented on #187
Approved by: Eric Liu - (Shanghai ByteBase Information Technology Co.) @swatchliu

## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here:
https://filfox.info/en/message/bafy2bzacea5qqeuthwiupkdjhcn3rq4nghyj4nfz7rut5orsfp6r

[2022-06-28 15:23] salstorage commented on #326
Paging @dannyob @MegTei to sign next round of approvals

[2022-06-28 16:07] JackFsy commented on #391
Hi @kernelogic , thank you for your support!

[2022-06-28 16:37] cryptowhizzard commented on #391
Hi there,

Today in the governance call there were some slides , including a slide stating that the revenue of this project would be donated. Can you put those slides here in this request @JackFsy ?

From what i understand is that @kernelogic ( Techgreedy ) and Xinan will build and distribute this dataset for you. Is that right?

If i understand correct on both then i will support this application

[2022-06-28 16:44] swatchliu commented on #391
I support this LDN.

100% match with LDN's demand. A Public Dataset Hub is easier for SP to find data and apply for DC.

[2022-06-28 16:46] Fenbushi-Filecoin commented on #295
We can support the application.

[2022-06-28 16:51] Fenbushi-Filecoin commented on #335
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced57byjlor5ivkz27qiiixbzs6lkrjge7ckj4ihvkwv5srqpyrz4y

[2022-06-28 17:01] EcologyLtd commented on #328
@dkkapur , really appreciate for your advice. we will take more efforts on allocating our data to more SP organizations.

It would be great if you can share more details on the CID tracking mechanism.  we would like take part in building and improving the tracking system. I will ping you on slack later.

[2022-06-28 20:55] kernelogic commented on #335
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb3cvser7nyikti572ua44aqhvms3rmah3xi6u4fbcio523ahrpja

[2022-06-28 21:28] xinaxu commented on #398
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedimt5gcrlplghy2hxq54ewkksyafr6ma5esdez42ojlwaelhph3q

[2022-06-28 21:29] xinaxu commented on #348
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceabdtogxcstumq3zqampwjk43btcqsbqprs22xbz2fxo7yxgndjmw

[2022-06-28 21:54] dannyob commented on #326
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecizvbhhmhqwku3ebyu2e2fog2gg62ithz7kfrmfpvlnlfqbgldlg

[2022-06-29 01:26] MegTei commented on #326
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceac6je4o6jepcfjfvkmb2eqap33emiccj2bswuatdli4xlmj6rn22

[2022-06-29 01:43] Sunnyiscoming commented on #408
Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-29 02:19] Sunnyiscoming commented on #412
@JXHengLian Hi
https://aiqicha.baidu.com/company_detail_30083607468280?tab=certRecord
The organization established in 2020. It is true.

I have a question about data samples. I can't find them in the link. I don't know whether there is something wrong.
![image](https://user-images.githubusercontent.com/105098820/176335677-54511dee-bbd1-4107-8338-8d0306f2c741.png)

As [EGGRICE02](https://github.com

[2022-06-29 02:25] Sunnyiscoming commented on #413
@johnchenyan There are some questions you should answer. Please fulfill them.

[2022-06-29 02:35] kernelogic commented on #419
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebo6yhrsiv6g4uchikodhmtwpj7agl4cbge6brq4iej6n7tnevho4

[2022-06-29 02:50] kernelogic commented on #425
I'd like to support this LDN as well, seeing more and more FIL-E style applications nowadays and I want to participate early to get experience of overseeing this type of LDN lifecycle @MegTei .

[2022-06-29 02:53] DSS-AL commented on #425
Thank you @kernelogic this is great news, thank you for your support. More to come just like this one.

[2022-06-29 02:57] kernelogic opened #457 "[DataCap Application] Kernelogic - Various open datasets onboarding"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Fei Yan - Kernelogic
- Website / Social Media: https://slingshot.kernelogic.ca/ @feiya200
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB

[2022-06-29 03:03] DSS-AL commented on #425
Hi @dkkapur please see below a list of notaries that have expressed their intent to support the LDN application.

Fei Yan / Kernelogic / @kernelogic
Wijnand Schouten / Speedium / @cryptowhizzard
Eric / ByteBase / @swatchliu
Meg Dennis / Holon / @MegTei

[2022-06-29 03:11] flyworker commented on #293
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaz4tzfedyk7fpgczbpj7ptzx2kv3bd57nmzvwov2scrvok3gylte

[2022-06-29 03:25] ChangxinTechnology opened #458 "[DataCap Application] <Shanghai Changxin Technology Co., LTD> - <Changxin Technology>"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Shanghai Changxin Technology Co., LTD(上海长信科技股份有限公司）
- Website / Social Media:http://www.cxgrp.com/#
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):2 PiB
- Weekly allocation of DataCap requested (usually between

[2022-06-29 03:55] mamimami666 commented on #411
good,I like it.

[2022-06-29 04:05] mamimami666 opened #459 "[DataCap Application] <Chenggong> - <Chenggong>"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:
- Website / Social Media:
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):
- Weekly allocation of DataCap requested (usually between 1-100TiB):
- On-chain address for first allocation:

_Please respond to the qu

[2022-06-29 05:50] n0012022 opened #460 "[DataCap Application] PERCENT Technology Co.,ltd"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: PERCENT Technology Co.,ltd
- Website / Social Media: https://en.percent.cn/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-

[2022-06-29 05:54] Sunnyiscoming commented on #415
@Gmining82 Hi,
1. It seems that you are represented for an mining organization(www.gmining.co.kr). I cannot find anything related with Gipfs Cloud Corp. Can you provide more information about it, such as certificate of organization existence .

2.Have you find any SP to cooperate with? Can you list them here? Do they support data retrieval?

3. The data sample you provided above(https://www.cts.tv

[2022-06-29 06:05] stonechu108 commented on #330
@galen-mcandrew When can my app create RKH?

[2022-06-29 06:10] Sunnyiscoming commented on #418
@YoWANT01 Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-29 06:14] Sunnyiscoming commented on #311
http://fildata.co.kr/ do not work. Please check it.

[2022-06-29 06:28] xinaxu commented on #232
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedziaeg3rsu3453n5reqt3jb4ynvhb4qhc7ejtffhwwdy2gwsqtsw

[2022-06-29 06:30] Fatman13 commented on #393
Hello, team, any update on this application?

[2022-06-29 06:31] Sunnyiscoming commented on #270
1. Fil+ Large datasets require data should be open, which means your data is stored without encryption and storage providers needs to provide data retrieval.

2.Your website is not working, which prevents us from understanding your business and enterprise to establish information with you and allocate datacap to you.  Or you can provide more information about your business and enterprise, such as

[2022-06-29 06:34] Sunnyiscoming commented on #273
Fil+ Large datasets require data should be open, which means your data is stored without encryption and storage providers needs to provide data retrieval, everyone can get these data.

[2022-06-29 06:42] Sunnyiscoming commented on #323
The installation and shooting of the camera should also be authorized by the relevant institutions. Is the authorization of the data also approved? Can you provide such data use authorization certificate?

[2022-06-29 07:28] Huifan-Tina0615 commented on #407
@Sunnyiscoming
Yes. We registered at HONG KONG CENTRAL, 5-8 QUEEN VICTORIA STREET in August, 2013.
[dataset.zip](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/9008163/dataset.zip)
[dataset2.zip](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/9008167/dataset2.zip)
[dataset3.zip](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/9

[2022-06-29 07:41] fildata commented on #311
@Sunnyiscoming
We read and checked what you sent.
We have confirmed that there is a problem in accessing our web server.
We have fixed the current web server connection problem.

http://fildata.co.kr/
Please check the website again.

[2022-06-29 08:18] fabriziogianni7 commented on #187
Approved by: Eric Liu - (Shanghai ByteBase Information Technology Co.) @swatchliu

[2022-06-29 08:18] pdjedu opened #461 "[DataCap Application] <Palliums Education> - <pdjedu project>"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information

- Organization Name: pdjedu
- Website / Social Media: http://pdjedu.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5P
- Weekly allocation of DataCap requested (usually between 1-100TiB): 400T
- On-chain address for first all

[2022-06-29 08:21] GMverse commented on #365
@dkkapur @galen-mcandrew Hello, is there anything I should provide to you?

[2022-06-29 08:26] fabriziogianni7 commented on #225
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedmsiasbkdznnvamipgrlcgjcqd2fgihz2mu2zdrjsc6s2nlcbpdi

[2022-06-29 08:29] fabriziogianni7 commented on #225
approved by @MetaWaveInfo

[2022-06-29 08:54] fabriziogianni7 commented on #295
what proposal di you approved? @kernelogic

[2022-06-29 09:42] lambrage commented on #64
@galen-mcandrew Hi, Galen.
It seems that each time the bot do not create DataCap Allocation requested at the 75% threshold.
We have 37 TiB left, but DataCap Allocation requested have not be created.
Maybe the bot can be improved.

[2022-06-29 09:50] paar13kr commented on #406
@Sunnyiscoming
yesfile.com is a website for services only. A description of the company can be found on the company's website.
company website : http://mntcompany.co.kr/
address: 703 HS TOWER 10F, Seolleung-ro, Gangnam-gu, Seoul
time of establishment: 2010.03

[2022-06-29 11:24] swatchliu commented on #223
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecam26wnr2osatgaxudv44ssui25xg6iosld4in6xlpyphihgfkck

[2022-06-29 11:44] Reiers commented on #348
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecus5byghtpduv5s3cefdh7ki2mu7kpmf3akxcxn7sxorntbwzoo6

[2022-06-29 13:16] swatchliu commented on #398
Approved by ByteBase manaually.

[2022-06-29 20:17] cryptowhizzard commented on #388
I will support this one

[2022-06-29 20:23] cryptowhizzard commented on #53
I think there is a miscommunication going on @Yvette516

PiKNiK send this data to different SP’s across the globe and you can retrieve that data. What is being referred to is the dataset itself. A small part of it is not send to SP’s for public use to store and have retrievable.

From the deals we (Dcent) received from PikNik you are welcome to retrieve them!

[2022-06-29 21:56] jamerduhgamer commented on #420
Hi @Yvette516, what problems do you mean? The sealing for the dataset is proceeding smoothly.

The main reason why we applied the second time is mentioned in the last section of the datacap request.

How will you be distributing data and DataCap across miners storing data?

"This project aims to onboard 4+ PiB of original data, for which we’d like to store multiple replicas (2-5) with separate sto

[2022-06-29 23:39] Epengtimes commented on #357
@Sunnyiscoming , sorry for late. our name is  EPENG TIMES TECHNOLOGY LTD, incorporated in Cayman Islands. we have office in Singapore. I can provide company registration material if needed.  As we don't have to C business, no PR requirement so there is no website or other links can be provided.

we don't have 1 PiB raw data in hand ( 5PiB DataCap takes 1 PiB raw data generally),  since we don't ha

[2022-06-30 00:45] MetaWaveInfo commented on #300
We will prompt this application on our official website in these two days.

[2022-06-30 01:20] Sunnyiscoming commented on #354
@Huiya-Shanghai Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-30 01:21] galen-mcandrew commented on #264
Due to no reply from client, we are closing this issue for now. When ready, please reopen or submit a new request here: https://plus.fil.org/ldn-application

[2022-06-30 01:21] #264 closed

[2022-06-30 01:22] galen-mcandrew commented on #268
Due to no reply from client, we are closing this issue for now. When ready, please reopen or submit a new request here: https://plus.fil.org/ldn-application

[2022-06-30 01:22] #268 closed

[2022-06-30 01:24] Sunnyiscoming commented on #356
Ok, I have seen that.
@newwebgroup  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-06-30 01:36] Sunnyiscoming commented on #357
@Epengtimes I think Datacap is set up for an existing dataset.  So I want to know how much data you have?

[2022-06-30 01:40] Sunnyiscoming commented on #358
@hajeungwoo Large datasets require decentralizated storage, so a node does not meet the community requirements. Have you contacted other storage providers?

[2022-06-30 01:52] galen-mcandrew commented on #310
Received the email and business license. Notaries may want to request a copy of the license as well to perform their diligence.
<img width="993" alt="Screen Shot 2022-06-29 at 6 51 26 PM" src="https://user-images.githubusercontent.com/85587348/176575669-69ea4ff7-3410-44b4-bf0e-a951deb0f271.png">

[2022-06-30 01:52] galen-mcandrew commented on #310
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 01:55] galen-mcandrew commented on #397
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 01:57] galen-mcandrew commented on #385
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 01:59] galen-mcandrew commented on #364
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 01:59] Sunnyiscoming commented on #373
Any update?

[2022-06-30 02:01] Sunnyiscoming commented on #376
@litai686  I think Datacap is set up for an existing dataset. So I want to know how much data you have?

[2022-06-30 02:02] galen-mcandrew commented on #296
Email received with some documents, individual notaries should also request evidence for their diligence.

[2022-06-30 02:04] galen-mcandrew commented on #296
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:04] Sunnyiscoming commented on #377
@aoligei-01 This is client due diligence, and hope you can understand it. If you are just a influencer, can you provide data storage authorization of this douyin channel?

[2022-06-30 02:05] JackFsy commented on #391
Hey @Fenbushi-Filecoin , thank you for your support!

[2022-06-30 02:05] galen-mcandrew commented on #365
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:07] JackFsy commented on #391
Hey @cryptowhizzard ,

Yes, we will work will XinAn to prepare the data. As per requested, our one-page slide is attached below.
![image](https://user-images.githubusercontent.com/104066174/176577380-476d27de-782d-4c45-8dec-1c663794abae.png)

Thank you for your support!

[2022-06-30 02:07] JackFsy commented on #391
Hey @swatchliu , Thank you for your support!

[2022-06-30 02:09] galen-mcandrew commented on #349
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:10] Sunnyiscoming commented on #380
@mococmedia Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-30 02:11] galen-mcandrew commented on #350
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:11] Sunnyiscoming commented on #382
Any update?

[2022-06-30 02:12] Sunnyiscoming commented on #383
Any update?

[2022-06-30 02:13] Sunnyiscoming commented on #389
@Pearl918 Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-30 02:14] galen-mcandrew commented on #322
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:14] KONGFU-VR commented on #372
![coin](https://user-images.githubusercontent.com/105405987/176578037-346e0f28-3ad6-4166-be58-f5e55bbf0280.png)
@UnionLabs2020 Should I show this mail here?

[2022-06-30 02:14] Sunnyiscoming commented on #391
@JackFsy Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-06-30 02:16] galen-mcandrew commented on #322
I encourage the notaries to review this sample data as well for their KYC before signing.

[2022-06-30 02:16] JackFsy commented on #391
Hey @Sunnyiscoming , already sent with subject: [DataCap Application] Smithsonian Open Access #391

[2022-06-30 02:16] huangqian2021 commented on #323
@Sunnyiscoming
Yes, video surveillance is approved. We’ve been in video surveillance for several years with major partners in multiple areas, and we are fully aware of it. As previous stated, we gather data from different sources and apply analytics capabilities to improve safety, efficiency and productivity as well as security. In other words, valuable information is digested from raw data and st

[2022-06-30 02:18] hajeungwoo commented on #358
@Sunnyiscoming yes.
We have contracted with other companies and will store them distributedly.

[2022-06-30 02:18] galen-mcandrew commented on #346
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:19] litai686 commented on #376
We have 5PB of user data that needs to be backed up, but because we are transmitted through the network and limited to bandwidth, we can back up to filecoin 100TB at most in a week @Sunnyiscoming

[2022-06-30 02:19] galen-mcandrew commented on #362
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:25] hajeungwoo commented on #358
It will be distributed and stored with 2-3 companies.
Any other issues?

[2022-06-30 02:27] galen-mcandrew commented on #294
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-06-30 02:56] LEMURIA1 opened #462 "[DataCap Application]LEMURIA"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: LEMURIA
- Website / Social Media: Website：https://www.miracles.games    Discord：https://discord.gg/EnsvSAVZCv     Twitter：https://twitter.com/0xMiracleGame
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB

[2022-06-30 03:40] kernelogic commented on #223
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaqs7apwi5ecubtvwrlkuzpdrwk774is7afvn74lj52jbawe5gza4

[2022-06-30 04:16] newwebgroup commented on #356
@Sunnyiscoming  Hey，Of course, do you want us to send mail using **New web group** or using **Wanjing media**?

[2022-06-30 04:28] JackFsy commented on #391
Hey @galen-mcandrew , are we able to have this application approved?

[2022-06-30 05:22] dkkapur commented on #398
@swatchliu qq - is the tooling not working for you?

[2022-06-30 05:22] dkkapur commented on #398
![image](https://user-images.githubusercontent.com/2343218/176598875-889105b8-8180-4745-88f3-eac6c79136e6.png)

confirming it went through.

[2022-06-30 05:26] newwebgroup commented on #356
<img width="922" alt="image" src="https://user-images.githubusercontent.com/100118145/176599184-2723b8ee-7cbe-45b2-bf68-8ce54f34aa6b.png">
I have sent an email, please check it.
I explained some questions about Wanjing media data in my email
What is it? Where did it come from? How many? And other relevant information @galen-mcandrew @Sunnyiscoming

[2022-06-30 05:31] dkkapur commented on #425
@jamerduhgamer are you looking to support this one as well?

@DSS-AL happy to proceed here, though would highly suggest having at least 1-2 more notaries in case folks have issues with signing or are taking time off. This at least gets you some buffer.

[2022-06-30 05:44] kernelogic commented on #398
@dkkapur It is not working for many notaries (I'm OK though), see https://filecoinproject.slack.com/archives/C01HRNU4VBK/p1656421386836639

[2022-06-30 06:09] 1ane-1 commented on #260
@dkkapur Anything else should i provide for you?

[2022-06-30 06:23] Sofia2338 commented on #408
Please check the email,thanks

[2022-06-30 06:27] swatchliu commented on #398
@dkkapur yes, we can't approve them by ledger.

[2022-06-30 06:38] xingjitansuo commented on #425
I had an offline meeting with @DSS-AL to discuss this application.  I am excited to welcome this type of scientific dataset onboard to Filecoin.
 1. @dkkapur Since this dataset can only be distributed in Australia, can the notaries from other regions approve?
 2.  what would be the best way to check the encrypted deal is made against the scientific cardiac research dataset?

[2022-06-30 06:47] Sunnyiscoming commented on #322
It seems that the data sample you provided is the log file of Filecoin storage.

[2022-06-30 06:57] DSS-AL commented on #425
Thank you for your support @xingjitansuo, I can help answer part 2.

We have a NDA with @MegTei who has had direct communication from the customer will have the ability to verify the data. I could also seek to arrange an NDA with yourself or other notaries if required. I hope this helps.

[2022-06-30 07:55] Yvette516 commented on #382
Could you send an email to filplus@fil.org from your officail email Account?

[2022-06-30 08:05] aoligei-01 commented on #377
@Sunnyiscoming Sorry, you may have misunderstood me. We are a media company, we have signed some artists and there will be a lot of video material that needs to be stored for backup. Secondly, we have business cooperation with external KOLs and there will be many business opportunities, so the video data used for online sales also need to be stored.Thank you！

[2022-06-30 08:05] ElonMNC commented on #355
hi @Sunnyiscoming may I kindly follow up the process and looking forward to get the approval

[2022-06-30 08:10] kernelogic commented on #425
@DSS-AL I prefer all notaries sign NDA and can at least verify some of the data.

[2022-06-30 11:32] swatchliu commented on #349
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec2amfdf4mgbz67wi4xcx6gknsiyjd3l4tokxajwdlgaxrq7dz4li

[2022-06-30 11:34] swatchliu commented on #362
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacea3etevzpjkpfofy3u2qvlyq2jru67wdwlb6lr2y366ljcl6oj5xw

[2022-06-30 13:33] MetaWaveInfo commented on #385
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecmiwwm4pj3nl57jfccqsguja7ebmyvhats573ferl2dtxrepsfek

[2022-06-30 13:34] MetaWaveInfo commented on #350
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced5plnjpbrjxdspaasebbssrgojhm2oanp2dfdw2pcwg7p2vhsh6g

[2022-06-30 13:59] 1475Notary commented on #365
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedxenlj5o5h3u6rcap2t3cl65rlxx6euk64vuggjnevcrhpgqqd5u

[2022-06-30 15:03] galen-mcandrew commented on #398
@swatchliu I see, makes sense. When you do this, can you please drop the details in a comment, following a structure like this for a [proposal](https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/398#issuecomment-1169261290) or like this for an [approval](https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/398#issuecomment-1155812969)?

The tooling (such as

[2022-06-30 23:26] DSS-AL commented on #425
Hi @kernelogic in principle I have no problem with that and I'll be happy to circulate NDAs to all relevant notaries. In practice we'll have to get samples from the client as the private components of data are being sent to us pre-encrypted from the client. Regardless, we'll find a way to demonstrate this with total transparency of process.

[2022-07-01 01:43] PengLaiJu2017 commented on #400
Please check

[2022-07-01 02:17] jomozz commented on #378
@galen-mcandrew @dkkapur Any update?

[2022-07-01 02:46] MegTei commented on #312
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceazw7jvowfzk5s6y2pxjjvwxfq7gwojvjgoqvrjrb3ot2qgabia2c

[2022-07-01 03:05] Zhonghe112211 commented on #371
@Sunnyiscoming Hey there!  The github account i used before, i can't login with no reason.  Can I use this account to communicate with you？
The person you have called with is our vice president. Our leader who in charge in this has synchronized with the vice president now. You can have a call or email.
Thank you!

[2022-07-01 03:56] zhonghdadi commented on #310
Thank you very much for your approval @galen-mcandrew
Could you sign it for us？ @IreneYoung @xingjitansuo  thank you！

[2022-07-01 03:58] kernelogic commented on #312
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebgyfhhshjeggrdrifgvpv6ovbe2zo324uhxwovpe6kjrwwnztx4i

[2022-07-01 05:45] 1LISA2 commented on #405
Hello, the email has been sent, please check it, thank you

[2022-07-01 07:22] dailamancika48 commented on #279
Hi,  @Sunnyiscoming  sorry for the long wait, we have sent a proof of authorization to filplus@fil.org, please check, thank you!

[2022-07-01 09:11] aries98 opened #463 "[DataCap Application] Missnami"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Missnami
- Website / Social Media: https://missnami.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 3PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain address for f

[2022-07-01 09:19] Pearl918 commented on #389
@Sunnyiscoming Yes! You can check it.
![allblue](https://user-images.githubusercontent.com/105973857/176864354-2d8aabcf-87f5-4c71-8ce9-2362f86482a0.jpg)

[2022-07-01 10:24] MetaWaveInfo commented on #300
![image](https://user-images.githubusercontent.com/100760052/176876997-5d81ab0a-9ac9-4651-8682-65e065975843.png)

[2022-07-01 10:44] llifezou commented on #292
@dkkapur @galen-mcandrew @Kevin-FF-USA @Sunnyiscoming Is there any update please, thanks

[2022-07-01 11:17] Gonzalo1987 opened #464 "[DataCap Application] <The New Ads>"
# Large Dataset Notary Application
To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: The New Ads
- Website / Social Media: https://thenewads.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100 TiB
- On-chain address f

[2022-07-01 23:29] Kevin-PiKNiK commented on #464
@Gonzalo1987 : This is very cool and thanks for your interest in the Filecoin network. You say that your company is part of a group of companies from Spain. However, your request mentions storing in the United States among "other countries". I would like to **confirm that this is intentional and without sovereignty restrictions**. Thanks.

[2022-07-02 15:22] jessie8o8 commented on #388
Hi @dkkapur,

Correct, I work for PiKNiK! We understand the reasonable doubt you may have and are please to present the following proposal with the support of 4 notaries. The following is the proposal for Cognocloud's dataset. Please let me know if you have any further questions!

### Cognocloud LDN Proposal

**Project Description**
We propose the onboarding of 2 PiBs of data to the Filecoin Netwo

[2022-07-03 02:02] swatchliu commented on #225
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedi7qamv2cdrjcx57wwmvkgqtqhqelq2pou4ab5loh2dmfungs4i2

[2022-07-03 08:37] AlisaWeb commented on #292
1. There's no docs, any contents about products or guide books. It's curious that your website is empty.
![1](https://user-images.githubusercontent.com/106143617/177028450-89d75f1c-50f7-4a92-81bf-d1530cb46b6a.jpeg)

![2](https://user-images.githubusercontent.com/106143617/177028452-8d3c0fc2-b7ef-417c-be05-c47652c63613.jpeg)

2. Nothing related with Filecoin, no matter node or staking page, there i

[2022-07-03 12:26] psh0691 commented on #296
@Deboxreps

[2022-07-03 15:42] UnionLabs2020 commented on #429
Hey@Japg879, could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-07-03 15:57] UnionLabs2020 commented on #406
At this time the large dataset process is not intended for storage providers to self-deal. In addition, could you provide more evidence that you have been authorized by the real owner of dataset?

[2022-07-03 16:00] UnionLabs2020 commented on #456
Could you send an email with your official domain to filplus@fil.org to confirm your identity?

[2022-07-03 16:00] Fenbushi-Filecoin commented on #327
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceasmblde3u6rbuncgqirantbzmuazcdxqrt5gpzda276g2dbocn2u

[2022-07-03 21:38] s0nik42 commented on #388
I will support it as well

[2022-07-04 01:38] Sunnyiscoming commented on #292
@llifezou
1. It seems that two data samples do not work, can you explain about that?
![image](https://user-images.githubusercontent.com/105098820/177066679-9bd1a51b-7278-43b6-9f79-10ec89b0ea5e.png)
![image](https://user-images.githubusercontent.com/105098820/177066701-6ec33ed3-4e33-4b5d-bb59-103e15abad1f.png)
2. Your organization is not a platform open for users but developers. Can you explain whe

[2022-07-04 01:52] 1ane-1 opened #465 "[DataCap Application] <Genesis> - <SDCloud>"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: (Genesis) This is the same project from https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/260
Nobody reply to me for the next setp so i apply for it again.
- Website / Social Media:chuangshiIPFS-slack
- Total am

[2022-07-04 02:08] liyunzhi-666 commented on #173
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceajsuz225q7exy2fu6tmiv6t7l43qn3c7jz3ccipvqrufhcv5zpny

[2022-07-04 02:27] Samdatatrade1 commented on #382
@Yvette516
![6fed](https://user-images.githubusercontent.com/105560098/177069423-1f87b131-1393-419c-9e00-7ab456d0d3d9.png)
Hi, we have done it last week.

[2022-07-04 02:52] zhonghdadi commented on #309
any updates？ @galen-mcandrew @dkkapur

[2022-07-04 03:02] Bryan9498 commented on #209
Can any notary reply to Tony's Datacap Allocation Request?
Will appreciate your timely response in advance.
Thanks.

[2022-07-04 06:25] fireflyHZ commented on #294
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceayijj7zavrxvbvzb7w2rcfs7hx5ip4w7ko5kvcbunqevhnxyegig

[2022-07-04 06:37] Sunnyiscoming commented on #420
@Ray-PiKNiK
1. According to the https://filplus.d.interplanetary.one/clients/f01549256/breakdown
More than 60% datacap stored in one node, f01833311. Can you explain about that?

2. Can you specify storage providers you will cooperate with?

[2022-07-04 06:55] Sunnyiscoming commented on #421
@mazidoninc
1. Website can not be accessed.
![image](https://user-images.githubusercontent.com/105098820/177096703-11ad69e8-06a9-4eaa-b5b8-0f207f88117d.png)
2.Please provide On-chain address for first allocation.
3.Please provide data samples to prove that you have 4 PB data.

[2022-07-04 07:27] Sunnyiscoming commented on #426
@HowardAce  Hey. Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) with your official domain in order to confirm your identity?

[2022-07-04 07:33] zvooo opened #466 "[DataCap Application] LSware"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  LSware
- Website / Social Media: lsware.com
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 3PIB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TIB
- On-chain address for first allocat

[2022-07-04 07:42] Cora0307 opened #467 "[DataCap Application] Kimoc - <wide range data stored>"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Kimoc
- Website / Social Media: www.kimoc.cn
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):100TiB
- On-chain address for first allocatio

[2022-07-04 07:56] Maxpic-Studio commented on #456
@UnionLabs2020 My colleague sent it just now.
![Maxpic email](https://user-images.githubusercontent.com/106519851/177107808-a554a5c4-bf9d-441f-a70f-1045a7580fb4.png)

[2022-07-04 08:13] psh0691 commented on #296
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebkle2i5yak5zu7w3oqtvsvb6l5llvscfayftqy347buklbbeazue

[2022-07-04 08:16] Sunnyiscoming commented on #428
@fcdv1
1. Can you provide data use authorization certificate?
2. Please provide specific data samples.
3. You are advised to find appropriate storage service providers at first, which support data retrieval, meet the requirement fragmentation, etc.

[2022-07-04 08:49] Sunnyiscoming commented on #429
@Japg879
1. According to WHOIS query results, the website is registered by Xin Net Technology Corporation.
Registrar name: Xin Net Technology Corporation(https://www.xinnet.com/)
https://whois.whoisxmlapi.com/lookup-report/JB20jZMLkm

There is no relevant result after querying Yuepass Technologies Company Limited. Can you provide proof of the organization's existence?

2. Can you provide more data

[2022-07-04 09:15] Gonzalo1987 commented on #464
Hello @Kevin-PikNik! We confirm that our intention is to store the data across different places without sovereignty restrictions. In our opinion, one of the main advantages of the Filecoin Network is to diversify risk choosing differents regions and countries. Thanks.

[2022-07-04 09:43] newwebgroup commented on #89
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedxu3kbyhmlh5jfoep5u4b4nreomwhoeuiwplj7jw7v7evzz7p5cw

[2022-07-04 09:54] newwebgroup commented on #173
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecc2xonl7yzrhuydtctgnbcqk3autwr34ehk4rvhfr2e2tfgz7ldw

[2022-07-04 10:58] mococmedia commented on #380
I have sent, please check, thank you

[2022-07-04 11:55] 863software opened #468 "[DataCap Application] 863 SOFTWARE"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: HENAN 863 SOFTWARE CO., LTD
- Website / Social Media: https://www.863soft.com/en/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB

[2022-07-04 12:18] Japg879 commented on #429
@UnionLabs2020 ok. This is the email.
![Yuepass1](https://user-images.githubusercontent.com/106439727/177152862-72eea671-e508-4178-a3d7-4648a363dcd7.png)

@Sunnyiscoming Xin Net is providing domain name registration services and we registered our domin name on it.

Dataset you need: [Data.zip](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/9039324/Data.zip)

[2022-07-04 16:19] Kakkouii commented on #465
Take a look at this.
https://github.com/filecoin-project/notary-governance/issues/411#issuecomment-1120294025

[2022-07-04 19:53] neogeweb3 commented on #327
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedy4e5wq7aahdowoesvasddvsx7bpbzrthg4m5wqc2hvlgogtkpiw

[2022-07-05 00:40] cbtan21 commented on #391
@Sunnyiscoming @galen-mcandrew Hi Team, may I request for an update on the status of this application? Is it currently being reviewed or is there a blocker to this application? We have 4 notaries that approve of our application. Thank you for your help and time.

[2022-07-05 01:50] 1ane-1 commented on #465
Thanks for your question, pls let me explain it to you. Here about what Neo's comments that we have alreay try our best to correct it and made a clarifytion to Kevin and Deep and Galen. You can check this link: https://filplus.d.interplanetary.one/clients/f0510343/breakdown

[2022-07-05 01:51] 1ane-1 commented on #465
Thanks for your question, pls let me explain it to you. Here about what Neo's comments that we have alreay try our best to correct it and made a clarifytion to Kevin and Deep and Galen. You can check this link: https://filplus.d.interplanetary.one/clients/f0510343/breakdown

[2022-07-05 02:19] bjchend opened #469 "[DataCap Application] NFT Data Storage"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  NFTBomb
- Website / Social Media: https://nftbomb.org
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):  3PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain address for fi

[2022-07-05 02:25] liyunzhi-666 commented on #285
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedavgpakatqm5akqzac6kzuyuydaatylzdm4a5io2kpit4d2k4dlu

[2022-07-05 02:36] liyunzhi-666 commented on #89
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebkbdv6w5g7cntogeoc4fftqt2rsgco6tuplx4fhgln6uloo5qhea

[2022-07-05 02:46] liyunzhi-666 commented on #294
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecl3oif5fhoq6obqvna2mx2h2fk2sozdu2hdcsg4fwaiwxdhtdq7y

[2022-07-05 02:50] liyunzhi-666 commented on #248
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb3xitjl2luxzm57mmh6iohfvoxdcj3l6x2l5luoyfqsjvggputh4

[2022-07-05 02:54] Sunnyiscoming commented on #431
As you said, maybe this dataset is more

[2022-07-05 02:59] Sunnyiscoming commented on #292
Hi, @llifezou
As you said, your product is currently in the pilot stage. And you will be storing Filecoin snapshots, Filecoin proofs, platform analytics, etc.
I feel very confused about the data you will store. Where these data are from? To crawl data from other Filecoin browsers? As I know,  the code of most Filecoin browsers is open. So I don't know the meaning of you storing these data.
FIL+ la

[2022-07-05 03:06] 1ane-1 commented on #260
@dkkapur Pls check it, and really hope your reply~

[2022-07-05 04:45] llifezou commented on #292
@Sunnyiscoming Our product is in the pilot stage and is already released. Users can use our platform for free currently and we have simply yet to commercialized it. Our storage requirements is not limited to just Filecoin Network alone, we highlight Filecoin to express that we want to contribute more to the Filecoin ecosystem. We will be providing snapshots for several blockchains, not just Fileco

[2022-07-05 04:56] PluskitOfficial commented on #302
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecelj3t7rdwsrrjopqix6c4fzdk6xvzjhs2gyg3pw7q6cvjlyyrb4

[2022-07-05 06:35] Sunnyiscoming commented on #436
Hi,@cdcdx The following information is checked just to verify the authenticity of users and data, no offense.

1. Windows boot music doesn't seem like a good data example.

2.I didn't find any relevant informations about what you said about organization.
![image](https://user-images.githubusercontent.com/105098820/177264516-ecaae2cb-6514-42cd-9af5-61f003ba0614.png)
https://www.envato.com/, which i

[2022-07-05 06:38] Sunnyiscoming commented on #436
Are you an employee of Envato Pty LTD.?

[2022-07-05 06:40] HowardAce commented on #426
@Sunnyiscoming Please check

[2022-07-05 06:48] Sunnyiscoming commented on #437
@Mengzhichuangtech  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-07-05 07:53] dkkapur commented on #208
Hey @zzhh88 thanks for your patience, sorry I missed the notifications on these. Can confirm that I received messages back from zkLink#6914 and this is the account that is actively posting on the zk.Link server.

For any notaries - I would be happy to share screen and provide evidence of this basic KYC. Some screenshots:
![image](https://user-images.githubusercontent.com/2343218/177278285-218291f4

[2022-07-05 07:54] dkkapur commented on #208
@zzhh88 can you confirm that this project is still looking to get verified?

[2022-07-05 08:22] SAONetwork01 commented on #383
Hello @Sunnyiscoming, thanks for your kind reminder! We have dozens of terabyte data currently in local server. And it's estimated that there are going to be about 1PiB data to be generated in our Apps in the next 6 months. As far as I can see, the DataCap won't be given to us all at once but in a sequential allocation manner, won't it?

Here is a piece of data in one of our Apps, please check tha

[2022-07-05 08:37] snowliang123 commented on #100
Sorry for replying to you for so long, we are currently communicating with miners who have previously cooperated about supporting data retrieval. In the future, when choosing storage miners who cooperate, we will also give priority to those who support retrieval. We still hope that we can continue to approve new quotas to facilitate our continued business and cooperation. Thank you very much.

[2022-07-05 08:40] MegTei commented on #53
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceajdkmdf3vhw2t474mqs535rmemcammen7pumh7rxp47csi7bh3uy

[2022-07-05 14:15] galen-mcandrew commented on #78
https://github.com/filecoin-project/filecoin-plus-large-datasets/issues/453

Closing this issue since it has pretty much hit the ceiling of 5PiB, and there is an issue in the front-end not picking up the transaction.

[2022-07-05 14:15] #78 closed

[2022-07-05 18:26] Kakkouii commented on #465
Yeah there're 4 SPs now but it's very clear that f01019009 has less than 1% of total data let alone the rest 3 nodes are exceeding the data limitation of Fil+. @neogeweb3
<img width="1329" alt="image" src="https://user-images.githubusercontent.com/105268629/177391542-273df528-0a13-4c4d-826f-e4f3a0b49de4.png">

[2022-07-05 18:32] Kakkouii commented on #466
1. I can't find any relationship between the data sample and your company. An Internet security company with some random cosmetics pictures&videos?
2. The data samples per se are completely same as those in #463, which I believe the brand name on those materials belong  to #463.

[2022-07-05 18:36] Kakkouii commented on #464
@Gonzalo1987 Cool idea and I've taken a look at your application. There's one thing I'd like to figure out. You confirmed that it's a public dataset since it's encrypted. How can encrypted data be public?

[2022-07-05 18:48] Fenbushi-Filecoin commented on #464
We can support the application. Just curious, if the data is already encrypted on your side, is it necessary for SPs to comply with GDPR?

[2022-07-05 18:56] Kakkouii commented on #440
1. What the relationship between [钛墟寰镜](http://www.cbang.io/) and the link at the bottom of this website, http://www.keytocaring.com/index. The latter one seems to be the client company. So why there are different websites?
2. Both the two websites have very small amount of data, far from 5PB, and no clues indicates those data are as described in this application. Please provide more samples to pr

[2022-07-05 21:29] neogeweb3 commented on #465
The [flow chart](https://ipfs.io/ipfs/QmdseAWQFVm8ntLZ5mkHyYRs6bB3g2LACT44wjB5zPv4rq) is clear: I blacklist the client and flag the community, when severe violations occur. After that, it depends on the RKHs and community on how to handle it. In this case, RKHs decided to pause her notary application but then continued to process and granted round 3 notary identity. Even though the extra measures

[2022-07-06 00:22] Kevin-PiKNiK commented on #388
Thanks to @cryptowhizzard and @s0nik42 for the support. Proud to see the progress on this request made with Moose Mining, one of the startups from the very first ESPA Cohort.

[2022-07-06 00:52] DSS-AL commented on #425
Hi All, I have circulated a NDA to each of the supporting notaries in Slack. Thanks

[2022-07-06 02:05] Jimmy-metahallo commented on #392
@Sunnyiscoming Hey, it is the data sample.
https://user-images.githubusercontent.com/106655518/177451675-8f7e5ea0-a104-4773-9ef4-600938dd7457.mp4

[2022-07-06 02:39] jekc2008 opened #470 "[DataCap Application] <DERIER> - <website>"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: DERIER GROUP
- Website / Social Media:https://www.derier.com.cn
- Total amount of DataCap being requested (between 500 TiB and 5 PiB):1PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):10TiB
- On-chain address f

[2022-07-06 03:12] zzhh88 commented on #208
Hello, @dkkapur  Thank you very much! we confirm.

[2022-07-06 06:25] Sunnyiscoming commented on #439
The data sample provided are not related with the data will be stored on the Filecoin network, which are mostly videos of users sharing games. Can you provide more data samples about game development?
@Hailey-Li

[2022-07-06 06:50] 1ane-1 commented on #465
Thanks for the problem pointed out by NEO in the early stage, we have corrected the error in time after learning that the problem occurred, and disclosed the latest progress of the incident under the corresponding problem.
1. The content you screenshot is because the existing Datacap has been used up. We have tried our best to avoid the self-trading rules, so the content shown in the screenshot ap

[2022-07-06 07:03] Sunnyiscoming commented on #440
@AiYueKeJi Hi,
There are only a few contents published on the website.
http://www.cbang.io/category/short-video/
http://www.cbang.io/category/%e7%be%8e%e9%85%92%e4%b8%8e%e7%be%8e%e9%a3%9f%e4%b8%8d%e5%8f%af%e8%be%9c%e8%b4%9f/
It seems that this large dataset do not have 5 PB. Can you explain about that?
The website's estimated domain age: 58 day(s)

[2022-07-06 07:27] Sunnyiscoming commented on #311
@fildata  Hey. Could you send an email of your organization existence certificant to filplus@fil.org with your official domain in order to confirm your identity?

[2022-07-06 07:28] Gonzalo1987 commented on #464
Hello @Kakkouii! We should've been clearer. What we mean is that the data is publicly retrievable but encrypted. By storing on the Filecoin network, it is inherently public for anyone to retrieve but will be encrypted in order to comply with our company's privacy requirements and GDPR.

Hi @Fenbushi-Filecoin! Yes, every organization (SPs in this case) that stores data from European institutions or

[2022-07-06 07:41] edwarddong opened #471 "[DataCap Application] Krptic"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name:  krptic corporation
- Website / Social Media: https://www.krptic.com/
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 2PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB): 100TiB
- On-chain

[2022-07-06 07:48] shiji605 commented on #97
@dkkapur  Hi， sorry to keep you waiting, this is my company email：shiji@qingsongyu.cn, you can send a message to verify. Another LDN was entrusted by the cooperative company to help him apply.

[2022-07-06 07:49] Huifan-Tina0615 commented on #407
@galen-mcandrew @dkkapur Please tell me what should I do next. Thanks all!

[2022-07-06 08:04] Sunnyiscoming commented on #337
The governance will check the email and create multisig address after receiving that and checking the application materials.

[2022-07-06 08:11] Sunnyiscoming commented on #358
Can you list nodes of storage providers here?

[2022-07-06 08:13] Sunnyiscoming commented on #371
@Yvette516 Can you help to check the result?
The person you have called with is our vice president. Our leader who in charge in this has synchronized with the vice president now. You can have a call or email.
Thank you!

[2022-07-06 08:17] TopChina opened #472 "[DataCap Application] pCloud AG - Cloud Storage"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: pCloud AG
- Website / Social Media: 369.hk
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 4PiB
- Weekly allocation of DataCap requested (usually between 1-100TiB):50TiB
- On-chain address for first allocation:

[2022-07-06 08:21] Sunnyiscoming commented on #376
@litai686 As you said, this dataset is more suitable for the private enterprise data request pattern.

As Deep mentioned filecoin-project/notary-governance#514, you will need to find notaries that can support your application since it includes private enterprise data.

You will need to follow a process similar to filecoin-project/notary-governance#489. This means:

Find notaries that can support y

[2022-07-06 08:38] Sunnyiscoming commented on #392
I have saw related video on your website.
Hope to get more data samples related with your description about the data will be stored on the filecoin  network.

[2022-07-06 08:44] dkkapur commented on #457
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-06 08:45] dkkapur commented on #435
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-06 08:47] dkkapur commented on #427
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-06 08:47] dkkapur commented on #403
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-06 08:49] dkkapur commented on #432
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-06 08:54] dkkapur commented on #378
![image](https://user-images.githubusercontent.com/2343218/177511223-0f4d5b16-7327-487b-97ca-80aa7e9d8507.png)

I see this from an official @ntkblock.com email.

[2022-07-06 08:55] TopChina opened #473 "[DataCap Allocation] - Large Dataset Notary Application"
---
name: Large Dataset Notary application
about: Clients should use this application form to request a DataCap allocation via a LDN for a dataset
title: "Large Dataset Notary Application"
labels: 'application, Phase: Diligence'
assignees: ''

---
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Orga

[2022-07-06 08:56] dkkapur commented on #308
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-06 08:57] dkkapur commented on #275
@cryptowhizzard going to close this one out for now. Current plan is to scope into v3.1, for which we will have a separate central LDN application.

[2022-07-06 08:57] #275 closed

[2022-07-06 08:59] dkkapur commented on #260
@1ane-1 looks like you already got 1 proposal, just need one more notary to sign for the first allocation. I fixed the labels so that this shows up correctly for notaries.

[2022-07-06 09:05] Beacon-Edu opened #474 "[DataCap Application] Project Beacon LDN 5/12 - IPFS Qinshihuang"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educational programs, our website will only be available to PL and the relevant notaries.
- Total amount of DataCap being requested

[2022-07-06 09:06] Beacon-Edu opened #475 "[DataCap Application] Project Beacon LDN 6/12 - Zongheng Storage"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educational programs, our website will only be available to PL and the relevant notaries.
- Total amount of DataCap being requested

[2022-07-06 09:06] Beacon-Edu opened #476 "[DataCap Application] Project Beacon LDN 7/12 - WeiLai Blockchain"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educat

[2022-07-06 09:07] Beacon-Edu opened #477 "[DataCap Application] Project Beacon LDN 8/12 - Meixi Power"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Beacon Project
- Website / Social Media: Due to the privacy concerns of many parties involved in our educational programs, our website will only be available to PL and the relevant notaries.
- Total amount of DataCap being requested

[2022-07-06 09:12] 1ane-1 commented on #260
Thank you so much, we will go to next setp for the signature.

[2022-07-06 09:14] dkkapur opened #478 "[DataCap Application] Protocol Labs - Slingshot v3"
# Large Dataset Notary Application

To apply for DataCap to onboard your dataset to Filecoin, please fill out the following.

## Core Information
- Organization Name: Protocol Labs
- Website / Social Media: https://protocol.ai/, https://slingshot.filecoin.io
- Total amount of DataCap being requested (between 500 TiB and 5 PiB): 5 PiB
- Weekly allocation of DataCap requested (usually between 1-100T

[2022-07-06 09:51] Yvette516 commented on #392
@Jimmy-metahallo Could you send an email to [filplus@fil.org](mailto:filplus@fil.org) from your officail email Account?

[2022-07-06 13:48] UnionLabs2020 commented on #372
OK, thanks for your reply.

[2022-07-06 15:30] newwebgroup commented on #457
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecyhkqndhk7m46k5b7r7rlhfywj5biqjfolbpuboepvxcen7f3ss6

[2022-07-06 16:36] Fenbushi-Filecoin commented on #141
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecmlivbrlr6hgshchnkrwkzcaqg75igzpglsquk6jitlns5hcuz3o

[2022-07-07 01:14] MRJAVAZHAO commented on #64
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceawloxjaaumelp7mnprzfr6qihrptlxuz564dykqg47ihk6tqrrsc

[2022-07-07 01:15] dkkapur commented on #425
@xingjitansuo yes. IMO, when notaries from other regions can verify and support a client in the case of private/encrypted data, that should help with building confidence in the client/project. Regardless of where the data is stored, the hope with the LDN process is to enable active notaries and community members to participate in the verification process and minimize the likelihood of DataCap abus

[2022-07-07 01:18] dkkapur commented on #425
List of notaries for the multisig that needs to be stood up for this particular project:

- Fei Yan / Kernelogic / @kernelogic: f1yjhnsoga2ccnepb7t3p3ov5fzom3syhsuinxexa
- Wijnand Schouten / Speedium / @cryptowhizzard: f1krmypm4uoxxf3g7okrwtrahlmpcph3y7rbqqgfa
- Eric / ByteBase / @swatchliu: f1yh6q3nmsg7i2sys7f7dexcuajgoweudcqj2chfi
- Meg Dennis / Holon / @MegTei: f1ystxl2ootvpirpa7ebgwl7vlhwkbx2r

[2022-07-07 01:20] dkkapur commented on #425
@DSS-AL

The two replicas only make sense if they are in different locations. Is there a second datacenter where you will host the second 1 PiB replica? There's no upside to using the same SP operator/datacenter from a data loss mitigation standpoint.

[2022-07-07 01:35] MetaWaveInfo commented on #391
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaxd5kxsd3qy4k2ambzhg3q3pmsufbqiiiipavckd6cxmyu45q6a4

[2022-07-07 01:40] galen-mcandrew commented on #478
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:42] galen-mcandrew commented on #372
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:43] liyunzhi-666 commented on #457
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec6l2kdw5ulfmeygtc56kn53dbn4bxu3chdmnd4bvxfip4y7bk34i

[2022-07-07 01:46] MetaWaveInfo commented on #453
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceaxiqjdf7gb3htlihalaqrqkgwgf5p5saiy2r22hl73swppu74emm

[2022-07-07 01:46] galen-mcandrew commented on #309
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:47] BlockMakeronline commented on #64
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacebrm5ey6yuq5kg24i3p6sooxvmmjhz3u2uj234sfp6lt6eln2ym2e

[2022-07-07 01:49] galen-mcandrew commented on #337
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:50] galen-mcandrew commented on #407
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:51] galen-mcandrew commented on #374
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:52] galen-mcandrew commented on #404
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:53] Metaipfs commented on #147
@Eric @TimWilliams @DarnellWashington @FenbushiCapital @WijnandSchouten @XnMatrix @DannyO'brien @JulianNOEL @IreneYoung @EmmaRussell @Holon Innovations
Hope life is treating you well! Can I please be updated with the issue of further datacap allocation? I've been waiting patiently up until this point and I'd like to know what's holding on your end. Thank you so much.

[2022-07-07 01:54] galen-mcandrew commented on #292
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:54] galen-mcandrew commented on #375
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:55] galen-mcandrew commented on #330
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:58] galen-mcandrew commented on #367
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 01:59] Sunnyiscoming commented on #399
@lucasonione  Hey. Could you send an email to filplus@fil.org with your official domain in order to confirm your identity?

[2022-07-07 02:00] Sunnyiscoming commented on #401
Any update here?

[2022-07-07 02:07] Sunnyiscoming commented on #412
Any update here?

[2022-07-07 02:07] Fatman13 commented on #393
Hello, @galen-mcandrew @dkkapur, is there any update on this?

[2022-07-07 02:07] Sunnyiscoming commented on #412
Any update here?

[2022-07-07 02:09] Sunnyiscoming commented on #413
Any update here?

[2022-07-07 02:11] Sunnyiscoming commented on #415
If the dataset is not public for everyone to download.
As Deep mentioned filecoin-project/notary-governance#514, you will need to find notaries that can support your application since it includes private enterprise data.

You will need to follow a process similar to filecoin-project/notary-governance#489. This means:

Find notaries that can support your application. You can do this best in Slack,

[2022-07-07 02:14] Sunnyiscoming commented on #429
There is no relevant result after querying Yuepass Technologies Company Limited. Can you provide proof of the organization's existence?
Can you explain about that?

[2022-07-07 03:18] galen-mcandrew commented on #279
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 03:19] galen-mcandrew commented on #286
Due to no reply from client, we are closing this issue for now. When ready, please reopen or submit a new request here: https://plus.fil.org/ldn-application

[2022-07-07 03:19] #286 closed

[2022-07-07 03:20] galen-mcandrew commented on #299
Due to no reply from client, we are closing this issue for now. When ready, please reopen or submit a new request here: https://plus.fil.org/ldn-application

[2022-07-07 03:20] #299 closed

[2022-07-07 03:20] galen-mcandrew commented on #307
Due to no reply from client, we are closing this issue for now. When ready, please reopen or submit a new request here: https://plus.fil.org/ldn-application

[2022-07-07 03:20] #307 closed

[2022-07-07 03:21] galen-mcandrew commented on #311
## Datacap Request Trigger
#### Total DataCap requested

#### Expected weekly DataCap usage rate

#### Client address

[2022-07-07 04:01] kernelogic commented on #478
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedpzti4fmfzlljx2zn3eldqdcfuyv7vydfsbuo25m27o5ibih5wde

[2022-07-07 04:02] kernelogic commented on #378
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb4lshgdpopn62fhuyehxbx44bjjtcsquisd3am6clc3p636fnymm

[2022-07-07 05:01] xingjitansuo commented on #310
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedldotpvux5dkjdedgs4nzubdh7tv7xl4d6sn7yzc7cjmiomkrpb2

[2022-07-07 05:12] xingjitansuo commented on #378
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecfqql2w5hr2ghfz2g7csjx5y45o5afre57k7vqnndv5i3h4ofgug

[2022-07-07 05:17] xingjitansuo commented on #308
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedfuwpyxffdezk2ddmgsf24mftex67gwsr5ke42sw7vwliblszmjw

[2022-07-07 05:30] DSS-AL commented on #425
Hi @dkkapur,

1. Yes the two replicas are to be sealed and stored in two separate data centres.
2. The customer themselves have not yet confirmed the breakdown between public and private yet, however indicated it could be roughly 50:50.

[2022-07-07 05:31] DSS-AL commented on #425
@galen-mcandrew this is a good idea, I'll get Nathanial to create a new client address, however he is currently volunteering with flood relief here in Sydney so it will be tomorrow at the earliest. Thanks

[2022-07-07 06:05] #411 closed

[2022-07-07 06:46] aiyij commented on #165
@newwebgroup Hello, can you approve it for me

[2022-07-07 08:47] Jimmy-metahallo commented on #392
[392.txt](https://github.com/filecoin-project/filecoin-plus-large-datasets/files/9059697/392.txt)
@Sunnyiscoming like this data.

[2022-07-07 08:47] Jimmy-metahallo commented on #392
![dejwirg](https://user-images.githubusercontent.com/106655518/177730521-452c54ff-e77b-47b2-8db6-6864aa84ce33.png)
I've sent the email but it seems to be a problem about sending it. @Sunnyiscoming @Yvette516

[2022-07-07 09:09] psh0691 commented on #350
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedtx2auvoekxyhi2xhsxeohxf4fqmivi7l5ck2nwpye3xritryala

[2022-07-07 09:10] newwebgroup commented on #356
<img width="672" alt="image" src="https://user-images.githubusercontent.com/100118145/177736769-f7243f2a-2f48-4938-a7cc-f318b4006e6e.png">
Hi Galen @galen-mcandrew   Deep @dkkapur   and  @Sunnyiscoming

**The latest good news**
through our communication with customers, all data can be made public and can be retrieved by everyone.

[2022-07-07 09:15] Sunnyiscoming commented on #450
@dvdmrs09 Hi, there are some question you need answer and do some adjustments.

1.One questionable answer
Total amount of DataCap being requested (between 500 TiB and 5 PiB): 400

2.Please answer the following questions

Use-case details
Describe the data being stored onto Filecoin

Please answer here.
Where was the data in this dataset sourced from?

Please answer here.
Can you share a sample of

[2022-07-07 10:14] liyunzhi-666 commented on #403
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec233fg4ysfh56su54acjvw3sckv3pmfza2uuwzgry4xkmimnmqmi

[2022-07-07 11:07] newwebgroup commented on #279
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedlbqpzzpuhlexjc7c3nb7erpilawe2enxpbuuobyvymkifx74tjy

[2022-07-07 11:57] MRJAVAZHAO commented on #372
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedl23f32gdfhllahfvkyybnqwamop6slh4ioruwgjcjmefgop7wnw

[2022-07-07 12:12] BlockMakeronline commented on #407
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecuczqxeda4gwc6uh6oz3i5rbxlxv6evghh5zkckgcka6vrrrbhhi

[2022-07-07 18:08] Kakkouii commented on #440
1.I do understand your situation here but a pre-alpha website and data uploaded by users in the FUTURE doesn't seem to be an adequate reason to apply 5PB DataCap.
2.According to your screenshot, activity of your users are relatively low. The total view of the website is merely 220, that's far from 300,000 users or how many active users do you have to upload data to the future website.
3.Since the

[2022-07-08 01:21] galen-mcandrew commented on #378
Adjusted comment from PiB to TiB

[2022-07-08 02:07] llifezou commented on #292
why is that? what should we do @galen-mcandrew

[2022-07-08 02:20] Sunnyiscoming commented on #292
@llifezou There are some checking on the sample data and the source of data.
Sorry for the delay. It will be procceed in a short time if nothing unusual.

[2022-07-08 02:56] PluskitOfficial commented on #374
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacedfrrbzdv5zuw2xzk4x3bao7uhkzrmdsacpkybp7e4z4vps5ez34o

[2022-07-08 02:58] PluskitOfficial commented on #372
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb3mq7cwj3kclqfhyhdbhkf3ryzcf3uv3vuegg3mxb3varb3vq2c6

[2022-07-08 04:42] psh0691 commented on #186
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceajlfzcovzlfpakx2mpojlovhdctyetusccipekk232iyz2hw2iru

[2022-07-08 05:24] psh0691 commented on #115
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceashnbzj2claojjcc22mwde25g2xxzefxzw6aalrbkmmauazryces

[2022-07-08 05:51] BlockMakeronline commented on #427
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacec4gmjqlo4invohwnjp5dxalahnh6dyahop3mzoz24gv36ughe6iu

[2022-07-08 05:52] BlockMakeronline commented on #306
## Request Proposed
Your Datacap Allocation Request has been proposed by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecscm3ny6su3oe7euzam6ug5lxnf7w25y6zm3uehhbrpaxeppzhga

[2022-07-08 05:54] PluskitOfficial commented on #407
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaceb5tpssyakotykeawc27yofo74huxsb5lhj2ddr6xnqs4thjzz74i

[2022-07-08 07:52] YoWANT01 commented on #418
Hi, @galen-mcandrew  We would like to know what else should we offer?

[2022-07-08 09:27] MRJAVAZHAO commented on #427
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecc4mv57sbfyljfjvvqc3p4wie4katl36hxmjjccfjwdssov36aci

[2022-07-08 09:28] MRJAVAZHAO commented on #306
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzacecc3qqc5gpduvvt7xvsreptfvyvgytgd4yogo52zrh6yctxunj636

[2022-07-08 09:45] AiYueKeJi commented on #440
Hi，[Kakkouii](https://github.com/Kakkouii)，Thanks for your questions.
AiYao is a health service company. In the past, we focused on sales and development and did not pay much attention to data storage. Now we have more than 300,000 real users, a large number of health education and various data provided by users. We urgently need a platform to store these precious materials.

1.AiYao is a business

[2022-07-08 14:35] swatchliu commented on #260
## Request Approved
Your Datacap Allocation Request has been approved by the Notary
#### Message sent to Filecoin Network

#### Address

#### Datacap Allocated

#### Signer Address

#### You can check the status of the message here: https://filfox.info/en/message/bafy2bzaced2klxdqplcrqjfugpblkja7bh22jdoplrprimjag5ali4sjzi7f4

[2022-07-08 21:15] #86 closed

[2022-07-08 21:25] #190 closed

[2022-07-08 23:43] Ray-PiKNiK commented on #420
1. f01833311 is PiKNiK's SP. As the data owners and facilitators we are able to seal the datacap more quickly than the other SPs but in the long run, each of the many SPs we are partnered with will have an even share of the datacap.
2. We are currently working with: Equity Labs, DLTX, DSS, Filswan, Holon, Linix, Seal Storage, Techgreedy, Telnyx, Lucky Storage, DCENT and Blocz IO.

[2022-07-08 23:46] fdd20201015 commented on #273
@Sunnyiscoming @dkkapur

WREA agrees.
Data stored in FIL+ is open without encryption and provides data retrieval.